Repository magefree/mage, changes with the labels that .github/labeler.yml gives for each.
All labels: dev, engine, client, server, tests, cards

.github/labeler.yml:

dev:
  - changed-files:
    - any-glob-to-any-file: [ '*', 'Utils/**', '/.github/**' ]

engine:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage/**' ]

client:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Client/**', 'Mage.Common/**', 'Mage.Plugins/**' ]

server:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Server*/**' ]

tests:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Verify/**', 'Mage.Tests/**', 'Mage.Reports/**' ]

cards:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Sets/**' ]

[TMP] Implement Phyrexian Splicer (part of #5379)
  Mage.Sets/src/mage/cards/a/AkromaAngelOfWrath.java
  Mage.Sets/src/mage/cards/p/PhyrexianSplicer.java
  Mage.Sets/src/mage/sets/Tempest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tmp/PhyrexianSplicerTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
Labels: tests, cards

images: fixed wrong miss image message in card hints for dungeons and other command objects (part of #12274);
  Mage.Common/src/main/java/mage/view/StackAbilityView.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/constants/MageObjectType.java
Labels: engine, client, tests

various "different name" refactors
  Mage.Sets/src/mage/cards/a/ApproachOfTheSecondSun.java
  Mage.Sets/src/mage/cards/a/AudienceWithTrostani.java
  Mage.Sets/src/mage/cards/a/AwakenedAmalgam.java
  Mage.Sets/src/mage/cards/b/BattleForBretagard.java
  Mage.Sets/src/mage/cards/e/EerieUltimatum.java
  Mage.Sets/src/mage/cards/f/FieldOfTheDead.java
  Mage.Sets/src/mage/cards/g/GimbalGremlinProdigy.java
  Mage.Sets/src/mage/cards/l/LilianasContract.java
  Mage.Sets/src/mage/cards/m/MarvinMurderousMimic.java
  Mage.Sets/src/mage/cards/m/MazesEnd.java
  Mage.Sets/src/mage/cards/m/MonumentToPerfection.java
  Mage.Sets/src/mage/cards/o/OrmosArchiveKeeper.java
  Mage.Sets/src/mage/cards/s/SandsteppeWarRiders.java
  Mage.Sets/src/mage/cards/s/SignalTheClans.java
  Mage.Sets/src/mage/cards/t/TheNecrobloom.java
  Mage.Sets/src/mage/cards/t/TibaltsTrickery.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: engine, cards

Fix Zenith Chronicler bug.
  Mage.Sets/src/mage/cards/z/ZenithChronicler.java
Labels: cards

If Emerge reduces mana cost to zero, pass noMana flag to allow spell to be cast with empty manaCostsToPay.
  Mage/src/main/java/mage/abilities/keyword/EmergeAbility.java
Labels: engine

If Emerge reduces mana cost to zero, pass noMana flag to allow spell to be cast with empty manaCostsToPay. (#12896)
  Mage/src/main/java/mage/abilities/keyword/EmergeAbility.java
Labels: engine

server: now idle response timeout will be disabled in local games with 1 human player
  Mage.Server/src/main/java/mage/server/game/GameController.java
Labels: server

images: added The Ring image support (part of #12274, #12899); images: fixed miss dungeon image in choose dungeon dialog (part of #12274);
  Mage.Client/src/main/java/mage/client/dialog/PickChoiceDialog.java
  Mage/src/main/java/mage/cards/repository/TokenRepository.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/command/Dungeon.java
  Mage/src/main/java/mage/game/command/Emblem.java
  Mage/src/main/java/mage/game/command/Plane.java
  Mage/src/main/java/mage/game/command/emblems/EmblemOfCard.java
  Mage/src/main/java/mage/game/command/emblems/TheRingEmblem.java
Labels: engine, client

Fixed #12883.
  Mage/src/main/java/mage/game/stack/SpellStack.java
Labels: engine

GUI, game: improved player panel icons for better look in dark theme
  Mage.Client/src/main/resources/info/energy.png
  Mage.Client/src/main/resources/info/experience.png
  Mage.Client/src/main/resources/info/rad.png
Labels: client

Update Commander ban list.
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/Commander.java
Labels: server

Create failed.txt
  failed.txt
Labels: dev

Implement Fearsome Whelp
  Mage.Sets/src/mage/cards/f/FearsomeWhelp.java
  Mage.Sets/src/mage/sets/AlchemyInnistrad.java
Labels: cards

normalize another unicode symbol
  Mage/src/main/java/mage/cards/decks/CardNameUtil.java
Labels: engine

fix rarity in DSC
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

hide some reminder text
  Mage.Sets/src/mage/cards/c/ConductiveMachete.java
  Mage.Sets/src/mage/cards/c/CursedWindbreaker.java
  Mage.Sets/src/mage/cards/d/DissectionTools.java
  Mage.Sets/src/mage/cards/e/ExperimentalPilot.java
  Mage.Sets/src/mage/cards/j/JacesSanctum.java
  Mage.Sets/src/mage/cards/k/KillersMask.java
  Mage.Sets/src/mage/cards/l/LongRiverLurker.java
  Mage.Sets/src/mage/cards/n/NashiSearcherInTheDark.java
  Mage.Sets/src/mage/cards/o/OracleOfTheAlpha.java
  Mage.Sets/src/mage/cards/r/ReaperOfTheWilds.java
  Mage.Sets/src/mage/cards/s/SawbladeSkinripper.java
  Mage.Sets/src/mage/cards/s/StrengthTestingHammer.java
  Mage.Sets/src/mage/cards/w/WinterMisanthropicGuide.java
Labels: cards

Fix Fearsome Whelp
  Mage.Sets/src/mage/cards/f/FearsomeWhelp.java
Labels: cards

some more refactoring
  Mage.Sets/src/mage/cards/a/AssemblyHall.java
  Mage.Sets/src/mage/cards/a/AvenShrine.java
  Mage.Sets/src/mage/cards/b/Banishment.java
  Mage.Sets/src/mage/cards/b/BazaarOfWonders.java
  Mage.Sets/src/mage/cards/b/Bifurcate.java
  Mage.Sets/src/mage/cards/b/BloodbondMarch.java
  Mage.Sets/src/mage/cards/c/CabalShrine.java
  Mage.Sets/src/mage/cards/c/CurseOfMisfortunes.java
  Mage.Sets/src/mage/cards/e/EchoingCourage.java
  Mage.Sets/src/mage/cards/e/EchoingDecay.java
  Mage.Sets/src/mage/cards/e/EchoingTruth.java
  Mage.Sets/src/mage/cards/g/GuardianProject.java
  Mage.Sets/src/mage/cards/h/HomingLightning.java
  Mage.Sets/src/mage/cards/i/InfernalTutor.java
  Mage.Sets/src/mage/cards/i/IzzetStaticaster.java
  Mage/src/main/java/mage/abilities/effects/common/DestroyAllNamedPermanentsEffect.java
  Mage/src/main/java/mage/abilities/keyword/RippleAbility.java
  Mage/src/main/java/mage/filter/predicate/mageobject/SharesNamePredicate.java
Labels: engine, cards

[BLB] Dragonhawk, Fate's Tempest
  Mage.Sets/src/mage/cards/d/DragonhawkFatesTempest.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/abilities/effects/common/ExileTopXMayPlayUntilEffect.java
Labels: engine, cards

[BLB] Festival of Embers
  Mage.Sets/src/mage/cards/f/FestivalOfEmbers.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

[BLB] Jackdaw Savior + test
  Mage.Sets/src/mage/cards/j/JackdawSavior.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blb/JackdawSaviorTest.java
  Mage/src/main/java/mage/abilities/common/DiesThisOrAnotherTriggeredAbility.java
Labels: engine, tests, cards

[BLB] The Infamous Cruelclaw
  Mage.Sets/src/mage/cards/t/TheInfamousCruelclaw.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

typo
  Mage/src/main/java/mage/game/command/Dungeon.java
  Mage/src/main/java/mage/game/command/emblems/RadiationEmblem.java
  Mage/src/main/java/mage/game/command/emblems/TheRingEmblem.java
  Mage/src/main/java/mage/game/command/emblems/XmageHelperEmblem.java
Labels: engine

tests: added test for LKI from copied spell (related to Swan Song fix from #12883)
  Mage.Tests/src/test/java/org/mage/test/cards/copy/CopySpellTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/game/stack/SpellStack.java
Labels: engine, tests

bump version
  Mage.Common/src/main/java/mage/utils/MageVersion.java
Labels: client

Revert "Create failed.txt"
  failed.txt
Labels: dev

Implement deterministic Ability ID generation in PermanentImpl.addAbility
  Mage/src/main/java/mage/abilities/Ability.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/abilities/effects/Effect.java
  Mage/src/main/java/mage/abilities/effects/EffectImpl.java
  Mage/src/main/java/mage/abilities/effects/Effects.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Mage/src/main/java/mage/game/stack/StackAbility.java
Labels: engine

Add AnyMana instead of each individual color
  Mage.Sets/src/mage/cards/s/SeanceBoard.java
Labels: cards

Use AnyMana in Food Chain + Helga, Skittish Seer
  Mage.Sets/src/mage/cards/f/FoodChain.java
  Mage.Sets/src/mage/cards/h/HelgaSkittishSeer.java
Labels: cards

Change ID generation to simple XOR and fix LSB/MSB swap
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
Labels: engine

Simplifying constructors and other minor fixes
  Mage.Sets/src/mage/cards/t/TegwyllsScouring.java
  Mage/src/main/java/mage/abilities/common/PayMoreToCastAsThoughtItHadFlashAbility.java
Labels: engine, cards

Fixed #12900
  Mage.Sets/src/mage/cards/l/LegionsInitiative.java
Labels: cards

add some new cardutil stuff
  Mage.Sets/src/mage/cards/c/ChromeReplicator.java
  Mage.Sets/src/mage/cards/s/SphinxOfTheChimes.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: engine, cards

more refactoring
  Mage.Sets/src/mage/cards/c/CephalidShrine.java
  Mage.Sets/src/mage/cards/d/DeputyOfDetention.java
  Mage.Sets/src/mage/cards/d/DwarvenShrine.java
  Mage.Sets/src/mage/cards/h/HarnessTheStorm.java
  Mage.Sets/src/mage/cards/l/LegionsToAshes.java
  Mage.Sets/src/mage/cards/m/MaskOfTheMimic.java
  Mage.Sets/src/mage/cards/m/Mimeofacture.java
  Mage.Sets/src/mage/cards/m/MishraArtificerProdigy.java
  Mage.Sets/src/mage/cards/m/MitoticManipulation.java
  Mage.Sets/src/mage/cards/m/MoratoriumStone.java
  Mage.Sets/src/mage/cards/n/NantukoShrine.java
  Mage.Sets/src/mage/cards/p/PackHunt.java
  Mage.Sets/src/mage/cards/r/Remembrance.java
  Mage.Sets/src/mage/cards/s/SecretSalvage.java
  Mage.Sets/src/mage/cards/s/SeverTheBloodline.java
  Mage.Sets/src/mage/cards/s/StrataScythe.java
  Mage.Sets/src/mage/cards/t/TheApprenticesFolly.java
  Mage.Sets/src/mage/cards/v/VerdantSuccession.java
  Mage.Sets/src/mage/cards/w/Winnow.java
Labels: cards

Dragonhawk changes
  Mage.Sets/src/mage/cards/d/DragonhawkFatesTempest.java
  Mage/src/main/java/mage/abilities/effects/common/ExileTopXMayPlayUntilEffect.java
Labels: engine, cards

fix verify
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

refactor cards that search for multiple matching names
  Mage.Sets/src/mage/cards/c/ClarionUltimatum.java
  Mage.Sets/src/mage/cards/d/Dichotomancy.java
  Mage.Sets/src/mage/cards/d/DoublingChant.java
  Mage/src/main/java/mage/target/common/TargetCardWithSameNameAsPermanents.java
Labels: engine, cards

Added a toolbar background color option to themes and set a dark color for the Carbon Fiber theme.
  Mage.Client/src/main/java/mage/client/cards/CardsList.java
  Mage.Client/src/main/java/mage/client/cards/DragCardGrid.java
  Mage.Client/src/main/java/mage/client/deckeditor/CardSelector.java
  Mage.Client/src/main/java/mage/client/themes/ThemeType.java
Labels: client

Adding common collation for boosters
  Mage.Sets/src/mage/sets/PhyrexiaAllWillBeOne.java
Labels: cards

Add files via upload
  Mage.Sets/src/mage/sets/PhyrexiaAllWillBeOne.java
Labels: cards
