Repository magefree/mage, changes with the labels that .github/labeler.yml gives for each.
All labels: dev, engine, client, server, tests, cards

.github/labeler.yml:

dev:
  - changed-files:
    - any-glob-to-any-file: [ '*', 'Utils/**', '/.github/**' ]

engine:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage/**' ]

client:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Client/**', 'Mage.Common/**', 'Mage.Plugins/**' ]

server:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Server*/**' ]

tests:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Verify/**', 'Mage.Tests/**', 'Mage.Reports/**' ]

cards:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Sets/**' ]

add more tests
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ImpendingTest.java
Labels: tests

a few card rewrites
  Mage.Sets/src/mage/cards/d/DetentionSphere.java
  Mage.Sets/src/mage/cards/g/GrimoireThief.java
  Mage.Sets/src/mage/cards/r/ReflectorMage.java
  Mage.Sets/src/mage/cards/s/SearchTheCity.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: engine, cards

[DSK] Implement Shroudstomper
  Mage.Sets/src/mage/cards/s/Shroudstomper.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Boilerbilges Ripper
  Mage.Sets/src/mage/cards/b/BoilerbilgesRipper.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Seized from Slumber
  Mage.Sets/src/mage/cards/s/SeizedFromSlumber.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement The Mindskinner
  Mage.Sets/src/mage/cards/t/TheMindskinner.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Sheltered by Ghosts
  Mage.Sets/src/mage/cards/s/ShelteredByGhosts.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Found Footage
  Mage.Sets/src/mage/cards/f/FoundFootage.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/LookAtOpponentFaceDownCreaturesAnyTimeEffect.java
Labels: engine, cards

small change to conditional mode choice
  Mage/src/main/java/mage/abilities/Modes.java
Labels: engine

small fix
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ImpendingTest.java
Labels: tests

Implement Impending mechanic (#12865)
  Mage.Sets/src/mage/cards/o/OverlordOfTheBalemurk.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheBoilerbilges.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheFloodpits.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheHauntwoods.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheMistmoors.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ImpendingTest.java
  Mage/src/main/java/mage/abilities/costs/AlternativeSourceCostsImpl.java
  Mage/src/main/java/mage/abilities/keyword/ImpendingAbility.java
Labels: engine, tests, cards

refactor: use getter method when setting paw prints, rather than direct access
  Mage.Sets/src/mage/cards/s/SeasonOfGathering.java
  Mage.Sets/src/mage/cards/s/SeasonOfLoss.java
  Mage.Sets/src/mage/cards/s/SeasonOfTheBold.java
  Mage.Sets/src/mage/cards/s/SeasonOfTheBurrow.java
  Mage.Sets/src/mage/cards/s/SeasonOfWeaving.java
Labels: cards

fix a few text discrepancies
  Mage.Sets/src/mage/cards/b/BloodSeeker.java
  Mage.Sets/src/mage/cards/f/FoundFootage.java
  Mage.Sets/src/mage/cards/s/SeasonOfTheBold.java
  Mage.Sets/src/mage/cards/s/SeasonOfWeaving.java
  Mage.Sets/src/mage/cards/s/SuturePriest.java
  Mage.Sets/src/mage/cards/v/ViolentUrge.java
  Mage/src/main/java/mage/abilities/common/EntersBattlefieldOrAttacksSourceTriggeredAbility.java
  Mage/src/main/java/mage/abilities/costs/AlternativeCostImpl.java
Labels: engine, cards

Fix Party Thrasher play from exile effect (#12836)
  Mage.Sets/src/mage/cards/p/PartyThrasher.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mh3/PartyThrasherTest.java
Labels: tests, cards

Fix Adrestia to use existing effect, use {this} in text.
  Mage.Sets/src/mage/cards/a/Adrestia.java
Labels: cards

Fix Aveline de Grandpre and Necropolis Regent to use SavedDamageValue.
  Mage.Sets/src/mage/cards/a/AvelineDeGrandpre.java
  Mage.Sets/src/mage/cards/n/NecropolisRegent.java
Labels: cards

[ACR] Implement Staff of Eden, Vault's Key
  Mage.Sets/src/mage/cards/s/StaffOfEdenVaultsKey.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

[ACR] Implement Staff of Eden, Vault's Key (#12869)
  Mage.Sets/src/mage/cards/s/StaffOfEdenVaultsKey.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

Remove unneeded CompoundCondition wrapping
  Mage.Sets/src/mage/cards/w/WowzerTheAspirational.java
Labels: cards

Use individual hints for each condition
  Mage.Sets/src/mage/cards/w/WowzerTheAspirational.java
Labels: cards

Update painlands to use simpler tapping
  Mage.Sets/src/mage/cards/a/AdarkarWastes.java
  Mage.Sets/src/mage/cards/b/BattlefieldForge.java
  Mage.Sets/src/mage/cards/b/Brushland.java
  Mage.Sets/src/mage/cards/c/CavesOfKoilos.java
  Mage.Sets/src/mage/cards/k/KarplusanForest.java
  Mage.Sets/src/mage/cards/l/LlanowarWastes.java
  Mage.Sets/src/mage/cards/s/ShivanReef.java
  Mage.Sets/src/mage/cards/s/SulfurousSprings.java
  Mage.Sets/src/mage/cards/u/UndergroundRiver.java
  Mage.Sets/src/mage/cards/y/YavimayaCoast.java
Labels: cards

Optimise imports
  Mage.Sets/src/mage/cards/a/AdarkarWastes.java
  Mage.Sets/src/mage/cards/b/BattlefieldForge.java
  Mage.Sets/src/mage/cards/b/Brushland.java
  Mage.Sets/src/mage/cards/c/CavesOfKoilos.java
  Mage.Sets/src/mage/cards/k/KarplusanForest.java
  Mage.Sets/src/mage/cards/l/LlanowarWastes.java
  Mage.Sets/src/mage/cards/s/ShivanReef.java
  Mage.Sets/src/mage/cards/s/SulfurousSprings.java
  Mage.Sets/src/mage/cards/u/UndergroundRiver.java
  Mage.Sets/src/mage/cards/y/YavimayaCoast.java
Labels: cards

[DSC] update spoiler and reprints
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

[DSK] Implement Glimmerburst
  Mage.Sets/src/mage/cards/g/Glimmerburst.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Beastie Beatdown
  Mage.Sets/src/mage/cards/b/BeastieBeatdown.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

rework allowing additional modes conditionally
  Mage.Sets/src/mage/cards/a/AkromasWill.java
  Mage.Sets/src/mage/cards/d/DiscipleOfPerdition.java
  Mage.Sets/src/mage/cards/d/DrownInDreams.java
  Mage.Sets/src/mage/cards/f/FlameOfAnor.java
  Mage.Sets/src/mage/cards/j/JeskasWill.java
  Mage.Sets/src/mage/cards/k/KamahlsWill.java
  Mage.Sets/src/mage/cards/k/KlauthsWill.java
  Mage.Sets/src/mage/cards/l/LetsPlayAGame.java
  Mage.Sets/src/mage/cards/m/MoltenCollapse.java
  Mage.Sets/src/mage/cards/s/SakashimasWill.java
  Mage.Sets/src/mage/cards/s/SeeDouble.java
  Mage.Sets/src/mage/cards/s/SoulTransfer.java
  Mage.Sets/src/mage/cards/s/SzatsWill.java
  Mage.Sets/src/mage/cards/w/WailOfTheForgotten.java
  Mage/src/main/java/mage/abilities/Modes.java
Labels: engine, cards

[DSK] Implement Saw
  Mage.Sets/src/mage/cards/s/Saw.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Coordinated Clobbering
  Mage.Sets/src/mage/cards/c/CoordinatedClobbering.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Sporogenic Infection
  Mage.Sets/src/mage/cards/s/SporogenicInfection.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Waltz of Rage
  Mage.Sets/src/mage/cards/w/WaltzOfRage.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Don't Make a Sound
  Mage.Sets/src/mage/cards/d/DontMakeASound.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Norin, Swift Survivalist
  Mage.Sets/src/mage/cards/n/NorinSwiftSurvivalist.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Rip, Spawn Hunter
  Mage.Sets/src/mage/cards/r/RipSpawnHunter.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Jump Scare
  Mage.Sets/src/mage/cards/j/JumpScare.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

fix verify failure
  Mage.Verify/src/test/java/mage/verify/VerifyCardDataTest.java
Labels: tests

[DSK] Implement Haunted Screen
  Mage.Sets/src/mage/cards/h/HauntedScreen.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/common/ActivateOncePerGameActivatedAbility.java
Labels: engine, cards

[DSK] Implement Possessed Goat
  Mage.Sets/src/mage/cards/p/PossessedGoat.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Come Back Wrong
  Mage.Sets/src/mage/cards/c/ComeBackWrong.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Cracked Skull
  Mage.Sets/src/mage/cards/c/CrackedSkull.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

Cursed Recording - fixed that trigger is optional;
  Mage.Sets/src/mage/cards/c/CursedRecording.java
Labels: cards
