Repository magefree/mage, changes with the labels that .github/labeler.yml gives for each.
All labels: dev, engine, client, server, tests, cards

.github/labeler.yml:

dev:
  - changed-files:
    - any-glob-to-any-file: [ '*', 'Utils/**', '/.github/**' ]

engine:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage/**' ]

client:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Client/**', 'Mage.Common/**', 'Mage.Plugins/**' ]

server:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Server*/**' ]

tests:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Verify/**', 'Mage.Tests/**', 'Mage.Reports/**' ]

cards:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Sets/**' ]

[DSK] Implement Marvin, Murderous Mimic
  Mage.Sets/src/mage/cards/m/MarvinMurderousMimic.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Fear of Burning Alive
  Mage.Sets/src/mage/cards/f/FearOfBurningAlive.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Cathartic Parting
  Mage.Sets/src/mage/cards/c/CatharticParting.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Unidentified Hovership
  Mage.Sets/src/mage/cards/u/UnidentifiedHovership.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

Fix for review.
  Mage.Sets/src/mage/cards/g/GeistpackAlpha.java
  Mage.Sets/src/mage/cards/s/SettleTheWilds.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/abilities/effects/common/SeekCardEffect.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: engine, tests, cards

Fix for review.
  Mage/src/main/java/mage/abilities/effects/common/SeekCardEffect.java
Labels: engine

Remove custom effect, fix SacrificeTargetCost to avoid checking for activated abilities and sidestepping the controllerID
  Mage.Sets/src/mage/cards/t/TergridGodOfFright.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeTargetCost.java
Labels: engine, cards

Add test to verify change to SacrificeTargetCost
  Mage.Tests/src/test/java/org/mage/test/cards/cost/sacrifice/SacrificeTargetCostTest.java
Labels: tests

refactor: properly support "in addition to its other types"
  Mage.Sets/src/mage/cards/h/HauntedScreen.java
  Mage.Sets/src/mage/cards/r/RestlessSpire.java
  Mage.Sets/src/mage/cards/r/RestlessVinestalk.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BecomesCreatureSourceEffect.java
Labels: engine, cards

a couple text fixes
  Mage.Sets/src/mage/cards/c/CatharticParting.java
  Mage.Sets/src/mage/cards/c/CrackedSkull.java
  Mage.Sets/src/mage/cards/c/CursedRecording.java
  Mage.Sets/src/mage/cards/j/JumpScare.java
  Mage.Sets/src/mage/cards/n/NecropolisRegent.java
  Mage/src/main/java/mage/abilities/common/DealtDamageAttachedTriggeredAbility.java
Labels: engine, cards

text gen fix from recent errata
  Mage.Sets/src/mage/cards/b/BrutalCathar.java
  Mage/src/main/java/mage/abilities/common/TransformsOrEntersTriggeredAbility.java
Labels: engine, cards

fix Cracked Skull, expand LookTargetHandChooseDiscardEffect
  Mage.Sets/src/mage/cards/a/AbandonHope.java
  Mage.Sets/src/mage/cards/c/CrackedSkull.java
  Mage.Sets/src/mage/cards/m/MindWarp.java
  Mage/src/main/java/mage/abilities/effects/common/discard/LookTargetHandChooseDiscardEffect.java
Labels: engine, cards

[UNF] Implement Strength-Testing Hammer; fix Six-Sided Die (#12756)
  Mage.Sets/src/mage/cards/s/SixSidedDie.java
  Mage.Sets/src/mage/cards/s/StrengthTestingHammer.java
  Mage.Sets/src/mage/sets/Unfinity.java
Labels: cards

[MB2] Implement Wowzer, the Aspirational (#12835)
  Mage.Sets/src/mage/cards/w/WowzerTheAspirational.java
  Mage.Sets/src/mage/sets/MysteryBooster2.java
Labels: cards

Update painlands to use better mana abilities (#12871)
  Mage.Sets/src/mage/cards/a/AdarkarWastes.java
  Mage.Sets/src/mage/cards/b/BattlefieldForge.java
  Mage.Sets/src/mage/cards/b/Brushland.java
  Mage.Sets/src/mage/cards/c/CavesOfKoilos.java
  Mage.Sets/src/mage/cards/k/KarplusanForest.java
  Mage.Sets/src/mage/cards/l/LlanowarWastes.java
  Mage.Sets/src/mage/cards/s/ShivanReef.java
  Mage.Sets/src/mage/cards/s/SulfurousSprings.java
  Mage.Sets/src/mage/cards/u/UndergroundRiver.java
  Mage.Sets/src/mage/cards/y/YavimayaCoast.java
Labels: cards

fix #12840 (Impostor Mech ability optional)
  Mage.Sets/src/mage/cards/i/ImposterMech.java
Labels: cards

fix #12774 (wrong predicate in Leonardo Da Vinci)
  Mage.Sets/src/mage/cards/l/LeonardoDaVinci.java
Labels: cards

fix #12867 (Devouring Hellion)
  Mage.Sets/src/mage/cards/c/Caprichrome.java
  Mage.Sets/src/mage/cards/d/DevouringHellion.java
  Mage.Sets/src/mage/cards/f/FeastingHobbit.java
  Mage.Sets/src/mage/cards/t/ThromokTheInsatiable.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/DevourTest.java
  Mage/src/main/java/mage/abilities/effects/common/DevourEffect.java
  Mage/src/main/java/mage/abilities/keyword/DevourAbility.java
Labels: engine, tests, cards

fix #4207 (Indomitable Creativity)
  Mage.Sets/src/mage/cards/i/IndomitableCreativity.java
Labels: cards

Add special action test
  Mage.Tests/src/test/java/org/mage/test/cards/cost/sacrifice/SacrificeTargetCostTest.java
Labels: tests

Fix canPay check for SacrificeTargetCost
  Mage/src/main/java/mage/abilities/costs/common/SacrificeTargetCost.java
Labels: engine

Remove activated ability check in SacrificeAllCost
  Mage/src/main/java/mage/abilities/costs/common/SacrificeAllCost.java
Labels: engine

Remove cost-specific activator checks for special actions, as they are redundant
  Mage/src/main/java/mage/abilities/costs/common/SacrificeAllCost.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeTargetCost.java
Labels: engine

add null check for game.getPlayer
  Mage/src/main/java/mage/abilities/costs/common/SacrificeAllCost.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeTargetCost.java
Labels: engine

[WHO] Implement Nardole, Resourceful Cyborg
  Mage.Sets/src/mage/cards/n/NardoleResourcefulCyborg.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

Fixed #12620
  Mage.Sets/src/mage/cards/a/ApexObservatory.java
Labels: cards

Fixed mistakes (I don't want to be a nit anymore, I just want to play alchemy cards and be happy)
  Mage.Sets/src/mage/cards/f/ForsakenCrossroads.java
Labels: cards

Target spell abilities - fixed that it was playable in some non-playable use cases (example: Goblin Artisans)
  Mage/src/main/java/mage/target/TargetSpell.java
Labels: engine

Boxing Ring - fixed that it allow to select own permanents
  Mage.Sets/src/mage/cards/b/BoxingRing.java
Labels: cards

Refactored Apex Observatory to work correctly with blink effects.
  Mage.Sets/src/mage/cards/a/ApexObservatory.java
Labels: cards

implement [YMID] Hollowhenge Wrangler; Forsaken Crossroads (#12793)
  Mage.Sets/src/mage/cards/f/ForsakenCrossroads.java
  Mage.Sets/src/mage/cards/h/HollowhengeWrangler.java
  Mage.Sets/src/mage/sets/AlchemyInnistrad.java
  Mage.Sets/src/mage/sets/MysteryBooster2.java
  Mage/src/main/java/mage/abilities/common/ActivateIfConditionActivatedAbility.java
Labels: engine, cards

[WHO] Implement Nardole, Resourceful Cyborg (#12886)
  Mage.Sets/src/mage/cards/n/NardoleResourcefulCyborg.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

Fix SacrificeTargetCost and SacrificeAllCost activator checks (#12809)
  Mage.Sets/src/mage/cards/t/TergridGodOfFright.java
  Mage.Tests/src/test/java/org/mage/test/cards/cost/sacrifice/SacrificeTargetCostTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/khm/TergridsLanternTest.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeAllCost.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeTargetCost.java
Labels: engine, tests, cards

tests: added verify check for wrong predicates usage in filters (ClassCastException errors like #12774)
  Mage.Client/src/main/java/mage/client/dialog/TestCardRenderDialog.java
  Mage.Sets/src/mage/cards/c/ConduitOfRuin.java
  Mage.Sets/src/mage/cards/e/ElugeTheShorelessSea.java
  Mage.Sets/src/mage/cards/m/MelekReforgedResearcher.java
  Mage.Sets/src/mage/cards/s/ShadowInTheWarp.java
  Mage.Verify/src/test/java/mage/verify/VerifyCardDataTest.java
  Mage/src/main/java/mage/filter/FilterCard.java
  Mage/src/main/java/mage/filter/FilterPermanent.java
  Mage/src/main/java/mage/filter/FilterPlayer.java
  Mage/src/main/java/mage/filter/FilterStackObject.java
  Mage/src/main/java/mage/filter/predicate/Predicate.java
  Mage/src/main/java/mage/filter/predicate/Predicates.java
  Mage/src/main/java/mage/game/FakeGame.java
  Mage/src/main/java/mage/game/FakeMatch.java
Labels: engine, client, tests, cards

[DSC] Implement Seance Board
  Mage.Sets/src/mage/cards/s/SeanceBoard.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

Added Tegwyll Scouring and missing skins from Wilds of Eldraine commander.
  Mage.Sets/src/mage/cards/t/TegwyllsScouring.java
  Mage.Sets/src/mage/sets/WildsOfEldraineCommander.java
Labels: cards

Fixes for review
  Mage.Sets/src/mage/cards/t/TegwyllsScouring.java
  Mage/src/main/java/mage/abilities/common/PayMoreToCastAsThoughtItHadFlashAbility.java
Labels: engine, cards

Reprints fixed
  Mage.Sets/src/mage/sets/WildsOfEldraineCommander.java
Labels: cards

Fix for review.
  Mage.Sets/src/mage/cards/d/DesertWarfare.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/DesertsYouControlCount.java
  Mage/src/main/java/mage/abilities/hint/common/DesertsYouControlHint.java
Labels: engine, cards

Fixed #12874. A code simplification is warranted if someone has the time. Fix is inline with the rest of it.
  Mage.Sets/src/mage/cards/b/BrunaLightOfAlabaster.java
Labels: cards
