Repository magefree/mage, changes with the labels that .github/labeler.yml gives for each.
All labels: dev, engine, client, server, tests, cards

.github/labeler.yml:

dev:
  - changed-files:
    - any-glob-to-any-file: [ '*', 'Utils/**', '/.github/**' ]

engine:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage/**' ]

client:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Client/**', 'Mage.Common/**', 'Mage.Plugins/**' ]

server:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Server*/**' ]

tests:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Verify/**', 'Mage.Tests/**', 'Mage.Reports/**' ]

cards:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Sets/**' ]

Update set-tracking-issue.md
  .github/templates/set-tracking-issue.md
Labels: none

[NPH] Booster collation
  Mage.Sets/src/mage/sets/NewPhyrexia.java
Labels: cards

{NPH] New Phyrexia booster collation
  Mage.Sets/src/mage/sets/NewPhyrexia.java
Labels: cards

[LRW] Lorwyn booster collation
  Mage.Sets/src/mage/sets/Lorwyn.java
Labels: cards

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

[SHM] Shadowmoor collation
  Mage.Sets/src/mage/sets/Shadowmoor.java
Labels: cards

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update Set-implementation-list.md
  Set-implementation-list.md
Labels: dev

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Rename set-tracking-wiki template to list
  .github/templates/set-tracking-list.md
  .github/workflows/update-set-implementation-lists.yml
Labels: none
