Repository magefree/mage, changes with the labels that .github/labeler.yml gives for each.
All labels: dev, engine, client, server, tests, cards

[DSK] Implement Miasma Demon
  Mage.Sets/src/mage/cards/m/MiasmaDemon.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

docs: added faq for pixilated images problem, updated card stats
  readme.md
Labels: dev

fix Bamboozle (cards put on top in any order)
  Mage.Sets/src/mage/cards/b/Bamboozle.java
Labels: cards

correction on Intruding Soulrager
  Mage.Sets/src/mage/cards/i/IntrudingSoulrager.java
Labels: cards

fix wrong durations in LoseAbilityTargetEffect
  Mage.Sets/src/mage/cards/b/BarbedFoliage.java
  Mage.Sets/src/mage/cards/f/FearOfFalling.java
  Mage.Sets/src/mage/cards/r/RebelSalvo.java
  Mage.Sets/src/mage/cards/s/SmiteTheDeathless.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/LoseAbilityTargetEffect.java
Labels: engine, cards

refactor: cleanup overlooked in dd47194
  Mage.Sets/src/mage/cards/i/IonasJudgment.java
Labels: cards

correction: predicate missed from a29706f
  Mage/src/main/java/mage/filter/StaticFilters.java
Labels: engine

correction on Arabella, Abandoned Doll
  Mage.Sets/src/mage/cards/a/ArabellaAbandonedDoll.java
Labels: cards

correction on Rootwise Survivor
  Mage.Sets/src/mage/cards/r/RootwiseSurvivor.java
Labels: cards

correction on Hedge Shredder
  Mage.Sets/src/mage/cards/h/HedgeShredder.java
Labels: cards

minor adjustments to Roshan, Hidden Magister
  Mage.Sets/src/mage/cards/r/RoshanHiddenMagister.java
Labels: cards

correction: wrong code usage on Grievous Wound
  Mage.Sets/src/mage/cards/g/GrievousWound.java
Labels: cards

correction on Kona, Rescue Beastie
  Mage.Sets/src/mage/cards/k/KonaRescueBeastie.java
Labels: cards

correction on Abhorrent Oculus
  Mage.Sets/src/mage/cards/a/AbhorrentOculus.java
Labels: cards

minor adjustment on Duskmourn's Domination
  Mage.Sets/src/mage/cards/d/DuskmournsDomination.java
Labels: cards

correction on Living Phone
  Mage.Sets/src/mage/cards/l/LivingPhone.java
Labels: cards

various fixes from checking text discrepancies
  Mage.Sets/src/mage/cards/a/AltanakTheThriceCalled.java
  Mage.Sets/src/mage/cards/a/ArabellaAbandonedDoll.java
  Mage.Sets/src/mage/cards/b/BalustradeWurm.java
  Mage.Sets/src/mage/cards/b/Broodspinner.java
  Mage.Sets/src/mage/cards/c/CaduceusStaffOfHermes.java
  Mage.Sets/src/mage/cards/c/ClockworkPercussionist.java
  Mage.Sets/src/mage/cards/c/CynicalLoner.java
  Mage.Sets/src/mage/cards/d/DiversionSpecialist.java
  Mage.Sets/src/mage/cards/g/GetOut.java
  Mage.Sets/src/mage/cards/i/ImpossibleInferno.java
  Mage.Sets/src/mage/cards/i/InfernalPhantom.java
  Mage.Sets/src/mage/cards/r/RoshanHiddenMagister.java
  Mage.Sets/src/mage/cards/s/SawbladeSkinripper.java
  Mage.Sets/src/mage/cards/s/SplitskinDoll.java
  Mage.Sets/src/mage/cards/t/TheSwarmweaver.java
  Mage.Sets/src/mage/cards/t/TheyCameFromThePipes.java
  Mage.Sets/src/mage/cards/u/UntimelyMalfunction.java
  Mage.Sets/src/mage/cards/v/VengefulPossession.java
  Mage/src/main/java/mage/abilities/decorator/ConditionalTriggeredAbility.java
  Mage/src/main/java/mage/filter/common/FilterLandCard.java
  Mage/src/main/java/mage/game/permanent/token/InsectBlackGreenFlyingToken.java
Labels: engine, cards

followup text fixes
  Mage.Sets/src/mage/cards/a/ArabellaAbandonedDoll.java
  Mage.Sets/src/mage/cards/b/Broodspinner.java
  Mage.Sets/src/mage/cards/v/VedalkenHumiliator.java
Labels: cards

[ACR] Implement Adrestia.
  Mage.Sets/src/mage/cards/a/Adrestia.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

Portent of Calamity
  Mage.Sets/src/mage/cards/p/PortentOfCalamity.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

[ACR] Implement Adrestia. (#12862)
  Mage.Sets/src/mage/cards/a/Adrestia.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

Review fixes
  Mage.Sets/src/mage/cards/b/BloodchiefsThirst.java
  Mage.Sets/src/mage/cards/i/IntoTheFloodMaw.java
Labels: cards

[ACR] Implement Aveline de Grandpré.
  Mage.Sets/src/mage/cards/a/AvelineDeGrandpre.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

Season Of The Bold
  Mage.Sets/src/mage/cards/s/SeasonOfTheBold.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

Season of Weaving
  Mage.Sets/src/mage/cards/s/SeasonOfWeaving.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

server: improved compatibility to run server under java 9+ (related to #12768, #6197)
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
  Mage.Tests/src/test/java/org/mage/test/utils/DebugUtilTest.java
  Mage/src/main/java/mage/util/DebugUtil.java
Labels: engine, server, tests

connection: added error message for failed connection on wrongly configured server (related to #12768, #6197)
  Mage.Common/src/main/java/mage/remote/SessionImpl.java
Labels: client

[DSC] update spoiler and reprints
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

[DSK] update spoiler and reprints
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Bedhead Beastie
  Mage.Sets/src/mage/cards/b/BedheadBeastie.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Violent Urge
  Mage.Sets/src/mage/cards/v/ViolentUrge.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Overlord of the Balemurk
  Mage.Sets/src/mage/cards/o/OverlordOfTheBalemurk.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSC] Implement Demolisher Spawn
  Mage.Sets/src/mage/cards/d/DemolisherSpawn.java
  Mage.Sets/src/mage/cards/v/ViolentUrge.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

[DSC] Implement Convert to Slime
  Mage.Sets/src/mage/cards/c/ConvertToSlime.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
  Mage/src/main/java/mage/game/permanent/token/OozeToken.java
Labels: engine, cards

[DSC] Implement Deluge of Doom
  Mage.Sets/src/mage/cards/d/DelugeOfDoom.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

[DSC] Implement Persistent Constrictor
  Mage.Sets/src/mage/cards/p/PersistentConstrictor.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
  Mage/src/main/java/mage/constants/TargetController.java
Labels: engine, cards

[DSC] Implement Gleeful Arsonist
  Mage.Sets/src/mage/cards/g/GleefulArsonist.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

update conditional mode selection to handle different amounts of additional modes
  Mage.Sets/src/mage/cards/f/FlameOfAnor.java
  Mage/src/main/java/mage/abilities/Modes.java
Labels: engine, cards

implement Impending mechanic
  Mage.Sets/src/mage/cards/o/OverlordOfTheBalemurk.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheBoilerbilges.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheFloodpits.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheHauntwoods.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheMistmoors.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/keyword/ImpendingAbility.java
Labels: engine, cards

add initial test
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ImpendingTest.java
  Mage/src/main/java/mage/abilities/costs/AlternativeSourceCostsImpl.java
  Mage/src/main/java/mage/abilities/keyword/ImpendingAbility.java
Labels: engine, tests

.github/labeler.yml:

dev:
  - changed-files:
    - any-glob-to-any-file: [ '*', 'Utils/**', '/.github/**' ]

engine:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage/**' ]

client:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Client/**', 'Mage.Common/**', 'Mage.Plugins/**' ]

server:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Server*/**' ]

tests:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Verify/**', 'Mage.Tests/**', 'Mage.Reports/**' ]

cards:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Sets/**' ]
