Repository magefree/mage, changes with the labels that .github/labeler.yml gives for each.
All labels: dev, engine, client, server, tests, cards

[ACR] Implement Roshan, Hidden Magister.
  Mage.Sets/src/mage/cards/r/RoshanHiddenMagister.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/AddCreatureSubTypeAllMultiZoneEffect.java
Labels: engine, cards

[DSK] Implement Grievous Wound
  Mage.Sets/src/mage/cards/g/GrievousWound.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/CantGainLifeAllEffect.java
Labels: engine, cards

Applied the fixes suggested by theelk801
  Mage.Sets/src/mage/cards/u/UnderTheSkin.java
Labels: cards

more theelk801 fixes
  Mage.Sets/src/mage/cards/u/UnderTheSkin.java
Labels: cards

[DSK] Implement Optimistic Scavenger
  Mage.Sets/src/mage/cards/o/OptimisticScavenger.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Broodspinner
  Mage.Sets/src/mage/cards/b/Broodspinner.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Enduring Vitality
  Mage.Sets/src/mage/cards/e/EnduringVitality.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Kona, Rescue Beastie
  Mage.Sets/src/mage/cards/k/KonaRescueBeastie.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Live or Die
  Mage.Sets/src/mage/cards/l/LiveOrDie.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Manifest Dread
  Mage.Sets/src/mage/cards/m/ManifestDread.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Spectral Snatcher
  Mage.Sets/src/mage/cards/s/SpectralSnatcher.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Frantic Strength
  Mage.Sets/src/mage/cards/f/FranticStrength.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Abhorrent Oculus
  Mage.Sets/src/mage/cards/a/AbhorrentOculus.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Enter the Enigma
  Mage.Sets/src/mage/cards/e/EnterTheEnigma.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Balemurk Leech
  Mage.Sets/src/mage/cards/b/BalemurkLeech.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Malevolent Chandelier
  Mage.Sets/src/mage/cards/m/MalevolentChandelier.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Conductive Machete
  Mage.Sets/src/mage/cards/c/ConductiveMachete.java
  Mage.Sets/src/mage/cards/c/CursedWindbreaker.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/effects/common/ManifestDreadThenAttachEffect.java
Labels: engine, cards

UnderTheSkin implemented (#12838)
  Mage.Sets/src/mage/cards/u/UnderTheSkin.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Exorcise
  Mage.Sets/src/mage/cards/e/Exorcise.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Duskmourn's Domination
  Mage.Sets/src/mage/cards/d/DuskmournsDomination.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSC] update spoiler and reprints
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

[DSC] Implement Metamorphosis Fanatic
  Mage.Sets/src/mage/cards/m/MetamorphosisFanatic.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

[DSK] Implement Paranormal Analyst
  Mage.Sets/src/mage/cards/p/ParanormalAnalyst.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/effects/keyword/ManifestDreadEffect.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/game/events/ManifestedDreadEvent.java
Labels: engine, cards

[DSK] Implement Let's Play a Game
  Mage.Sets/src/mage/cards/l/LetsPlayAGame.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

some more changes
  Mage.Sets/src/mage/cards/a/AgencyOutfitter.java
  Mage.Sets/src/mage/cards/a/AlhammarretHighArbiter.java
  Mage.Sets/src/mage/cards/a/AnointedPeacekeeper.java
  Mage.Sets/src/mage/cards/b/BileBlight.java
  Mage.Sets/src/mage/cards/b/BrainPry.java
  Mage.Sets/src/mage/cards/c/CabalTherapist.java
  Mage.Sets/src/mage/cards/c/CabalTherapy.java
  Mage.Sets/src/mage/cards/c/ConjurersBan.java
  Mage.Sets/src/mage/cards/c/ConundrumSphinx.java
  Mage.Sets/src/mage/cards/c/CorneredMarket.java
  Mage.Sets/src/mage/cards/c/CrownOfEmpires.java
  Mage.Sets/src/mage/cards/d/DemonicConsultation.java
  Mage.Sets/src/mage/cards/e/EchoingReturn.java
  Mage.Tests/src/test/java/org/mage/test/testapi/AliasesApiTest.java
  Mage/src/main/java/mage/MageObject.java
  Mage/src/main/java/mage/abilities/effects/common/OpponentsCantCastChosenUntilNextTurnEffect.java
  Mage/src/main/java/mage/filter/predicate/mageobject/ChosenNamePredicate.java
  Mage/src/main/java/mage/filter/predicate/mageobject/NamePredicate.java
  Mage/src/main/java/mage/game/GameTinyLeadersImpl.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: engine, tests, cards

fix verify failure
  Mage.Verify/src/test/java/mage/verify/VerifyCardDataTest.java
Labels: tests

[DSK] Implement Unnerving Grasp
  Mage.Sets/src/mage/cards/u/UnnervingGrasp.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Horrid Vigor
  Mage.Sets/src/mage/cards/h/HorridVigor.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Winter's Intervention
  Mage.Sets/src/mage/cards/w/WintersIntervention.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Ripchain Razorkin
  Mage.Sets/src/mage/cards/r/RipchainRazorkin.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Erratic Apparition
  Mage.Sets/src/mage/cards/e/ErraticApparition.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Killer's Mask
  Mage.Sets/src/mage/cards/k/KillersMask.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

Season of Weaving
  Mage.Sets/src/mage/cards/s/SeasonOfWeaving.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

Season Of The Bold
  Mage.Sets/src/mage/cards/s/SeasonOfTheBold.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

[DSK] Implement Dissection Tools
  Mage.Sets/src/mage/cards/d/DissectionTools.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Entity Tracker
  Mage.Sets/src/mage/cards/e/EntityTracker.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Fear of Exposure
  Mage.Sets/src/mage/cards/f/FearOfExposure.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Get Out
  Mage.Sets/src/mage/cards/g/GetOut.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Cackling Slasher
  Mage.Sets/src/mage/cards/c/CacklingSlasher.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

[DSK] Implement Living Phone
  Mage.Sets/src/mage/cards/l/LivingPhone.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

.github/labeler.yml:

dev:
  - changed-files:
    - any-glob-to-any-file: [ '*', 'Utils/**', '/.github/**' ]

engine:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage/**' ]

client:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Client/**', 'Mage.Common/**', 'Mage.Plugins/**' ]

server:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Server*/**' ]

tests:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Verify/**', 'Mage.Tests/**', 'Mage.Reports/**' ]

cards:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Sets/**' ]
