Repository magefree/mage, changes with the labels that .github/labeler.yml gives for each.
All labels: dev, engine, client, server, tests, cards

.github/labeler.yml:

dev:
  - changed-files:
    - any-glob-to-any-file: [ '*', 'Utils/**', '/.github/**' ]

engine:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage/**' ]

client:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Client/**', 'Mage.Common/**', 'Mage.Plugins/**' ]

server:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Server*/**' ]

tests:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Verify/**', 'Mage.Tests/**', 'Mage.Reports/**' ]

cards:
  - changed-files:
    - any-glob-to-any-file: [ 'Mage.Sets/**' ]

Add files via upload
  Mage.Sets/src/mage/sets/PhyrexiaAllWillBeOne.java
Labels: cards

[LCI] booster collation
  Mage.Sets/src/mage/sets/TheLostCavernsOfIxalan.java
Labels: cards

Add files via upload
  Mage.Sets/src/mage/sets/TheLostCavernsOfIxalan.java
Labels: cards

GUI, deck editor: improved toolbar icons in dark themes (#12873, #12920)
  Mage.Client/src/main/java/mage/client/cards/CardsList.java
  Mage.Client/src/main/java/mage/client/cards/DragCardGrid.java
  Mage.Client/src/main/java/mage/client/deckeditor/CardSelector.java
  Mage.Client/src/main/java/mage/client/themes/ThemeType.java
Labels: client

GUI: fixed black colored card hint popup on some systems (#12857)
  Mage.Client/src/main/java/mage/client/MageFrame.java
Labels: client

more refactoring
  Mage.Sets/src/mage/cards/d/DualNature.java
  Mage.Sets/src/mage/cards/e/EndlessAtlas.java
  Mage.Sets/src/mage/cards/e/EscapedShapeshifter.java
  Mage.Sets/src/mage/cards/e/ExtraplanarLens.java
  Mage.Sets/src/mage/cards/e/EyeOfSingularity.java
  Mage.Sets/src/mage/cards/f/FrostpyreArcanist.java
  Mage.Sets/src/mage/cards/g/GoblinArtisans.java
  Mage.Sets/src/mage/cards/g/Godsend.java
  Mage.Sets/src/mage/cards/g/GollumObsessedStalker.java
  Mage.Sets/src/mage/cards/h/HintOfInsanity.java
  Mage.Sets/src/mage/cards/h/HourOfGlory.java
  Mage.Sets/src/mage/cards/j/JourneyForTheElixir.java
  Mage.Sets/src/mage/cards/k/KotoseTheSilentSpider.java
  Mage.Sets/src/mage/cards/l/LegionsEnd.java
  Mage.Sets/src/mage/cards/l/LocketOfYesterdays.java
  Mage.Sets/src/mage/cards/l/LutriTheSpellchaser.java
  Mage.Sets/src/mage/cards/m/MechanizedProduction.java
  Mage.Sets/src/mage/cards/m/MedomaisProphecy.java
  Mage.Sets/src/mage/cards/m/MirrorMadPhantasm.java
  Mage.Sets/src/mage/cards/p/PatternMatcher.java
  Mage.Sets/src/mage/cards/r/ReapIntellect.java
  Mage.Sets/src/mage/cards/s/SasayaOrochiAscendant.java
  Mage.Sets/src/mage/cards/s/SphinxOfTheChimes.java
  Mage.Sets/src/mage/cards/y/YidaroWanderingMonster.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: engine, cards

[DSC] Implement Zimone, Mystery Unraveler.
  Mage.Sets/src/mage/cards/z/ZimoneMysteryUnraveler.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
  Mage/src/main/java/mage/abilities/effects/common/IfAbilityHasResolvedXTimesEffect.java
Labels: engine, cards

Smoother targeting of Zimone's option turn-face-up.
  Mage.Sets/src/mage/cards/z/ZimoneMysteryUnraveler.java
Labels: cards

Using 1:2 C:U dfc ratio
  Mage.Sets/src/mage/sets/TheLostCavernsOfIxalan.java
Labels: cards

Add files via upload
  Mage.Sets/src/mage/sets/TheLostCavernsOfIxalan.java
Labels: cards

Create generic GraveyardFromAnywhereExileReplacementEffect
  Mage.Sets/src/mage/cards/d/DryadMilitant.java
  Mage.Sets/src/mage/cards/f/FestivalOfEmbers.java
  Mage.Sets/src/mage/cards/f/ForbiddenCrypt.java
  Mage.Sets/src/mage/cards/g/GaeasWill.java
  Mage.Sets/src/mage/cards/m/MagusOfTheWill.java
  Mage.Sets/src/mage/cards/n/Necrodominance.java
  Mage.Sets/src/mage/cards/r/RestInPeace.java
  Mage.Sets/src/mage/cards/y/YawgmothsAgenda.java
  Mage.Sets/src/mage/cards/y/YawgmothsWill.java
  Mage/src/main/java/mage/abilities/effects/common/replacement/GraveyardFromAnywhereExileReplacementEffect.java
Labels: engine, cards

Hide Cruelclaw Menace reminder text
  Mage.Sets/src/mage/cards/t/TheInfamousCruelclaw.java
Labels: cards

fix style errors
  Mage.Sets/src/mage/cards/g/GaeasWill.java
  Mage.Sets/src/mage/cards/m/MagusOfTheWill.java
  Mage.Sets/src/mage/cards/y/YawgmothsWill.java
  Mage/src/main/java/mage/abilities/effects/common/replacement/GraveyardFromAnywhereExileReplacementEffect.java
Labels: engine, cards

fix #12928 (The Mindskinner)
  Mage.Sets/src/mage/cards/t/TheMindskinner.java
  Mage.Tests/src/test/java/org/mage/test/cards/replacement/prevent/TheMindskinnerTest.java
Labels: tests, cards

[WOC] Implement Tegwyll's Scouring (#12891)
  Mage.Sets/src/mage/cards/t/TegwyllsScouring.java
  Mage.Sets/src/mage/sets/WildsOfEldraineCommander.java
  Mage/src/main/java/mage/abilities/common/PayMoreToCastAsThoughtItHadFlashAbility.java
Labels: engine, cards

[LCI] booster collation
  Mage.Sets/src/mage/sets/TheLostCavernsOfIxalan.java
Labels: cards

[ONE] booster collation
  Mage.Sets/src/mage/sets/PhyrexiaAllWillBeOne.java
Labels: cards

[NPH] booster collation
  Mage.Sets/drft_NPH.txt
Labels: cards

Don't error if there are no changes to set tracking
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update Set-implementation-list.md
  wiki/Set-implementation-list.md
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update Set-implementation-list.md
  Set-implementation-list.md
Labels: dev

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update Set-implementation-list.md
  Set-implementation-list.md
Labels: dev

Remove wiki stuff
  .github/workflows/publish-wiki.yml
  wiki/Home.md
  wiki/Set-implementation-list.md
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update Set-implementation-list.md
  Set-implementation-list.md
Labels: dev

Update set-tracking-issue.md
  .github/templates/set-tracking-issue.md
Labels: none

Update Set-implementation-list.md
  Set-implementation-list.md
Labels: dev

Update set-tracking-issue.md
  .github/templates/set-tracking-issue.md
Labels: none

Update update-set-implementation-lists.yml
  .github/workflows/update-set-implementation-lists.yml
Labels: none

Update set-tracking-issue.md
  .github/templates/set-tracking-issue.md
Labels: none

Update set-tracking-issue.md
  .github/templates/set-tracking-issue.md
Labels: none

Update set-tracking-issue.md
  .github/templates/set-tracking-issue.md
Labels: none
