Repository magefree/mage, pull requests merged in 2018-11, with the labels that each got.

#5351 Refactor: make plane and emblem implement Controllable
  Mage.Sets/src/mage/cards/c/CelestialDawn.java
  Mage.Sets/src/mage/cards/c/CoverOfWinter.java
  Mage.Sets/src/mage/cards/e/EmissaryOfGrudges.java
  Mage.Sets/src/mage/cards/s/SavageSummoning.java
  Mage/src/main/java/mage/abilities/ActivatedAbilityImpl.java
  Mage/src/main/java/mage/game/Controllable.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/command/CommandObject.java
Labels: refactoring

#5366 Jace, Architect of Thought ultimate fix (fixes #5357)
  Mage.Sets/src/mage/cards/j/JaceArchitectOfThought.java
Labels: bug

#5349 Add minimum rating option (merge in v32)
  Mage.Client/src/main/java/mage/client/dialog/NewTableDialog.java
  Mage.Client/src/main/java/mage/client/dialog/NewTournamentDialog.java
  Mage.Client/src/main/java/mage/client/dialog/PreferencesDialog.java
  Mage.Client/src/main/java/mage/client/table/TablesPanel.java
  Mage.Common/src/main/java/mage/view/TableView.java
  Mage.Server/src/main/java/mage/server/MageServerImpl.java
  Mage.Server/src/main/java/mage/server/TableController.java
  Mage/src/main/java/mage/game/match/MatchOptions.java
  Mage/src/main/java/mage/game/tournament/TournamentOptions.java
Labels: GUI, enhancement, server

#5265 Flickerform
  Mage.Sets/src/mage/cards/f/Flickerform.java
Labels: bug

#5364 Fixing Jace, Architect of Thought with concurrent search library (for issue #5357)
  Mage.Sets/src/mage/cards/j/JaceArchitectOfThought.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage.Tests/src/test/java/org/mage/test/stub/PlayerStub.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: bug
