Repository magefree/mage, pull requests merged in 2024-05, with the labels that each got.

#11989 Add replaceable counter removal (single and multiple) events and use flag for damage
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/CounterRemovalTests.java
  Mage/src/main/java/mage/cards/Card.java
  Mage/src/main/java/mage/cards/CardImpl.java
  Mage/src/main/java/mage/game/events/CounterRemovedEvent.java
  Mage/src/main/java/mage/game/events/CountersRemovedEvent.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/game/events/RemoveCounterEvent.java
  Mage/src/main/java/mage/game/events/RemoveCountersEvent.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Mage/src/main/java/mage/game/stack/Spell.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: engine, tests

#12215 [MAT] Implement Deification, fix access to counter removal damage checkers
  Mage.Sets/src/mage/cards/d/Deification.java
  Mage.Sets/src/mage/sets/MarchOfTheMachineTheAftermath.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mat/DeificationTests.java
  Mage/src/main/java/mage/abilities/effects/common/ChoosePlaneswalkerTypeEffect.java
  Mage/src/main/java/mage/filter/predicate/mageobject/ChosenPlaneswalkerTypePredicate.java
  Mage/src/main/java/mage/game/events/CounterRemovedEvent.java
  Mage/src/main/java/mage/game/events/RemoveCounterEvent.java
  Mage/src/main/java/mage/game/events/RemoveCountersEvent.java
Labels: cards, engine, tests

#12057 [MKM] Implement Coveted Falcon
  Mage.Sets/src/mage/cards/c/CovetedFalcon.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mkm/CovetedFalconTest.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/GainControlTargetEffect.java
Labels: cards, engine, tests

#12154 [OTJ] fix Fortune (DelayedAbility's source's zcc was wrong)
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/SaddleTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otj/FortuneLoyalSteedTest.java
  Mage/src/main/java/mage/abilities/common/AttacksWhileSaddledTriggeredAbility.java
  Mage/src/main/java/mage/abilities/condition/common/SaddledCondition.java
  Mage/src/main/java/mage/abilities/keyword/SaddleAbility.java
  Mage/src/main/java/mage/abilities/keyword/UnearthAbility.java
  Mage/src/main/java/mage/filter/predicate/permanent/SaddledSourceThisTurnPredicate.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/permanent/Permanent.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Mage/src/main/java/mage/watchers/common/SaddledMountWatcher.java
Labels: engine, tests

#12053 [WHO] Implement Implement Flesh Duplicate & Zygon Infiltrator
  Mage.Sets/src/mage/cards/f/FleshDuplicate.java
  Mage.Sets/src/mage/cards/z/ZygonInfiltrator.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#12221 new LifeCompareCondition, with tests
  Mage.Sets/src/mage/cards/a/AngelOfVitality.java
  Mage.Sets/src/mage/cards/b/BloodBaronOfVizkopa.java
  Mage.Sets/src/mage/cards/b/Bloodghast.java
  Mage.Sets/src/mage/cards/c/ConvalescentCare.java
  Mage.Sets/src/mage/cards/c/CryptolithFragment.java
  Mage.Sets/src/mage/cards/d/DiscipleOfPerdition.java
  Mage.Sets/src/mage/cards/d/DivinityOfPride.java
  Mage.Sets/src/mage/cards/g/GuulDrazVampire.java
  Mage.Sets/src/mage/cards/h/HidetsugusSecondRite.java
  Mage.Sets/src/mage/cards/h/HonorTroll.java
  Mage.Sets/src/mage/cards/n/NearDeathExperience.java
  Mage.Sets/src/mage/cards/r/RuthlessCullblade.java
  Mage.Sets/src/mage/cards/s/SecondChance.java
  Mage.Sets/src/mage/cards/t/TheEnd.java
  Mage.Sets/src/mage/cards/t/TwinbladePaladin.java
  Mage.Sets/src/mage/cards/v/VampireLacerator.java
  Mage.Tests/src/test/java/org/mage/test/cards/conditional/LifeCompareConditionTest.java
  Mage/src/main/java/mage/abilities/condition/common/LifeCompareCondition.java
  Mage/src/main/java/mage/abilities/condition/common/XorLessLifeCondition.java
Labels: cards, engine, tests

#12119 [REX] Implement Indominus Rex, Alpha
  Mage.Sets/src/mage/cards/i/IndominusRexAlpha.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/rex/IndominusRexAlphaTests.java
  Mage.Tests/src/test/java/org/mage/test/serverside/base/impl/CardTestPlayerAPIImpl.java
  Mage/src/main/java/mage/counters/AbilityCounter.java
Labels: cards, engine, tests

#12237 Fix AlternativeSourceCosts not affecting playability of cards
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ProwlTest.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: engine, tests

#12233 support until your next turn delayed trigger as shared class with proper Duration
  Mage.Sets/src/mage/cards/d/DontMove.java
  Mage.Sets/src/mage/cards/j/JaceArchitectOfThought.java
  Mage.Sets/src/mage/cards/t/TamiyoFieldResearcher.java
  Mage.Sets/src/mage/cards/t/Tephraderm.java
  Mage.Sets/src/mage/cards/v/VraskaTheUnseen.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/emn/TamiyoFieldResearcherTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/hou/BontusLastReckoningTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/ons/TephradermTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/rex/DontMoveTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/rtr/JaceArchitectOfThoughtTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/rtr/VraskaTheUnseenTest.java
  Mage/src/main/java/mage/abilities/DelayedTriggeredAbilities.java
  Mage/src/main/java/mage/abilities/common/DealsDamageToACreatureAllTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/DealsDamageToThisAllTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/delayed/UntilYourNextTurnDelayedTriggeredAbility.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#12255 Update HollowMarauder.java
  Mage.Sets/src/mage/cards/h/HollowMarauder.java
Labels: cards

#12248 stacking-tokens-cause-empty-spaces-fix
  Mage.Client/src/main/java/org/mage/plugins/card/CardPluginImpl.java
Labels: client

#12240 [PIP] Implement Jason Bright, Glowing Prophet
  Mage.Sets/src/mage/cards/j/JasonBrightGlowingProphet.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12256 Stack creature tokens of same power and toughness
  Mage.Client/src/main/java/mage/client/game/BattlefieldPanel.java
  Mage.Client/src/main/java/org/mage/plugins/card/CardPluginImpl.java
Labels: client

#12238 [PIP] Implement ED-E, Lonesome Eyebot
  Mage.Sets/src/mage/cards/e/EDELonesomeEyebot.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12241 [BOT] Implementing Slicer, Hired Muscle
  Mage.Sets/src/mage/cards/s/SlicerHighSpeedAntagonist.java
  Mage.Sets/src/mage/cards/s/SlicerHiredMuscle.java
  Mage.Sets/src/mage/sets/Transformers.java
Labels: cards

#12243 [WHO] Implement Trenzalore Clocktower
  Mage.Sets/src/mage/cards/t/TrenzaloreClocktower.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#12249 [PIP] Implement The Nipton Lottery
  Mage.Sets/src/mage/cards/t/TheNiptonLottery.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12260 Make sure control gain is processed before untapping for 4 cards
  Mage.Sets/src/mage/cards/b/Besmirch.java
  Mage.Sets/src/mage/cards/b/BondOfPassion.java
  Mage.Sets/src/mage/cards/h/HammerHelper.java
  Mage.Sets/src/mage/cards/u/UnwillingRecruit.java
Labels: cards

#12250 [PIP] Implement Sentinel Sarah Lyons; The Prydwen, Steel Flagship; add common watcher + condition
  Mage.Sets/src/mage/cards/a/AkalPakalFirstAmongEquals.java
  Mage.Sets/src/mage/cards/s/SentinelSarahLyons.java
  Mage.Sets/src/mage/cards/s/ShipwreckSentry.java
  Mage.Sets/src/mage/cards/t/ThePrydwenSteelFlagship.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/pip/SentinelSarahLyonsTest.java
  Mage/src/main/java/mage/abilities/condition/common/ArtifactEnteredUnderYourControlCondition.java
  Mage/src/main/java/mage/game/permanent/token/ThePrydwenSteelFlagshipHumanKnightToken.java
  Mage/src/main/java/mage/watchers/common/ArtifactEnteredControllerWatcher.java
Labels: cards, engine, tests

#12205 Rework more Prevention Effects involving counters. Add [PIP] Bloatfly Swarm
  Mage.Sets/src/mage/cards/b/BloatflySwarm.java
  Mage.Sets/src/mage/cards/m/MagmaPummeler.java
  Mage.Sets/src/mage/cards/o/OathswornKnight.java
  Mage.Sets/src/mage/cards/p/PhantomCentaur.java
  Mage.Sets/src/mage/cards/p/PhantomFlock.java
  Mage.Sets/src/mage/cards/p/PhantomNantuko.java
  Mage.Sets/src/mage/cards/p/PhantomNishoba.java
  Mage.Sets/src/mage/cards/p/PhantomNomad.java
  Mage.Sets/src/mage/cards/p/PhantomTiger.java
  Mage.Sets/src/mage/cards/p/PhantomWurm.java
  Mage.Sets/src/mage/cards/p/PolukranosUnchained.java
  Mage.Sets/src/mage/cards/p/ProteanHydra.java
  Mage.Sets/src/mage/cards/u/UginsConjurant.java
  Mage.Sets/src/mage/cards/u/UnbreathingHorde.java
  Mage.Sets/src/mage/cards/u/UndergrowthChampion.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage.Tests/src/test/java/org/mage/test/cards/prevention/PreventDamageRemoveCountersTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/pip/BloatflySwarmTest.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/SavedCounterRemovedValue.java
  Mage/src/main/java/mage/abilities/effects/PhantomPreventionEffect.java
  Mage/src/main/java/mage/abilities/effects/PreventDamageAndRemoveCountersEffect.java
  Mage/src/main/java/mage/game/Game.java
  Mage/src/main/java/mage/game/GameImpl.java
Labels: cards, engine, tests

#12264 [ACR] Implement Cleopatra, Exiled Pharaoh
  Mage.Sets/src/mage/cards/c/CleopatraExiledPharaoh.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards, engine

#12284 [MH3] Implement Path of Annihilation
  Mage.Sets/src/mage/cards/p/PathOfAnnihilation.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12294 [MH3] The Necrobloom
  Mage.Sets/src/mage/cards/t/TheNecrobloom.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#11926 Rework Scryfall Image Downloads
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/CardImageUrls.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSource.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
Labels: client

#12286 Znc germ token scryfall image
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
Labels: client

#12288 [MH3] Implement Wumpus Aberration
  Mage.Sets/src/mage/cards/w/WumpusAberration.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards, engine

#12283 Attempt at a Download Basic Lands option
  Mage.Client/src/main/java/org/mage/plugins/card/images/DownloadPicturesService.java
Labels: client

#12289 [MH3] Implement Wrath of the Skies
  Mage.Sets/src/mage/cards/w/WrathOfTheSkies.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12305 Fixes Lidless Gaze not letting the user cast the exiled cards until the end of his next turn
  Mage.Sets/src/mage/cards/l/LidlessGaze.java
Labels: cards

#12306 Fixes Force Drain card type
  Mage.Sets/src/mage/cards/f/ForceDrain.java
Labels: cards

#12297 Fix first strike damage logic
  Mage.Tests/src/test/java/org/mage/test/combat/FirstStrikeTest.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/combat/CombatGroup.java
  Mage/src/main/java/mage/watchers/common/FirstStrikeWatcher.java
Labels: engine, tests

#12307 fix Molten Disaster
  Mage.Sets/src/mage/cards/m/MoltenDisaster.java
  Mage.Sets/src/mage/cards/s/ScourgeOfTheSkyclaves.java
  Mage.Sets/src/mage/cards/s/SowingMycospawn.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/KickerTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/continuous/SplitSecondTest.java
  Mage/src/main/java/mage/abilities/condition/common/KickedCondition.java
  Mage/src/main/java/mage/abilities/keyword/KickerAbility.java
  Mage/src/main/java/mage/abilities/keyword/SplitSecondAbility.java
Labels: cards, engine, tests

#12312 Implement [M3C] Hideous Taskmaster
  Mage.Sets/src/mage/cards/h/HideousTaskmaster.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12320 Implement [MH3] Boggart Trawler // Boggart Bog
  Mage.Sets/src/mage/cards/b/BoggartTrawler.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12313 Implement [M3C] Jyoti, Moag Ancient
  Mage.Sets/src/mage/cards/j/JyotiMoagAncient.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12343 Implement [MH3] Wing It
  Mage.Sets/src/mage/cards/w/WingIt.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12326 Implement [MH3] Monstrous Vortex
  Mage.Sets/src/mage/cards/m/MonstrousVortex.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12338 Implement [MH3] Gift of the Viper
  Mage.Sets/src/mage/cards/g/GiftOfTheViper.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12341 Implement [MH3] Infernal Captor
  Mage.Sets/src/mage/cards/i/InfernalCaptor.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12323 Implement [MH3] Golden-Tail Trainer
  Mage.Sets/src/mage/cards/g/GoldenTailTrainer.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
  Mage/src/main/java/mage/abilities/effects/common/cost/SpellsCostReductionControllerEffect.java
Labels: cards, engine

#12339 Implement [MH3] Glyph Elemental
  Mage.Sets/src/mage/cards/g/GlyphElemental.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12342 Implement [MH3] Horrific Assault
  Mage.Sets/src/mage/cards/h/HorrificAssault.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12331 fix short living lki bug for Chromatic Star
  Mage.Tests/src/test/java/org/mage/test/cards/single/dmu/SerraParagonTest.java
  Mage/src/main/java/mage/abilities/common/PutIntoGraveFromBattlefieldAllTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/PutIntoGraveFromBattlefieldSourceTriggeredAbility.java
Labels: engine, tests

#12346 Implement [MH3] Warped Tusker
  Mage.Sets/src/mage/cards/w/WarpedTusker.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12348 Implement [MH3] Cursed Wombat
  Mage.Sets/src/mage/cards/c/CursedWombat.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12325 Implement [MH3] Spymaster's Vault
  Mage.Sets/src/mage/cards/s/SpoilsOfBlood.java
  Mage.Sets/src/mage/cards/s/SpymastersVault.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/CreaturesDiedThisTurnCount.java
Labels: cards, engine

#12327 Implement [MH3] Lethal Throwdown
  Mage.Sets/src/mage/cards/l/LethalThrowdown.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
  Mage/src/main/java/mage/abilities/costs/OrCost.java
Labels: cards, engine

#12333 Implement [M3C] Localized Destruction
  Mage.Sets/src/mage/cards/l/LocalizedDestruction.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards
