Repository magefree/mage, pull requests merged in 2024-02, with the labels that each got.

#11813 [MKC] Implement Mirko, Obsessive Theorist
  Mage.Sets/src/mage/cards/m/MirkoObsessiveTheorist.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
Labels: cards

#11821 [MKM] Implement Judith, Carnage Connoisseur
  Mage.Sets/src/mage/cards/j/JudithCarnageConnoisseur.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/game/permanent/token/ImpToken.java
Labels: cards

#11803 [WHO] Implement TARDIS
  Mage.Sets/src/mage/cards/t/TARDIS.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#11800 [MKM] Implement Kylox's Voltstrider and change to Collect evidence cost
  Mage.Sets/src/mage/cards/k/KyloxsVoltstrider.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/abilities/costs/common/CollectEvidenceCost.java
Labels: cards, engine

#11791 [MKM] Implement Expedited Inheritance
  Mage.Sets/src/mage/cards/e/ExpeditedInheritance.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards, engine

#11819 [MKM] Kellan, Inquisitive Prodigy
  Mage.Sets/src/mage/cards/k/KellanInquisitiveProdigy.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11820 [MKM] Implement Karlov Watchdog
  Mage.Sets/src/mage/cards/k/KarlovWatchdog.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11753 [MKM] Implement Kaya, Spirits' Justice and new zone change batch event
  Mage.Sets/src/mage/cards/k/KayaSpiritsJustice.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mkm/KayaSpiritsJusticeTest.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/game/events/ZoneChangeBatchEvent.java
Labels: cards, engine, tests

#11829 Remove unnecessary `setText` from Imp token code
  Mage/src/main/java/mage/game/permanent/token/ImpToken.java
Labels: cards, engine

#11830 [ICE] Implement Arcum's Sleigh
  Mage.Sets/src/mage/cards/a/ArcumsSleigh.java
  Mage.Sets/src/mage/sets/IceAge.java
Labels: cards

#11834 Chore: change predicate class into enum
  Mage.Sets/src/mage/cards/m/MelekReforgedResearcher.java
Labels: cards

#11835 Chore: Add choose hints to Polygraph Orb
  Mage.Sets/src/mage/cards/p/PolygraphOrb.java
Labels: cards

#11825 [MKM] Implement Intrude on the Mind
  Mage.Sets/src/mage/cards/i/IntrudeOnTheMind.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/game/permanent/token/Thopter00ColorlessToken.java
Labels: cards, engine

#11831 [MKC] Implement Tesak, Judith's Hellhound
  Mage.Sets/src/mage/cards/t/TesakJudithsHellhound.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
  Mage/src/main/java/mage/abilities/keyword/UnleashAbility.java
Labels: cards, engine

#11838 [MKM] Implement Incinerator of the Guilty
  Mage.Sets/src/mage/cards/i/IncineratorOfTheGuilty.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11844 [CLU] Implement Stampede Surfer
  Mage.Sets/src/mage/cards/s/StampedeSurfer.java
  Mage.Sets/src/mage/sets/RavnicaClueEdition.java
Labels: cards

#11843 [MKC] Implement Unshakable Tail
  Mage.Sets/src/mage/cards/u/UnshakableTail.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
Labels: cards

#11842 [MKC] Implement Redemption Arc
  Mage.Sets/src/mage/cards/r/RedemptionArc.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
Labels: cards

#11837 [MKM] Implement Flourishing Bloom-Kin and move Cultivate-like searches to common class
  Mage.Sets/src/mage/cards/c/Cultivate.java
  Mage.Sets/src/mage/cards/f/FlourishingBloomKin.java
  Mage.Sets/src/mage/cards/k/KodamasReach.java
  Mage.Sets/src/mage/cards/n/NavigationOrb.java
  Mage.Sets/src/mage/cards/n/NissasPilgrimage.java
  Mage.Sets/src/mage/cards/p/Peregrination.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/abilities/effects/common/search/SearchLibraryPutOneOntoBattlefieldTappedRestInHandEffect.java
Labels: cards, engine

#11860 [BLB] Implement Byrke, Long Ear of the Law
  Mage.Sets/src/mage/cards/a/AjaniAdversaryOfTyrants.java
  Mage.Sets/src/mage/cards/a/AragornHornburgHero.java
  Mage.Sets/src/mage/cards/b/ByrkeLongEarOfTheLaw.java
  Mage.Sets/src/mage/cards/e/ElvishVatkeeper.java
  Mage.Sets/src/mage/cards/f/FractalHarness.java
  Mage.Sets/src/mage/cards/i/InvigoratingSurge.java
  Mage.Sets/src/mage/cards/t/TanazirQuandrix.java
  Mage.Sets/src/mage/cards/v/VisionsOfDominance.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/abilities/effects/common/DoubleCountersTargetEffect.java
Labels: cards, engine

#11855 [MKC] Minor fixes to Redemption arc
  Mage.Sets/src/mage/cards/r/RedemptionArc.java
Labels: cards

#11857 [MKM] Implement Hedge Whisperer
  Mage.Sets/src/mage/cards/h/HedgeWhisperer.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11865 [MKC] Implement Printlifter Ooze
  Mage.Sets/src/mage/cards/p/PrintlifterOoze.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
  Mage/src/main/java/mage/abilities/effects/common/CreateTokenCopyTargetEffect.java
  Mage/src/main/java/mage/abilities/effects/common/CreateTokenEffect.java
Labels: cards, engine

#11863 [MKM] Implement Blood Spatter Analysis
  Mage.Sets/src/mage/cards/b/BloodSpatterAnalysis.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/counters/CounterType.java
Labels: cards, engine

#11867 [MKM] Implement Coerced to Kill
  Mage.Sets/src/mage/cards/c/CoercedToKill.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11871 [Refactor] Update GainAbilityControlledSpellsEffect to use nonland card filter
  Mage.Sets/src/mage/cards/a/AbaddonTheDespoiler.java
  Mage.Sets/src/mage/cards/c/CaetusSeaTyrantOfSegovia.java
  Mage.Sets/src/mage/cards/c/CastThroughTime.java
  Mage.Sets/src/mage/cards/c/ChiefEngineer.java
  Mage.Sets/src/mage/cards/f/FallajiWayfarer.java
  Mage.Sets/src/mage/cards/f/FiresongAndSunspeaker.java
  Mage.Sets/src/mage/cards/f/FlamekinHerald.java
  Mage.Sets/src/mage/cards/h/HeartflameDuelist.java
  Mage.Sets/src/mage/cards/h/HoardingBroodlord.java
  Mage.Sets/src/mage/cards/h/HuntingVelociraptor.java
  Mage.Sets/src/mage/cards/i/ImotiCelebrantOfBounty.java
  Mage.Sets/src/mage/cards/i/InspiringStatuary.java
  Mage.Sets/src/mage/cards/m/MycosynthGolem.java
  Mage.Sets/src/mage/cards/p/PestilentSpirit.java
  Mage.Sets/src/mage/cards/r/RadiantScrollwielder.java
  Mage.Sets/src/mage/cards/s/SoulfireGrandMaster.java
  Mage.Sets/src/mage/cards/t/TesakJudithsHellhound.java
  Mage.Sets/src/mage/cards/t/TezzeretMasterOfTheBridge.java
  Mage.Sets/src/mage/cards/t/TheFirstSliver.java
  Mage.Sets/src/mage/cards/t/ThrummingStone.java
  Mage.Sets/src/mage/cards/z/ZhulodokVoidGorger.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/GainAbilityControlledSpellsEffect.java
Labels: cards, engine
