Repository magefree/mage, pull requests merged in 2024-03, with the labels that each got.

#11884 [MKM] Implement Goblin Maskmaker
  Mage.Sets/src/mage/cards/g/GoblinMaskmaker.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11885 [MKC] Implement Final-Word Phantom
  Mage.Sets/src/mage/cards/f/FinalWordPhantom.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
Labels: cards

#11872 [ANB] extra cards
  Mage.Sets/src/mage/cards/b/BalothPackhunter.java
  Mage.Sets/src/mage/cards/c/CompoundFracture.java
  Mage.Sets/src/mage/cards/h/HallowedPriest.java
  Mage.Sets/src/mage/cards/m/MarduOutrider.java
  Mage.Sets/src/mage/cards/t/TinStreetCadet.java
  Mage.Sets/src/mage/sets/ArenaBeginnerSet.java
Labels: cards

#11887 adding card hint to cards that reference cards named ~ in your graveyard
  Mage.Sets/src/mage/cards/c/CompoundFracture.java
  Mage.Sets/src/mage/cards/d/DragonsApproach.java
  Mage.Sets/src/mage/cards/f/FranticInventory.java
  Mage.Sets/src/mage/cards/g/GalvanicBombardment.java
  Mage.Sets/src/mage/cards/g/GrowthCycle.java
  Mage.Sets/src/mage/cards/t/TakeInventory.java
Labels: cards

#11892 update Suspend Ability for optional casting
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/SuspendTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/ncc/SinisterConciergeTest.java
  Mage/src/main/java/mage/abilities/keyword/SuspendAbility.java
Labels: engine, tests

#11898 rework Ghastly Conscription and Jeskai Infiltrator to common manifest
  Mage.Sets/src/mage/cards/g/GhastlyConscription.java
  Mage.Sets/src/mage/cards/j/JeskaiInfiltrator.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ManifestTest.java
  Mage/src/main/java/mage/abilities/effects/keyword/ManifestEffect.java
Labels: cards, engine, tests

#11901 [MKC] Implement Experiment Twelve, changes to TargetPermanentPowerCount
  Mage.Sets/src/mage/cards/e/ExperimentTwelve.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/TargetPermanentPowerCount.java
Labels: cards, engine

#11899 [MKC] Implement Detective of the Month
  Mage.Sets/src/mage/cards/d/DetectiveOfTheMonth.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
Labels: cards

#11897 [SCD] Starter Commander Decks Issue 11893
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
  Mage.Sets/src/mage/sets/StarterCommanderDecks.java
  Utils/known-sets.txt
  Utils/mtg-sets-data.txt
Labels: cards, client, dev

#11900 [MKM] Implement Pyrotechnic Performer
  Mage.Sets/src/mage/cards/p/PyrotechnicPerformer.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11908 [SLP] Secret Lair Showdown (omitted set)
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
  Mage.Sets/src/mage/sets/SecretLairShowdown.java
  Utils/known-sets.txt
  Utils/mtg-sets-data.txt
Labels: cards, client, dev

#11910 [SCD] Starter Commander Decks - take 2
  Mage.Sets/src/mage/sets/StarterCommanderDecks.java
Labels: cards

#11913 Update DeckValidator.java
  Mage/src/main/java/mage/cards/decks/DeckValidator.java
Labels: engine

#11915 XANA - removing cards that are no longer in this set
  Mage.Sets/src/mage/cards/b/BlindingRadiance.java
  Mage.Sets/src/mage/cards/g/GoblinBruiser.java
  Mage.Sets/src/mage/cards/o/OgrePainbringer.java
  Mage.Sets/src/mage/cards/t/TitanicPelagosaur.java
  Mage.Sets/src/mage/sets/ArenaNewPlayerExperienceExtras.java
Labels: cards

#11774 [PH17] Implement Inzerva, Master of Insights
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
  Mage.Sets/src/mage/cards/i/InzervaMasterOfInsights.java
  Mage.Sets/src/mage/sets/HeroesOfTheRealm2017.java
  Mage/src/main/java/mage/abilities/common/DrawCardOpponentTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/PlayWithHandRevealedEffect.java
  Mage/src/main/java/mage/abilities/effects/keyword/FatesealEffect.java
  Mage/src/main/java/mage/constants/SubType.java
  Mage/src/main/java/mage/game/command/emblems/InzervaMasterOfInsightsEmblem.java
  Mage/src/main/java/mage/players/PlayerImpl.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine, client

#11882 [MKM] Implement Illicit Masquerade
  Mage.Sets/src/mage/cards/i/IllicitMasquerade.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/counters/CounterType.java
Labels: cards, engine

#11930 [WHO] Implement Me The Immortal
  Mage.Sets/src/mage/cards/m/MeTheImmortal.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/MageIdentifier.java
Labels: cards, engine

#11936 [PIP] Implement Assaultron Dominator
  Mage.Sets/src/mage/cards/a/AssaultronDominator.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11939 [PIP] Implement Automated Assembly Line
  Mage.Sets/src/mage/cards/a/AutomatedAssemblyLine.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11940 [PIP] Implement Sierra, Nuka's Biggest Fan
  Mage.Sets/src/mage/cards/s/SierraNukasBiggestFan.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11941 [PIP] Implement Brotherhood Scribe
  Mage.Sets/src/mage/cards/b/BrotherhoodScribe.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11942 [PIP] Implement Caesar, Legion's Emperor
  Mage.Sets/src/mage/cards/c/CaesarLegionsEmperor.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11943 Fix addSimultaneousDamage to avoid adding damage events to existing DamagedBatchForOnePlayerEvent instances when they shouldn't
  Mage/src/main/java/mage/game/GameState.java
Labels: engine

#11947 [PIP] Implement Commander Sofia Daguerre
  Mage.Sets/src/mage/cards/c/CommanderSofiaDaguerre.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11948 [PIP] Implement Colonel Autumn
  Mage.Sets/src/mage/cards/c/ColonelAutumn.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11949 [PIP] Implement Kellogg, Dangerous Mind
  Mage.Sets/src/mage/cards/k/KelloggDangerousMind.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11950 [PIP] Implement Nerd Rage
  Mage.Sets/src/mage/cards/n/NerdRage.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11951 [PIP] Implement MacCready, Lamplight Mayor
  Mage.Sets/src/mage/cards/m/MacCreadyLamplightMayor.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11952 [PIP] Implement Mister Gutsy
  Mage.Sets/src/mage/cards/m/MisterGutsy.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11955 [PIP] Implement Red Death, Shipwrecker
  Mage.Sets/src/mage/cards/r/RedDeathShipwrecker.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11841 Implement Damage Batch for Permanent event
  Mage.Sets/src/mage/cards/d/DonnaNoble.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/damage/DonnaNobleTests.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/delayed/DamagedBatchTests.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/events/DamagedBatchEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchForOnePermanentEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchForOnePlayerEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchForPermanentsEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchForPlayersEvent.java
  Mage/src/main/java/mage/game/events/GameEvent.java
Labels: cards, engine, tests

#11957 Megamorph should appear as if it were Morph
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/MegamorphTest.java
  Mage.Tests/src/test/java/org/mage/test/serverside/TokenImagesTest.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BecomesFaceDownCreatureEffect.java
  Mage/src/main/java/mage/abilities/keyword/MorphAbility.java
  Mage/src/main/java/mage/cards/repository/TokenRepository.java
  Mage/src/main/java/mage/constants/SpellAbilityCastMode.java
Labels: engine, tests

#11960 Fix Wrathful Raptors AI
  Mage.Sets/src/mage/cards/w/WrathfulRaptors.java
Labels: cards

#11946 Improve handling of abilities that let you cast spells from not hand zone once per turn
  Mage.Sets/src/mage/cards/a/AssembleThePlayers.java
  Mage.Sets/src/mage/cards/a/AugurOfAutumn.java
  Mage.Sets/src/mage/cards/c/CaseOfTheLockedHothouse.java
  Mage.Sets/src/mage/cards/c/CemeteryIlluminator.java
  Mage.Sets/src/mage/cards/c/ConspicuousSnoop.java
  Mage.Sets/src/mage/cards/c/CourserOfKruphix.java
  Mage.Sets/src/mage/cards/d/DanithaNewBenaliasLight.java
  Mage.Sets/src/mage/cards/e/ElshaOfTheInfinite.java
  Mage.Sets/src/mage/cards/e/ElvenChorus.java
  Mage.Sets/src/mage/cards/e/EmperorMihailII.java
  Mage.Sets/src/mage/cards/e/ErrantAndGiada.java
  Mage.Sets/src/mage/cards/e/ExperimentalFrenzy.java
  Mage.Sets/src/mage/cards/f/FutureSight.java
  Mage.Sets/src/mage/cards/g/GaleaKindlerOfHope.java
  Mage.Sets/src/mage/cards/g/GarruksHorde.java
  Mage.Sets/src/mage/cards/g/GisaAndGeralf.java
  Mage.Sets/src/mage/cards/i/IsuTheAbominable.java
  Mage.Sets/src/mage/cards/j/JohannApprenticeSorcerer.java
  Mage.Sets/src/mage/cards/k/KaradorGhostChieftain.java
  Mage.Sets/src/mage/cards/k/KorlessaScaleSinger.java
  Mage.Sets/src/mage/cards/l/LilaHospitalityHostess.java
  Mage.Sets/src/mage/cards/l/LurrusOfTheDreamDen.java
  Mage.Sets/src/mage/cards/m/MagusOfTheFuture.java
  Mage.Sets/src/mage/cards/m/MelekIzzetParagon.java
  Mage.Sets/src/mage/cards/m/MysticForge.java
  Mage.Sets/src/mage/cards/n/NaliaDeArnise.java
  Mage.Sets/src/mage/cards/o/OneWithTheMultiverse.java
  Mage.Sets/src/mage/cards/o/OracleOfMulDaya.java
  Mage.Sets/src/mage/cards/p/PrecognitionField.java
  Mage.Sets/src/mage/cards/r/RadhaHeartOfKeld.java
  Mage.Sets/src/mage/cards/r/RangerClass.java
  Mage.Sets/src/mage/cards/r/Realmwalker.java
  Mage.Sets/src/mage/cards/r/RivazOfTheClaw.java
  Mage.Sets/src/mage/cards/s/SigardaFontOfBlessings.java
  Mage.Sets/src/mage/cards/t/TheBelligerent.java
  Mage.Sets/src/mage/cards/t/TheRealityChip.java
  Mage.Sets/src/mage/cards/v/VergeRangers.java
  Mage.Sets/src/mage/cards/v/VivienMonstersAdvocate.java
  Mage.Sets/src/mage/cards/v/VizierOfTheMenagerie.java
  Mage.Sets/src/mage/cards/x/XanatharGuildKingpin.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/other/CastFromGraveyardOnceTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/other/MultipleAsThoughEffectsTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/c17/KessDissidentMageTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mkm/AssembleThePlayersTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/vow/CemeteryIlluminatorTest.java
  Mage/src/main/java/mage/MageIdentifier.java
  Mage/src/main/java/mage/abilities/common/CastFromGraveyardOnceEachTurnAbility.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/LookAtTopCardOfLibraryAnyTimeEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/LookAtTopCardOfLibraryAnyTimeTargetEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/PlayFromTopOfLibraryEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/PlayTheTopCardEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/PlayTheTopCardTargetEffect.java
  Mage/src/main/java/mage/watchers/common/OnceEachTurnCastWatcher.java
Labels: cards, engine, tests

#11962 fix face-down creature spells cost reduction to include disguise
  Mage.Sets/src/mage/cards/d/DreamChisel.java
  Mage.Sets/src/mage/cards/k/KadenaSlinkingSorcerer.java
  Mage.Sets/src/mage/cards/o/ObscuringAether.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/DisguiseTest.java
  Mage/src/main/java/mage/abilities/effects/common/cost/FaceDownSpellsCostReductionControllerEffect.java
  Mage/src/main/java/mage/abilities/effects/common/cost/MorphSpellsCostReductionControllerEffect.java
Labels: cards, engine, tests

#11965 [PIP] Implement Nick Valentine, Private Eye
  Mage.Sets/src/mage/cards/n/NickValentinePrivateEye.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage/src/main/java/mage/constants/SubType.java
Labels: cards, engine

#11966 [PIP] Implement Overseer of Vault 76
  Mage.Sets/src/mage/cards/o/OverseerOfVault76.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11967 [PIP] Implement Well Rested
  Mage.Sets/src/mage/cards/w/WellRested.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11964 [PIP] Implement Electrosiphon
  Mage.Sets/src/mage/cards/e/Electrosiphon.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11973 [MKM] Implement Anzrag's Rampage; add hint to Structural Assault
  Mage.Sets/src/mage/cards/a/AnzragsRampage.java
  Mage.Sets/src/mage/cards/s/StructuralAssault.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11974 Add life lost event and batch event to implement Ob Nixilis, Captive Kingpin
  Mage.Sets/src/mage/cards/o/ObNixilisCaptiveKingpin.java
  Mage.Sets/src/mage/sets/MarchOfTheMachineTheAftermath.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/damage/ObNixilisCaptiveKingpinTest.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/game/events/LifeLostBatchEvent.java
  Mage/src/main/java/mage/game/events/LifeLostEvent.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#11961 Fix Wrathful Raptor's ability trigger
  Mage.Sets/src/mage/cards/w/WrathfulRaptors.java
Labels: cards

#11971 [PIP] Implement Battle of Hoover Dam
  Mage.Sets/src/mage/cards/b/BattleOfHooverDam.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11975 [MKM] Implement Crowd-Control Warden
  Mage.Sets/src/mage/cards/c/CrowdControlWarden.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11979 [MKM] Implement Call a Surprise Witness
  Mage.Sets/src/mage/cards/c/CallASurpriseWitness.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11980 [MKM] Implement Extract a Confession
  Mage.Sets/src/mage/cards/e/ExtractAConfession.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#11987 fix #9877 (Disorder in the Court)
  Mage.Sets/src/mage/cards/d/DisorderInTheCourt.java
  Mage/src/main/java/mage/abilities/effects/common/ExileReturnBattlefieldNextEndStepTargetEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ReturnToBattlefieldUnderOwnerControlTargetEffect.java
Labels: cards, engine

#11988 Fix Aether Snap
  Mage.Sets/src/mage/cards/a/AetherSnap.java
Labels: cards

#11972 [PIP]Implement Robobrain War Mind
  Mage.Sets/src/mage/cards/r/RobobrainWarMind.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11991 Clean up life loss event
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/damage/ObNixilisCaptiveKingpinTest.java
Labels: engine, tests

#11993 Fix DIE_ROLLED event to set targetID to player who rolled the die
  Mage.Sets/src/mage/cards/a/AsLuckWouldHaveIt.java
  Mage.Sets/src/mage/cards/c/ChitteringDoom.java
  Mage.Sets/src/mage/cards/c/CriticalHit.java
  Mage.Sets/src/mage/cards/g/GroundPounder.java
  Mage.Sets/src/mage/cards/h/HammerJammer.java
  Mage.Sets/src/mage/cards/m/MonoxaMidwayManager.java
  Mage.Sets/src/mage/cards/m/MrHousePresidentAndCEO.java
  Mage.Sets/src/mage/cards/n/NetheresePuzzleWard.java
  Mage.Sets/src/mage/cards/s/SteelSquirrel.java
  Mage.Sets/src/mage/cards/t/TheSpaceFamilyGoblinson.java
  Mage.Sets/src/mage/cards/w/WillingTestSubject.java
  Mage/src/main/java/mage/game/events/DieRolledEvent.java
  Mage/src/main/java/mage/players/PlayerImpl.java
  Mage/src/main/java/mage/watchers/common/PlanarRollWatcher.java
Labels: cards, engine

#12010 Fix issue #11747
  Mage.Sets/src/mage/cards/c/CranialExtraction.java
  Mage.Sets/src/mage/cards/l/LaeliaTheBladeReforged.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/c21/LaeliaTheBladeReforgedTest.java
Labels: cards, tests

#12004 [MKC] Implement Innocuous Researcher
  Mage.Sets/src/mage/cards/i/InnocuousResearcher.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
Labels: cards

#11929 [WHO] Implement Amy Pond and Rory Williams
  Mage.Sets/src/mage/cards/a/AmyPond.java
  Mage.Sets/src/mage/cards/e/Epochrasite.java
  Mage.Sets/src/mage/cards/r/RoryWilliams.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/abilities/effects/common/ExileSpellWithTimeCountersEffect.java
  Mage/src/main/java/mage/filter/common/FilterSuspendedCard.java
Labels: cards, engine

#11977 [MKC] Implement Prisoner's Dilemma
  Mage.Sets/src/mage/cards/p/PrisonersDilemma.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
Labels: cards

#11978 [PIP] Implement Arcade Gannon
  Mage.Sets/src/mage/cards/a/ArcadeGannon.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards, engine

#11994 [PIP]Implement Brotherhood Vertibird
  Mage.Sets/src/mage/cards/b/BrotherhoodVertibird.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11996 [PIP]Implement Paladin Danse, Steel Maverick
  Mage.Sets/src/mage/cards/p/PaladinDanseSteelMaverick.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11859 [OTJ] Implementing "commit crime" mechanic
  Mage.Sets/src/mage/cards/d/DuelistOfTheMind.java
  Mage.Sets/src/mage/cards/f/FreestriderLookout.java
  Mage.Sets/src/mage/cards/h/HardbristleBandit.java
  Mage.Sets/src/mage/cards/i/IntimidationCampaign.java
  Mage.Sets/src/mage/cards/m/MaraudingSphinx.java
  Mage.Sets/src/mage/cards/o/OkoTheRingleader.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/CommittedCrimeTest.java
  Mage.Verify/src/test/java/mage/verify/VerifyCardDataTest.java
  Mage/src/main/java/mage/abilities/common/CommittedCrimeTriggeredAbility.java
  Mage/src/main/java/mage/abilities/condition/common/CommittedCrimeCondition.java
  Mage/src/main/java/mage/game/permanent/token/ElkToken.java
  Mage/src/main/java/mage/watchers/common/CommittedCrimeWatcher.java
Labels: cards, engine, tests, dev

#11886 [WHO] Implement 4 cards, create generic EachOpponentPermanentTargetsAdjuster
  Mage.Sets/src/mage/cards/b/BiggerOnTheInside.java
  Mage.Sets/src/mage/cards/b/BlatantThievery.java
  Mage.Sets/src/mage/cards/b/BronzebeakForagers.java
  Mage.Sets/src/mage/cards/d/DecoyGambit.java
  Mage.Sets/src/mage/cards/d/DesecrateReality.java
  Mage.Sets/src/mage/cards/d/DismantlingWave.java
  Mage.Sets/src/mage/cards/e/ElminstersSimulacrum.java
  Mage.Sets/src/mage/cards/e/EnigmaThief.java
  Mage.Sets/src/mage/cards/e/EverythingComesToDust.java
  Mage.Sets/src/mage/cards/g/GraspOfFate.java
  Mage.Sets/src/mage/cards/h/HammersOfMoradin.java
  Mage.Sets/src/mage/cards/i/InTheDarknessBindThem.java
  Mage.Sets/src/mage/cards/j/JuvenileMistDragon.java
  Mage.Sets/src/mage/cards/l/LuminatePrimordial.java
  Mage.Sets/src/mage/cards/m/MassMutiny.java
  Mage.Sets/src/mage/cards/m/MoltenPrimordial.java
  Mage.Sets/src/mage/cards/r/ReverseThePolarity.java
  Mage.Sets/src/mage/cards/s/SontaranGeneral.java
  Mage.Sets/src/mage/cards/s/SylvanPrimordial.java
  Mage.Sets/src/mage/cards/t/TemptedByTheOriq.java
  Mage.Sets/src/mage/cards/t/TheBalrogOfMoria.java
  Mage.Sets/src/mage/cards/t/TheHorusHeresy.java
  Mage.Sets/src/mage/cards/t/TheTrueScriptures.java
  Mage.Sets/src/mage/cards/t/TolarianContempt.java
  Mage.Sets/src/mage/cards/v/VronosMaskedInquisitor.java
  Mage.Sets/src/mage/cards/w/WelcomeTo.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/NextSpellCastHasAbilityEffect.java
  Mage/src/main/java/mage/target/targetadjustment/EachOpponentPermanentTargetsAdjuster.java
  Mage/src/main/java/mage/target/targetadjustment/TargetAdjuster.java
Labels: cards, engine

#12019 Rename combat damage checker on single life loss event
  Mage/src/main/java/mage/game/events/LifeLostBatchEvent.java
  Mage/src/main/java/mage/game/events/LifeLostEvent.java
Labels: engine

#12003 [PIP]Implement T-45 Power Armor
  Mage.Sets/src/mage/cards/t/T45PowerArmor.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#11995 Refactor batch events
  Mage.Sets/src/mage/cards/a/AlelaCunningConqueror.java
  Mage.Sets/src/mage/cards/b/BenSolo.java
  Mage.Sets/src/mage/cards/b/BloodSpatterAnalysis.java
  Mage.Sets/src/mage/cards/b/BreechesBrazenPlunderer.java
  Mage.Sets/src/mage/cards/c/ContestedGameBall.java
  Mage.Sets/src/mage/cards/c/CourtOfLocthwain.java
  Mage.Sets/src/mage/cards/f/FelineSovereign.java
  Mage.Sets/src/mage/cards/h/HowlpackAvenger.java
  Mage.Sets/src/mage/cards/k/KayaSpiritsJustice.java
  Mage.Sets/src/mage/cards/m/MagmaticGalleon.java
  Mage.Sets/src/mage/cards/o/ObNixilisCaptiveKingpin.java
  Mage.Sets/src/mage/cards/o/OliviasAttendants.java
  Mage.Sets/src/mage/cards/r/RisonaAsariCommander.java
  Mage.Sets/src/mage/cards/w/WaytaTrainerProdigy.java
  Mage.Sets/src/mage/cards/w/WrathfulRaptors.java
  Mage.Sets/src/mage/cards/z/ZurgoAndOjutai.java
  Mage/src/main/java/mage/abilities/common/BecomesTappedOneOrMoreTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/DealsCombatDamageEquippedTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/DealsCombatDamageTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/OneOrMoreDealDamageTriggeredAbility.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/events/BatchEvent.java
  Mage/src/main/java/mage/game/events/BatchGameEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchAllEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchForOnePermanentEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchForOnePlayerEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchForPermanentsEvent.java
  Mage/src/main/java/mage/game/events/DamagedBatchForPlayersEvent.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/game/events/LifeLostBatchEvent.java
  Mage/src/main/java/mage/game/events/LifeLostEvent.java
  Mage/src/main/java/mage/game/events/TappedBatchEvent.java
  Mage/src/main/java/mage/game/events/UntappedBatchEvent.java
  Mage/src/main/java/mage/game/events/UntappedEvent.java
  Mage/src/main/java/mage/game/events/ZoneChangeBatchEvent.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Mage/src/main/java/mage/players/PlayerImpl.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: cards, engine

#12012 [OTJ] Implementing "saddle" mechanic
  Mage.Sets/src/mage/cards/q/QuilledCharger.java
  Mage.Sets/src/mage/cards/t/TrainedArynx.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/SaddleTest.java
  Mage/src/main/java/mage/abilities/common/AttacksWhileSaddledTriggeredAbility.java
  Mage/src/main/java/mage/abilities/condition/common/SaddledCondition.java
  Mage/src/main/java/mage/abilities/keyword/SaddleAbility.java
  Mage/src/main/java/mage/constants/SubType.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/game/permanent/Permanent.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Utils/keywords.txt
Labels: cards, engine, tests, dev

#12025 [OTJ] Implement Gisa, the Hellraiser
  Mage.Sets/src/mage/cards/g/GisaTheHellraiser.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
Labels: cards, engine

#12017 [OTJ] Implement Plot mechanic
  Mage.Sets/src/mage/cards/a/AloeAlchemist.java
  Mage.Sets/src/mage/cards/a/AvenInterrupter.java
  Mage.Sets/src/mage/cards/d/DocAurlockGrizzledGenius.java
  Mage.Sets/src/mage/cards/j/JaceReawakened.java
  Mage.Sets/src/mage/cards/k/KellanJoinsUp.java
  Mage.Sets/src/mage/cards/l/LilahUndefeatedSlickshot.java
  Mage.Sets/src/mage/cards/l/LonghornSharpshooter.java
  Mage.Sets/src/mage/cards/m/MakeYourOwnLuck.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/PlotTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otj/DocAurlockGrizzledGeniusTest.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/abilities/common/BecomesPlottedSourceTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/MayExileCardFromHandPlottedEffect.java
  Mage/src/main/java/mage/abilities/keyword/ForetellAbility.java
  Mage/src/main/java/mage/abilities/keyword/PlotAbility.java
  Mage/src/main/java/mage/constants/SpellAbilityCastMode.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: cards, engine, tests, dev

#12035 [PIP] Implement Lily Bowen, Raging Grandma
  Mage.Sets/src/mage/cards/l/LilyBowenRagingGrandma.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12018 [OTJ] Implementing "spree" mechanic
  Mage.Sets/src/mage/cards/c/CaughtInTheCrossfire.java
  Mage.Sets/src/mage/cards/e/ExplosiveDerailment.java
  Mage.Sets/src/mage/cards/f/FinalShowdown.java
  Mage.Sets/src/mage/cards/i/InsatiableAvarice.java
  Mage.Sets/src/mage/cards/m/MetamorphicBlast.java
  Mage.Sets/src/mage/cards/r/RequisitionRaid.java
  Mage.Sets/src/mage/cards/r/RustlerRampage.java
  Mage.Sets/src/mage/cards/t/ThreeStepsAhead.java
  Mage.Sets/src/mage/cards/u/UnfortunateAccident.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/SpreeTest.java
  Mage/src/main/java/mage/abilities/Ability.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/abilities/Mode.java
  Mage/src/main/java/mage/abilities/Modes.java
  Mage/src/main/java/mage/abilities/keyword/SpreeAbility.java
  Mage/src/main/java/mage/game/stack/StackAbility.java
  Utils/keywords.txt
Labels: cards, engine, tests, dev
