Repository magefree/mage, pull requests merged in 2024-12, with the labels that each got.

#13063 Fix profanity filter
  Mage.Client/src/main/java/mage/client/chat/ChatPanelBasic.java
Labels: client

#13102 [MB2] Implement Hish of the Snake Cult
  Mage.Sets/src/mage/cards/h/HishOfTheSnakeCult.java
  Mage.Sets/src/mage/sets/MysteryBooster2.java
  Mage/src/main/java/mage/abilities/keyword/DauntAbility.java
  Mage/src/main/java/mage/abilities/keyword/PoisonousAbility.java
Labels: cards, engine

#13091 [DSC] Implement The Master of Keys
  Mage.Sets/src/mage/cards/t/TheMasterOfKeys.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

#13144 Fix flashback not working with Viral Spawning
  Mage.Sets/src/mage/cards/v/ViralSpawning.java
Labels: cards

#13162 Fix package RadCounterTriggerTest
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/RadCounterTriggerTest.java
Labels: tests

#13176 fix a bug in Sharae of Numbing Depths
  Mage.Sets/src/mage/cards/s/SharaeOfNumbingDepths.java
Labels: cards

#13182 [bugfix] Break deadlock for one must/can't be blocked pair.
  Mage/src/main/java/mage/game/combat/Combat.java
Labels: engine

#13179 [refactor/bugfix] use rule 802.2a where appropriate.
  Mage.Sets/src/mage/cards/b/BeckoningWillOWisp.java
  Mage.Sets/src/mage/cards/o/OgreMarauder.java
  Mage.Sets/src/mage/cards/s/SkymarkRoc.java
  Mage.Sets/src/mage/cards/u/UlamogTheCeaselessHunger.java
  Mage.Sets/src/mage/cards/w/WardscaleDragon.java
  Mage.Tests/src/test/java/org/mage/test/combat/RemoveFromCombatTest.java
  Mage/src/main/java/mage/game/combat/Combat.java
  Mage/src/main/java/mage/game/combat/CombatGroup.java
Labels: cards, engine, tests
