Repository magefree/mage, pull requests merged in 2024-04, with the labels that each got.

#12027 [OTJ] Implement Vadmir, New Blood
  Mage.Sets/src/mage/cards/v/VadmirNewBlood.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
Labels: cards

#12034 [MKM] Agency Outfitter
  Mage.Sets/src/mage/cards/a/AgencyOutfitter.java
  Mage.Sets/src/mage/cards/s/SludgeTitan.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/players/PlayerImpl.java
  Mage/src/main/java/mage/target/common/TargetCardAndOrCard.java
  Mage/src/main/java/mage/target/common/TargetCardAndOrCardInLibrary.java
Labels: cards, engine

#12037 [PIP] Implement Cards x5
  Mage.Sets/src/mage/cards/b/BehemothOfVault.java
  Mage.Sets/src/mage/cards/b/BighornerRancher.java
  Mage.Sets/src/mage/cards/b/BottleCapBlast.java
  Mage.Sets/src/mage/cards/c/CathedralAcolyte.java
  Mage.Sets/src/mage/cards/h/HellToPay.java
  Mage.Sets/src/mage/cards/r/RuthlessRadrat.java
  Mage.Sets/src/mage/cards/w/WindswiftSlice.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12038 Remove no-argument Squad constructor
  Mage.Sets/src/mage/cards/a/ArcoFlagellant.java
  Mage.Sets/src/mage/cards/g/GaryClone.java
  Mage.Sets/src/mage/cards/p/PowderGanger.java
  Mage.Sets/src/mage/cards/s/SicarianInfiltrator.java
  Mage.Sets/src/mage/cards/s/SpaceMarineDevastator.java
  Mage.Sets/src/mage/cards/u/UltramarinesHonourGuard.java
  Mage.Sets/src/mage/cards/v/VanguardSuppressor.java
  Mage.Sets/src/mage/cards/z/Zephyrim.java
  Mage/src/main/java/mage/abilities/keyword/SquadAbility.java
  Utils/keywords.txt
Labels: cards, engine, dev

#12042 [OTJ] Implement Fblthp, Lost on the Range
  Mage.Sets/src/mage/cards/f/FblthpLostOnTheRange.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otj/FblthpLostOnTheRangeTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/abilities/keyword/PlotAbility.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#12060 [OTJ] Implement Riku of Many Paths
  Mage.Sets/src/mage/cards/r/RikuOfManyPaths.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otj/RikuOfManyPathsTest.java
Labels: cards, tests

#12045 [MKM] Implement Unyielding Gatekeeper
  Mage.Sets/src/mage/cards/u/UnyieldingGatekeeper.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#12047 [MKM] Implement Case File Auditor
  Mage.Sets/src/mage/cards/c/CaseFileAuditor.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards, engine

#12056 [PIP] Implement Vault 75: Middle School
  Mage.Sets/src/mage/cards/v/Vault75MiddleSchool.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12040 [OTJ] Implement Tinybones, the Pickpocket + refactor MayCastTargetThenExileEffect
  Mage.Sets/src/mage/cards/c/ChandraAcolyteOfFlame.java
  Mage.Sets/src/mage/cards/c/ChandraFlamesCatalyst.java
  Mage.Sets/src/mage/cards/d/DeluxeDragster.java
  Mage.Sets/src/mage/cards/d/DiluvianPrimordial.java
  Mage.Sets/src/mage/cards/d/DreadhordeArcanist.java
  Mage.Sets/src/mage/cards/e/EfreetFlamepainter.java
  Mage.Sets/src/mage/cards/f/FinaleOfPromise.java
  Mage.Sets/src/mage/cards/g/GoblinDarkDwellers.java
  Mage.Sets/src/mage/cards/h/HaloForager.java
  Mage.Sets/src/mage/cards/j/JaceTelepathUnbound.java
  Mage.Sets/src/mage/cards/m/MavindaStudentsAdvocate.java
  Mage.Sets/src/mage/cards/m/MissionBriefing.java
  Mage.Sets/src/mage/cards/s/SinsOfThePast.java
  Mage.Sets/src/mage/cards/s/SorcerousSquall.java
  Mage.Sets/src/mage/cards/t/TinybonesThePickpocket.java
  Mage.Sets/src/mage/cards/t/TorrentialGearhulk.java
  Mage.Sets/src/mage/cards/t/ToshiroUmezawa.java
  Mage.Sets/src/mage/cards/v/VoharVodalianDesecrator.java
  Mage.Sets/src/mage/cards/w/WrexialTheRisenDeep.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otj/TinybonesThePickpocketTest.java
  Mage/src/main/java/mage/abilities/effects/common/MayCastTargetCardEffect.java
  Mage/src/main/java/mage/abilities/effects/common/MayCastTargetThenExileEffect.java
  Mage/src/main/java/mage/abilities/effects/common/asthought/YouMaySpendManaAsAnyColorToCastTargetEffect.java
  Mage/src/main/java/mage/constants/CastManaAdjustment.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: cards, engine, tests

#12052 [OTJ] Implement Satoru, the Infiltrator and Freestrider Commando
  Mage.Sets/src/mage/cards/f/FreestriderCommando.java
  Mage.Sets/src/mage/cards/s/SatoruTheInfiltrator.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunction.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otj/FreestriderCommandoTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otj/SatoruTheInfiltratorTest.java
Labels: cards, tests

#12062 [PIP] Implement Pip-Boy 3000
  Mage.Sets/src/mage/cards/p/PipBoy3000.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12039 [PIP] Implement cards x4
  Mage.Sets/src/mage/cards/e/ElderOwynLyons.java
  Mage.Sets/src/mage/cards/g/GunnerConscript.java
  Mage.Sets/src/mage/cards/i/IanTheReckless.java
  Mage.Sets/src/mage/cards/l/LegateLaniusCaesarsAce.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12033 Fix damage triggers
  Mage.Sets/src/mage/cards/a/AegarTheFreezingFlame.java
  Mage.Sets/src/mage/cards/a/AngelheartVial.java
  Mage.Sets/src/mage/cards/a/Arcbond.java
  Mage.Sets/src/mage/cards/b/BloodHound.java
  Mage.Sets/src/mage/cards/c/ChandrasSpitfire.java
  Mage.Sets/src/mage/cards/d/DarienKingOfKjeldor.java
  Mage.Sets/src/mage/cards/e/ExpeditedInheritance.java
  Mage.Sets/src/mage/cards/f/FallOfCairAndros.java
  Mage.Sets/src/mage/cards/f/FilthyCur.java
  Mage.Sets/src/mage/cards/i/InnocentBystander.java
  Mage.Sets/src/mage/cards/j/JaceCunningCastaway.java
  Mage.Sets/src/mage/cards/k/KazarovSengirPureblood.java
  Mage.Sets/src/mage/cards/l/Lich.java
  Mage.Sets/src/mage/cards/l/LivingArtifact.java
  Mage.Sets/src/mage/cards/m/MindbladeRender.java
  Mage.Sets/src/mage/cards/p/PhyrexianNegator.java
  Mage.Sets/src/mage/cards/p/PhyrexianTotem.java
  Mage.Sets/src/mage/cards/p/PiousWarrior.java
  Mage.Sets/src/mage/cards/p/PopularEntertainer.java
  Mage.Sets/src/mage/cards/r/Repercussion.java
  Mage.Sets/src/mage/cards/r/RiteOfPassage.java
  Mage.Sets/src/mage/cards/s/SoulsOfTheFaultless.java
  Mage.Sets/src/mage/cards/s/SowerOfDiscord.java
  Mage.Sets/src/mage/cards/s/StuffyDoll.java
  Mage.Sets/src/mage/cards/s/SunDroplet.java
  Mage.Sets/src/mage/cards/s/SwarmbornGiant.java
  Mage.Sets/src/mage/cards/t/TheRavensWarning.java
  Mage.Sets/src/mage/cards/t/ToralfGodOfFury.java
  Mage.Sets/src/mage/cards/v/VengefulPharaoh.java
  Mage.Sets/src/mage/cards/w/WallOfEssence.java
  Mage.Sets/src/mage/cards/w/WallOfSouls.java
  Mage.Sets/src/mage/cards/w/WarElemental.java
  Mage.Sets/src/mage/cards/w/WildfireElemental.java
  Mage.Sets/src/mage/cards/w/WrathfulRedDragon.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/damage/SpitefulShadowsTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/control/VengefulPharaohTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/damage/ExcessDamageTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/fdn/RiteOfPassageTest.java
  Mage/src/main/java/mage/abilities/common/DealtDamageAttachedTriggeredAbility.java
  Mage/src/main/java/mage/game/events/DamagedBatchForOnePermanentEvent.java
Labels: cards, engine, tests

#12054 [MKM] Implement Break Out
  Mage.Sets/src/mage/cards/b/BreakOut.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
Labels: cards

#12063 [PIP] Implement Piper Wright, Publick Reporter
  Mage.Sets/src/mage/cards/p/PiperWrightPublickReporter.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12072 Forbid non-transforming cards to move transformed to the battlefield
  Mage.Tests/src/test/java/org/mage/test/cards/copy/CleverImpersonatorTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/lci/OjerAxonilDeepestMightTest.java
  Mage/src/main/java/mage/game/ZonesHandler.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: engine, tests

#11719 [MKM] Implement Perimeter Enforcer & Projektor Inspector
  Mage.Sets/src/mage/cards/p/PerimeterEnforcer.java
  Mage.Sets/src/mage/cards/p/ProjektorInspector.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mkm/ProjektorInspectorTest.java
  Mage/src/main/java/mage/cards/CardImpl.java
Labels: cards, engine, tests

#12075 [PIP] Implement Sentry Bot
  Mage.Sets/src/mage/cards/s/SentryBot.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12083 support meld image download
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSource.java
  Mage.Client/src/main/java/org/mage/plugins/card/images/DownloadPicturesService.java
  Mage/src/main/java/mage/cards/repository/CardCriteria.java
  Mage/src/main/java/mage/cards/repository/CardInfo.java
Labels: engine, client

#11723 [MKM] Implement Case of the Pilfered Proof
  Mage.Sets/src/mage/cards/c/CaseOfThePilferedProof.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/abilities/common/CaseAbility.java
Labels: cards, engine

#12102 Minor card fixes, Update EachOpponentPermanentTargetsAdjuster
  Mage.Sets/src/mage/cards/b/BlatantThievery.java
  Mage.Sets/src/mage/cards/b/BronzebeakForagers.java
  Mage.Sets/src/mage/cards/d/DecoyGambit.java
  Mage.Sets/src/mage/cards/d/DesecrateReality.java
  Mage.Sets/src/mage/cards/d/DismantlingWave.java
  Mage.Sets/src/mage/cards/e/ElminstersSimulacrum.java
  Mage.Sets/src/mage/cards/e/EnigmaThief.java
  Mage.Sets/src/mage/cards/g/GraspOfFate.java
  Mage.Sets/src/mage/cards/h/HammersOfMoradin.java
  Mage.Sets/src/mage/cards/i/InTheDarknessBindThem.java
  Mage.Sets/src/mage/cards/j/JuvenileMistDragon.java
  Mage.Sets/src/mage/cards/l/LuminatePrimordial.java
  Mage.Sets/src/mage/cards/m/MassMutiny.java
  Mage.Sets/src/mage/cards/m/MoltenPrimordial.java
  Mage.Sets/src/mage/cards/s/SinisterConcierge.java
  Mage.Sets/src/mage/cards/s/SontaranGeneral.java
  Mage.Sets/src/mage/cards/s/SylvanPrimordial.java
  Mage.Sets/src/mage/cards/t/TemptedByTheOriq.java
  Mage.Sets/src/mage/cards/t/TheBalrogOfMoria.java
  Mage.Sets/src/mage/cards/t/TheHorusHeresy.java
  Mage.Sets/src/mage/cards/t/TheTrueScriptures.java
  Mage.Sets/src/mage/cards/t/TolarianContempt.java
  Mage.Sets/src/mage/cards/v/VronosMaskedInquisitor.java
  Mage.Sets/src/mage/cards/w/WelcomeTo.java
  Mage.Sets/src/mage/cards/w/WreckAndRebuild.java
  Mage/src/main/java/mage/target/targetadjustment/EachOpponentPermanentTargetsAdjuster.java
Labels: cards, engine

#12068 Fix AAT-1's ability trigger check
  Mage.Sets/src/mage/cards/a/AAT1.java
Labels: cards

#12093 Fix DestroyPlaneswalkerWhenDamagedTriggeredAbility
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/damage/DestroyPlaneswalkerWhenDamagedTest.java
  Mage/src/main/java/mage/abilities/common/DestroyPlaneswalkerWhenDamagedTriggeredAbility.java
Labels: engine, tests

#12100 [REX] Implement Cresting Mosasaurus
  Mage.Sets/src/mage/cards/c/CrestingMosasaurus.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
Labels: cards

#12101 [REX] Implement Compy Swarm
  Mage.Sets/src/mage/cards/c/CompySwarm.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
  Mage/src/main/java/mage/abilities/effects/CreateTokenCopySourceEffect.java
Labels: cards, engine

#12099 [REX] Implement Blue, Loyal Raptor
  Mage.Sets/src/mage/cards/b/BlueLoyalRaptor.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
  Mage.Tests/src/test/java/org/mage/test/cards/replacement/entersBattlefield/BlueLoyalRaptorTests.java
Labels: cards, tests

#12115 Fix 514.3a, player priority on cleanup when something happened
  Mage.Tests/src/test/java/org/mage/test/cards/single/iko/RielleTheEverwiseTest.java
  Mage/src/main/java/mage/game/turn/EndPhase.java
  Mage/src/main/java/mage/game/turn/Phase.java
  Mage/src/main/java/mage/game/turn/Step.java
Labels: engine, tests

#12113 [PIP] Implement Veronica, Dissident Scribe
  Mage.Sets/src/mage/cards/v/VeronicaDissidentScribe.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12076 [PIP] Implement The Motherlode, Excavator
  Mage.Sets/src/mage/cards/t/TheMotherlodeExcavator.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12094 [REX] Implement Owen Grady, Raptor Trainer
  Mage.Sets/src/mage/cards/o/OwenGradyRaptorTrainer.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
  Mage/src/main/java/mage/counters/CounterType.java
Labels: cards, engine

#12109 [PIP] Implement Shaun, Father of Synths
  Mage.Sets/src/mage/cards/s/ShaunFatherOfSynths.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage/src/main/java/mage/abilities/TriggeredAbility.java
  Mage/src/main/java/mage/abilities/TriggeredAbilityImpl.java
  Mage/src/main/java/mage/abilities/effects/common/CreateTokenCopyTargetEffect.java
Labels: cards, engine

#11999 [PIP] Implement Marcus, Mutant Mayor
  Mage.Sets/src/mage/cards/m/MarcusMutantMayor.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12118 [OTC] Implement 2 cards, refactor some exile effects ("Gonti-like")
  Mage.Sets/src/mage/cards/b/BlightwingBandit.java
  Mage.Sets/src/mage/cards/d/DecadentDragon.java
  Mage.Sets/src/mage/cards/d/DreamThiefsBandana.java
  Mage.Sets/src/mage/cards/g/GontiCannyAcquisitor.java
  Mage.Sets/src/mage/cards/g/GontiLordOfLuxury.java
  Mage.Sets/src/mage/cards/h/HeadlinerScarlett.java
  Mage.Sets/src/mage/cards/i/IntetTheDreamer.java
  Mage.Sets/src/mage/cards/i/IxhelScionOfAtraxa.java
  Mage.Sets/src/mage/cards/m/Mindleecher.java
  Mage.Sets/src/mage/cards/o/OutrageousRobbery.java
  Mage.Sets/src/mage/cards/p/PraetorsGrasp.java
  Mage.Sets/src/mage/cards/p/PredatorsHour.java
  Mage.Sets/src/mage/cards/s/SiphonInsight.java
  Mage.Sets/src/mage/cards/t/ThiefOfSanity.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunctionCommander.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otc/GontiCannyAcquisitorTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/woc/BlightwingBanditTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/woe/DecadentDragonTest.java
  Mage/src/main/java/mage/abilities/effects/common/ExileFaceDownTopNLibraryYouMayPlayAsLongAsExiledTargetEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ExileFaceDownYouMayPlayAsLongAsExiledTargetEffect.java
Labels: cards, engine, tests

#12106 [REX] Implement Henry Wu, InGen Geneticist
  Mage.Sets/src/mage/cards/h/HenryWuInGenGeneticist.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
Labels: cards

#12080 GainAbilityAttachedEffect init is bugged
  Mage.Sets/src/mage/cards/b/BackdraftHellkite.java
  Mage.Sets/src/mage/cards/b/BileBlight.java
  Mage.Sets/src/mage/cards/c/CaseOfTheUneatenFeast.java
  Mage.Sets/src/mage/cards/c/CommandersPlate.java
  Mage.Sets/src/mage/cards/d/DarthVader.java
  Mage.Sets/src/mage/cards/d/DireBlunderbuss.java
  Mage.Sets/src/mage/cards/e/ElsewhereFlask.java
  Mage.Sets/src/mage/cards/e/ErtaisFamiliar.java
  Mage.Sets/src/mage/cards/g/GiftOfFangs.java
  Mage.Sets/src/mage/cards/g/GreatOakGuardian.java
  Mage.Sets/src/mage/cards/k/KethisTheHiddenHand.java
  Mage.Sets/src/mage/cards/l/LegionLoyalist.java
  Mage.Sets/src/mage/cards/l/LiegeOfTheTangle.java
  Mage.Sets/src/mage/cards/m/MarshCasualties.java
  Mage.Sets/src/mage/cards/n/NightDay.java
  Mage.Sets/src/mage/cards/p/PastInFlames.java
  Mage.Sets/src/mage/cards/p/PolymorphistsJest.java
  Mage.Sets/src/mage/cards/s/ShieldsOfVelisVel.java
  Mage.Sets/src/mage/cards/s/SilumgarTheDriftingDeath.java
  Mage.Sets/src/mage/cards/s/SpatialBinding.java
  Mage.Sets/src/mage/cards/t/TakenoSamuraiGeneral.java
  Mage.Sets/src/mage/cards/t/Terraformer.java
  Mage.Sets/src/mage/cards/v/VisionCharm.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dis/OccularHaloTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/m13/RingOfEvosIsleTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mkm/AirtightAlibiTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/thb/AspectOfManticoreTest.java
  Mage/src/main/java/mage/abilities/effects/ContinuousEffectImpl.java
  Mage/src/main/java/mage/abilities/effects/common/combat/CantBlockAttachedEffect.java
  Mage/src/main/java/mage/abilities/effects/common/combat/GoadAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BecomesCreatureAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BecomesCreatureSourceEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BoostAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BoostControlledEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BoostEnchantedEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BoostOpponentsEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BoostSourceEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BoostTargetEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/GainAbilityAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/GainAbilityAttachedEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/GainAbilityControlledEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/GainAbilitySourceEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/GainAbilityTargetEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/GainAbilityWithAttachmentEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/LoseAbilityAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/SetBasePowerToughnessAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/SwitchPowerToughnessAllEffect.java
Labels: cards, engine, tests

#12087 [PIP] Implement Rad Counters mechanic
  Mage.Client/src/main/java/mage/client/game/PlayerPanelExt.java
  Mage.Client/src/main/resources/info/purepng/black-and-white-radiation-symbol-yhs.png
  Mage.Client/src/main/resources/info/rad.png
  Mage.Sets/src/mage/cards/s/SurvivorsMedKit.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage.Tests/src/test/java/org/mage/test/cards/copy/FeldonOfTheThirdPathTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/MephidrossVampireTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/RadCounterTriggerTest.java
  Mage/src/main/java/mage/abilities/TriggeredAbilities.java
  Mage/src/main/java/mage/cards/repository/TokenRepository.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/command/Emblem.java
  Mage/src/main/java/mage/game/command/emblems/RadiationEmblem.java
Labels: cards, engine, tests, client

#12103 [REX] Implement Grim Giganotosaurus
  Mage.Sets/src/mage/cards/g/GrimGiganotosaurus.java
  Mage.Sets/src/mage/cards/n/NemesisOfMortals.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/activated/NemesisOfMortalsTests.java
  Mage/src/main/java/mage/abilities/keyword/MonstrosityAbility.java
Labels: cards, engine, tests

#12122 [REX] Implement Indoraptor, the Perfect Hybrid
  Mage.Sets/src/mage/cards/i/IndoraptorThePerfectHybrid.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/rex/IndoraptorThePerfectHybridTests.java
Labels: cards, tests

#12136 Update Banned & Restricted List March, 2024
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/Modern.java
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/Vintage.java
Labels: server

#12149 Fix Dragon Cultist
  Mage.Sets/src/mage/cards/d/DragonCultist.java
Labels: cards

#12142 fix and test Zirda's Companion legality
  Mage.Sets/src/mage/cards/z/ZirdaTheDawnwaker.java
  Mage.Tests/Companion_ZirdaInvalid.dck
  Mage.Tests/Companion_ZirdaValid.dck
  Mage.Tests/src/test/java/org/mage/test/cards/single/iko/ZirdaTheDawnwakerCompanionTest.java
  Mage/src/main/java/mage/abilities/keyword/CompanionAbility.java
Labels: cards, engine, tests

#12152 Fix krarks thumb
  Mage.Sets/src/mage/cards/k/KrarksThumb.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mrd/KrarksThumbTest.java
  Mage/src/main/java/mage/game/events/CoinFlippedEvent.java
  Mage/src/main/java/mage/game/events/FlipCoinEvent.java
Labels: cards, engine, tests

#12168 Fix verify failures
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunctionCommander.java
Labels: cards

#12117 [REX] Implement Ian malcolm, chaotician
  Mage.Sets/src/mage/cards/i/IanMalcolmChaotician.java
  Mage.Sets/src/mage/sets/JurassicWorldCollection.java
  Mage.Tests/src/test/java/org/mage/test/cards/watchers/IanMalcolmChaoticianTests.java
  Mage/src/main/java/mage/MageIdentifier.java
  Mage/src/main/java/mage/abilities/common/DrawNthCardTriggeredAbility.java
Labels: cards, engine, tests

#12167 Fixed remembering self-referential choices
  Mage.Client/src/main/java/mage/client/game/FeedbackPanel.java
  Mage.Client/src/main/java/mage/client/game/HelperPanel.java
  Mage.Common/src/main/java/mage/constants/Constants.java
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
Labels: server, client

#12169 Allow multiple icons at the top right of player avatar
  Mage.Client/src/main/java/mage/client/components/HoverButton.java
  Mage.Client/src/main/java/mage/client/game/PlayerPanelExt.java
Labels: client

#12138 Rework Mystery Booster and adjust some set classifications
  Mage.Client/release/sample-decks/1998/1998 Draw Go World Championship Deck Randy Buehler.dck
  Mage.Sets/src/mage/sets/ArenaBeginnerSet.java
  Mage.Sets/src/mage/sets/ArenaNewPlayerExperience.java
  Mage.Sets/src/mage/sets/ArenaNewPlayerExperienceCards.java
  Mage.Sets/src/mage/sets/ArenaNewPlayerExperienceExtras.java
  Mage.Sets/src/mage/sets/Commander2011.java
  Mage.Sets/src/mage/sets/HASCONPromo2017.java
  Mage.Sets/src/mage/sets/HappyHolidays.java
  Mage.Sets/src/mage/sets/HeroesOfTheRealm2016.java
  Mage.Sets/src/mage/sets/HeroesOfTheRealm2017.java
  Mage.Sets/src/mage/sets/HeroesOfTheRealm2019.java
  Mage.Sets/src/mage/sets/MTGArenaPromos.java
  Mage.Sets/src/mage/sets/MysteryBooster.java
  Mage.Sets/src/mage/sets/MysteryBoosterPlaytest.java
  Mage.Sets/src/mage/sets/MysteryBoosterRetailEditionFoils.java
  Mage.Sets/src/mage/sets/Unglued.java
  Mage.Sets/src/mage/sets/Unhinged.java
  Mage.Sets/src/mage/sets/Unsanctioned.java
  Mage.Sets/src/mage/sets/Unstable.java
  Mage.Sets/src/mage/sets/UnstablePromos.java
  Mage.Tests/src/test/java/org/mage/test/sets/BoosterGenerationTest.java
  Mage/src/main/java/mage/cards/ExpansionSet.java
  Mage/src/main/java/mage/constants/SetType.java
Labels: cards, engine, tests, client

#12184 fix Diluvian Primordial NPE on MDFC
  Mage.Sets/src/mage/cards/d/DiluvianPrimordial.java
  Mage.Tests/src/test/java/org/mage/test/cards/cost/splitcards/SplitCardsReboundTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/gtc/DiluvianPrimordialTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/ReturnToHandEffectsTest.java
  Mage/src/main/java/mage/abilities/effects/common/MayCastTargetCardEffect.java
  Mage/src/main/java/mage/abilities/effects/common/replacement/ThatSpellGraveyardExileReplacementEffect.java
  Mage/src/main/java/mage/cards/AdventureCard.java
  Mage/src/main/java/mage/cards/ModalDoubleFacedCard.java
  Mage/src/main/java/mage/cards/SplitCard.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: cards, engine, tests

#12180 Fix Urborg Scavengers
  Mage.Sets/src/mage/cards/u/UrborgScavengers.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mat/UrborgScavengersTests.java
Labels: cards, tests

#12189 rework PhantomReplacementEffect
  Mage.Sets/src/mage/cards/p/PhantomCentaur.java
  Mage.Sets/src/mage/cards/p/PhantomFlock.java
  Mage.Sets/src/mage/cards/p/PhantomNantuko.java
  Mage.Sets/src/mage/cards/p/PhantomNishoba.java
  Mage.Sets/src/mage/cards/p/PhantomNomad.java
  Mage.Sets/src/mage/cards/p/PhantomTiger.java
  Mage.Sets/src/mage/cards/p/PhantomWurm.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tsp/PhantomWurmTest.java
  Mage/src/main/java/mage/abilities/effects/PhantomPreventionEffect.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/events/DamagedBatchCouldHaveFiredEvent.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Mage/src/main/java/mage/game/turn/CombatDamageStep.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#12190 Fix NPE
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
Labels: server

#12183 Fix LegateLaniusCaesarsAce counting non-controlled creatures
  Mage.Sets/src/mage/cards/l/LegateLaniusCaesarsAce.java
Labels: cards

#12201 Create new filter per player instead of using countAll
  Mage.Sets/src/mage/cards/l/LegateLaniusCaesarsAce.java
Labels: cards
