Repository magefree/mage, pull requests merged in 2024-06, with the labels that each got.

#12282 Scryfall small images download
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/CardImageUrls.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSource.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSourceSmall.java
  Mage.Client/src/main/java/org/mage/plugins/card/images/DownloadPicturesService.java
  Mage.Client/src/test/java/mage/client/game/ScryfallImagesDownloadTest.java
  Mage.Client/src/test/java/mage/client/game/TokensMtgImageSourceTest.java
Labels: client

#12318 Stack land creatue token fix
  Mage.Client/src/main/java/org/mage/plugins/card/CardPluginImpl.java
Labels: client

#12362 Update LethalThrowdown.java
  Mage.Sets/src/mage/cards/l/LethalThrowdown.java
Labels: cards

#12344 Implement [MH3] Vexing Bauble
  Mage.Sets/src/mage/cards/v/VexingBauble.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
  Mage/src/main/java/mage/abilities/common/SpellCastNoManaSpentTriggeredAbility.java
Labels: cards, engine

#12361 Implement [M3C] Trenchpost
  Mage.Sets/src/mage/cards/t/Trenchpost.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12074 [OTC] Implement Felix Five-Boots
  Mage.Sets/src/mage/cards/f/FelixFiveBoots.java
  Mage.Sets/src/mage/sets/OutlawsOfThunderJunctionCommander.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/damage/FelixFiveBootsTest.java
Labels: cards, tests

#12383 [MH3] Implement Fangs of Kalonia, The Hunger Tide Rises, Wastescape Battlemage
  Mage.Sets/src/mage/cards/f/FangsOfKalonia.java
  Mage.Sets/src/mage/cards/g/GodEternalBontu.java
  Mage.Sets/src/mage/cards/s/SpectacularShowdown.java
  Mage.Sets/src/mage/cards/t/TheHungerTideRises.java
  Mage.Sets/src/mage/cards/w/WastescapeBattlemage.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mh3/FangsOfKaloniaTest.java
  Mage/src/main/java/mage/abilities/condition/common/KickedCostCondition.java
  Mage/src/main/java/mage/abilities/keyword/KickerAbility.java
  Mage/src/main/java/mage/cards/CardImpl.java
Labels: cards, engine, tests

#12377 Implement [M3C] Tarmogoyf Nest
  Mage.Sets/src/mage/cards/t/TarmogoyfNest.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
  Mage/src/main/java/mage/game/permanent/token/TarmogoyfToken.java
Labels: cards, engine

#12402 GUI: Fix tokens stacking on non tokens
  Mage.Client/src/main/java/org/mage/plugins/card/CardPluginImpl.java
Labels: client

#12164 [MKM] Implement Cryptic Coat and Cloak ability
  Mage.Common/src/main/java/mage/view/PermanentView.java
  Mage.Sets/src/mage/cards/c/CrypticCoat.java
  Mage.Sets/src/mage/cards/o/OrochiSoulReaver.java
  Mage.Sets/src/mage/cards/s/ScrollOfFate.java
  Mage.Sets/src/mage/cards/t/ThievingAmalgam.java
  Mage.Sets/src/mage/cards/v/VesuvanShapeshifter.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mkm/CrypticCoatTest.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BecomesFaceDownCreatureEffect.java
  Mage/src/main/java/mage/abilities/effects/keyword/ManifestEffect.java
  Mage/src/main/java/mage/abilities/effects/keyword/ManifestTargetPlayerEffect.java
  Mage/src/main/java/mage/cards/repository/TokenRepository.java
  Mage/src/main/java/mage/game/permanent/Permanent.java
  Mage/src/main/java/mage/game/permanent/PermanentCard.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
Labels: cards, engine, tests, client

#12410 Implement [MH3] Powerbalance
  Mage.Sets/src/mage/cards/p/Powerbalance.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
Labels: cards

#12415 Additional work on Ulalek, Fused Atrocity and new colorless hybrid mana
  Mage.Client/src/main/java/org/mage/card/arcane/ManaSymbols.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/GathererSymbols.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallSymbolsSource.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/ComputerPlayer.java
  Mage.Sets/src/mage/cards/c/CharmedPendant.java
  Mage.Sets/src/mage/cards/u/UlalekFusedAtrocity.java
  Mage/src/main/java/mage/ManaSymbol.java
  Mage/src/main/java/mage/abilities/costs/mana/ColorlessHybridManaCost.java
  Mage/src/main/java/mage/abilities/costs/mana/ManaCostImpl.java
  Mage/src/main/java/mage/abilities/costs/mana/ManaCostsImpl.java
  Mage/src/main/java/mage/abilities/costs/mana/ManaSymbols.java
Labels: server, cards, engine, client

#12273 [M3C] Implement Ulalek, Fused Atrocity and new colorless hybrid mana
  Mage.Client/src/main/java/org/mage/card/arcane/ManaSymbols.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/GathererSymbols.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallSymbolsSource.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/ComputerPlayer.java
  Mage.Sets/src/mage/cards/c/CharmedPendant.java
  Mage.Sets/src/mage/cards/u/UlalekFusedAtrocity.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
  Mage/src/main/java/mage/ManaSymbol.java
  Mage/src/main/java/mage/abilities/costs/mana/ColorlessHybridManaCost.java
  Mage/src/main/java/mage/abilities/costs/mana/HybridManaCost.java
  Mage/src/main/java/mage/abilities/costs/mana/ManaCostImpl.java
  Mage/src/main/java/mage/abilities/costs/mana/ManaCostsImpl.java
  Mage/src/main/java/mage/util/ManaUtil.java
Labels: server, cards, engine, client

#12337 Implement [M3C] Aether Refinery
  Mage.Sets/src/mage/cards/a/AetherRefinery.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
  Mage/src/main/java/mage/game/permanent/token/AetherbornToken.java
Labels: cards, engine

#12369 Implement [WHO] The Rani
  Mage.Sets/src/mage/cards/t/TheRani.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/game/permanent/token/MarkOfTheRaniToken.java
Labels: cards, engine

#12401 [M3C] Implement Aggressive Biomancy
  Mage.Sets/src/mage/cards/a/AggressiveBiomancy.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12419 Fix Echoes of Eternity
  Mage.Sets/src/mage/cards/e/EchoesOfEternity.java
Labels: cards

#12270 (Don't merge yet) Rename totem armor to umbra armor
  Mage.Sets/src/mage/cards/b/BearUmbra.java
  Mage.Sets/src/mage/cards/b/BoarUmbra.java
  Mage.Sets/src/mage/cards/c/CrabUmbra.java
  Mage.Sets/src/mage/cards/d/DogUmbra.java
  Mage.Sets/src/mage/cards/d/DrakeUmbra.java
  Mage.Sets/src/mage/cards/e/EelUmbra.java
  Mage.Sets/src/mage/cards/e/ElandUmbra.java
  Mage.Sets/src/mage/cards/e/EstridTheMasked.java
  Mage.Sets/src/mage/cards/f/FelidarUmbra.java
  Mage.Sets/src/mage/cards/h/HyenaUmbra.java
  Mage.Sets/src/mage/cards/i/IndrikUmbra.java
  Mage.Sets/src/mage/cards/l/LionUmbra.java
  Mage.Sets/src/mage/cards/m/MammothUmbra.java
  Mage.Sets/src/mage/cards/o/OctopusUmbra.java
  Mage.Sets/src/mage/cards/s/SnakeUmbra.java
  Mage.Sets/src/mage/cards/s/SpiderUmbra.java
  Mage.Sets/src/mage/cards/t/TreefolkUmbra.java
  Mage.Sets/src/mage/cards/u/UmbraMystic.java
  Mage/src/main/java/mage/abilities/keyword/UmbraArmorAbility.java
  Mage/src/main/java/mage/game/permanent/token/MaskToken.java
  Utils/keywords.txt
Labels: cards, engine, dev

#12391 Implement-M3C-Inversion-Behemoth
  Mage.Sets/src/mage/cards/i/InversionBehemoth.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12409 Implement [M3C] Eldrazi Confluence
  Mage.Sets/src/mage/cards/e/EldraziConfluence.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12403 Implement [M3C] Filigree Racer
  Mage.Sets/src/mage/cards/f/FiligreeRacer.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12390 Implement [M3C] Polygoyf
  Mage.Sets/src/mage/cards/p/Polygoyf.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12382 Implement [M3C] Sawhorn Nemesis
  Mage.Sets/src/mage/cards/s/SawhornNemesis.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12381 Implement [M3C] Silverquill Lecturer
  Mage.Sets/src/mage/cards/s/SilverquillLecturer.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12378 Implement [M3C] Sphinx of the Revelation
  Mage.Sets/src/mage/cards/s/SphinxOfTheRevelation.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12376 Implement-M3C-Twins-of-Discord
  Mage.Sets/src/mage/cards/t/TwinsOfDiscord.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12388 Implement [M3C] Sage of the Maze
  Mage.Sets/src/mage/cards/s/SageOfTheMaze.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12389 Implement [M3C] Razorfield Ripper
  Mage.Sets/src/mage/cards/r/RazorfieldRipper.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/CountersControllerCount.java
  Mage/src/main/java/mage/abilities/keyword/ReconfigureAbility.java
Labels: cards, engine

#12404 implement [MH3] Arena of Glory and usage of ManaSpentDelayedTriggeredAbility
  Mage.Sets/src/mage/cards/a/ArenaOfGlory.java
  Mage.Sets/src/mage/sets/ModernHorizons3.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mh3/ArenaOfGloryTest.java
  Mage/src/main/java/mage/MageObjectReference.java
  Mage/src/main/java/mage/abilities/common/delayed/ManaSpentDelayedTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/AddContinuousEffectToGame.java
Labels: cards, engine, tests

#12203 [M3C] Implement Planar Nexus and inroduce AllNonbasicLandTypes status
  Mage.Sets/src/mage/cards/n/NearbyPlanet.java
  Mage.Sets/src/mage/cards/o/OmoQueenOfVesuva.java
  Mage.Sets/src/mage/cards/p/PlanarNexus.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
  Mage.Sets/src/mage/sets/Unfinity.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/m3c/OmoQueenOfVesuvaTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/m3c/PlanarNexusTest.java
  Mage/src/main/java/mage/MageObject.java
  Mage/src/main/java/mage/MageObjectImpl.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BecomesEnchantmentSourceEffect.java
  Mage/src/main/java/mage/counters/CounterType.java
  Mage/src/main/java/mage/designations/Designation.java
  Mage/src/main/java/mage/game/command/Commander.java
  Mage/src/main/java/mage/game/command/Dungeon.java
  Mage/src/main/java/mage/game/command/Emblem.java
  Mage/src/main/java/mage/game/command/Plane.java
  Mage/src/main/java/mage/game/stack/Spell.java
  Mage/src/main/java/mage/game/stack/StackAbility.java
  Mage/src/main/java/mage/util/SubTypes.java
Labels: cards, engine, tests

#12429 Fixed commander colors with large color identity
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/AbstractCommander.java
Labels: server

#12400 MH3: generate play boosters
  Mage.Sets/src/mage/sets/ModernHorizons3.java
  Mage.Tests/src/test/java/org/mage/test/sets/BoosterGenerationTest.java
Labels: cards, tests

#12386 reproduce Chromatic Star bug
  Mage.Tests/src/test/java/org/mage/test/cards/single/tsp/ChromaticStarTest.java
Labels: tests

#12434 fix copy effect not being discarded early enough
  Mage.Tests/src/test/java/org/mage/test/cards/single/mh3/ShiftingWoodlandTest.java
  Mage/src/main/java/mage/abilities/effects/common/CopyEffect.java
Labels: engine, tests

#12441 Update ScryfallImageSourceSmall.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSourceSmall.java
Labels: client

#12444 chore: update TournamentUtil.java
  Mage/src/main/java/mage/util/TournamentUtil.java
Labels: engine

#12438 Fix bugs with dies triggers due to short living LKI reset
  Mage.Sets/src/mage/cards/e/EvolvedSleeper.java
  Mage.Sets/src/mage/cards/e/ExtraordinaryJourney.java
  Mage.Sets/src/mage/cards/g/GoblinWelder.java
  Mage.Sets/src/mage/cards/h/HistoriansWisdom.java
  Mage.Sets/src/mage/cards/i/IndustrialAdvancement.java
  Mage.Sets/src/mage/cards/m/MasterOfCeremonies.java
  Mage.Sets/src/mage/cards/n/Necromentia.java
  Mage.Sets/src/mage/cards/p/PhabineBosssConfidant.java
  Mage.Sets/src/mage/cards/p/PheliaExuberantShepherd.java
  Mage.Sets/src/mage/cards/s/ShowstoppingSurprise.java
  Mage.Sets/src/mage/cards/t/TheStoneBrain.java
  Mage.Sets/src/mage/cards/u/UnmooredEgo.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/neo/HistoriansWisdomTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tsp/ChromaticStarTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/ulg/GoblinWelderTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/dies/SacrificeDiesTriggerTest.java
  Mage/src/main/java/mage/abilities/TriggeredAbilityImpl.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Mage/src/main/java/mage/game/permanent/token/TokenImpl.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#12446 fix usable zone logic for abilities that function from other zones
  Mage.Sets/src/mage/cards/a/AnaxHardenedInTheForge.java
  Mage.Sets/src/mage/cards/a/ArchghoulOfThraben.java
  Mage.Sets/src/mage/cards/a/AzlaskTheSwellingScourge.java
  Mage.Sets/src/mage/cards/b/BasrisLieutenant.java
  Mage.Sets/src/mage/cards/b/BloodArtist.java
  Mage.Sets/src/mage/cards/b/ButcherOfMalakir.java
  Mage.Sets/src/mage/cards/c/CacklingCulprit.java
  Mage.Sets/src/mage/cards/c/CaldaiaGuardian.java
  Mage.Sets/src/mage/cards/c/ColfenorTheLastYew.java
  Mage.Sets/src/mage/cards/c/CordialVampire.java
  Mage.Sets/src/mage/cards/c/CruelCelebrant.java
  Mage.Sets/src/mage/cards/d/DeathTyrant.java
  Mage.Sets/src/mage/cards/d/DeathsOasis.java
  Mage.Sets/src/mage/cards/d/DragonKamisEgg.java
  Mage.Sets/src/mage/cards/d/DrossScorpion.java
  Mage.Sets/src/mage/cards/h/HeadlessRider.java
  Mage.Sets/src/mage/cards/k/KalastriaHighborn.java
  Mage.Sets/src/mage/cards/l/Lifeline.java
  Mage.Sets/src/mage/cards/m/MiaraThornOfTheGlade.java
  Mage.Sets/src/mage/cards/m/MidnightEntourage.java
  Mage.Sets/src/mage/cards/n/NickValentinePrivateEye.java
  Mage.Sets/src/mage/cards/o/OdricsOutrider.java
  Mage.Sets/src/mage/cards/o/OmnathLocusOfRage.java
  Mage.Sets/src/mage/cards/p/PanickedBystander.java
  Mage.Sets/src/mage/cards/p/PashalikMons.java
  Mage.Sets/src/mage/cards/p/PawnOfUlamog.java
  Mage.Sets/src/mage/cards/p/PolukranosEngineOfRuin.java
  Mage.Sets/src/mage/cards/r/RotlungReanimator.java
  Mage.Sets/src/mage/cards/r/RundveltHordemaster.java
  Mage.Sets/src/mage/cards/s/ScionOfOpulence.java
  Mage.Sets/src/mage/cards/s/SelhoffOccultist.java
  Mage.Sets/src/mage/cards/s/SkirkDrillSergeant.java
  Mage.Sets/src/mage/cards/s/SlurrkAllIngesting.java
  Mage.Sets/src/mage/cards/s/SyrixCarrierOfTheFlame.java
  Mage.Sets/src/mage/cards/t/TotentanzSwarmPiper.java
  Mage.Sets/src/mage/cards/u/UndeadAugur.java
  Mage.Sets/src/mage/cards/v/VengefulDead.java
  Mage.Sets/src/mage/cards/v/VoldarenBloodcaster.java
  Mage.Sets/src/mage/cards/w/WarbeastOfGorgoroth.java
  Mage.Sets/src/mage/cards/w/WarteyeWitch.java
  Mage.Sets/src/mage/cards/w/WaywardDisciple.java
  Mage.Sets/src/mage/cards/w/WeddingCrasher.java
  Mage.Sets/src/mage/cards/x/XathridNecromancer.java
  Mage.Sets/src/mage/cards/z/ZulaportCutthroat.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/ncc/SyrixCarrierOfTheFlameTest.java
  Mage/src/main/java/mage/abilities/TriggeredAbilityImpl.java
  Mage/src/main/java/mage/abilities/common/DiesCreatureTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/DiesThisOrAnotherCreatureOrPlaneswalkerTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/DiesThisOrAnotherTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/PutIntoGraveFromBattlefieldAllTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/PutIntoGraveFromBattlefieldSourceTriggeredAbility.java
Labels: cards, engine, tests

#12452 Fix "becomes the target of" logic to check all modes
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/BecomesTargetTriggerTest.java
  Mage/src/main/java/mage/abilities/condition/common/SourceTargetsPermanentCondition.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: engine, tests

#12453 Implement [ACR] The Animus
  Mage.Sets/src/mage/cards/t/TheAnimus.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage/src/main/java/mage/counters/CounterType.java
Labels: cards, engine

#12456 (Ready to merge) Update cephalid to octopus, KLD block cat dragons
  Mage.Sets/src/mage/cards/a/AboshanCephalidEmperor.java
  Mage.Sets/src/mage/cards/b/BackstreetBruiser.java
  Mage.Sets/src/mage/cards/b/BorGullet.java
  Mage.Sets/src/mage/cards/c/CallousOppressor.java
  Mage.Sets/src/mage/cards/c/CephalidAristocrat.java
  Mage.Sets/src/mage/cards/c/CephalidBroker.java
  Mage.Sets/src/mage/cards/c/CephalidConstable.java
  Mage.Sets/src/mage/cards/c/CephalidFacetaker.java
  Mage.Sets/src/mage/cards/c/CephalidIllusionist.java
  Mage.Sets/src/mage/cards/c/CephalidInkshrouder.java
  Mage.Sets/src/mage/cards/c/CephalidLooter.java
  Mage.Sets/src/mage/cards/c/CephalidPathmage.java
  Mage.Sets/src/mage/cards/c/CephalidRetainer.java
  Mage.Sets/src/mage/cards/c/CephalidSage.java
  Mage.Sets/src/mage/cards/c/CephalidScout.java
  Mage.Sets/src/mage/cards/c/CephalidSnitch.java
  Mage.Sets/src/mage/cards/c/CephalidVandal.java
  Mage.Sets/src/mage/cards/f/FreejamRegent.java
  Mage.Sets/src/mage/cards/k/KamizObscuraOculus.java
  Mage.Sets/src/mage/cards/l/LlawanCephalidEmpress.java
  Mage.Sets/src/mage/cards/o/ObscuraInterceptor.java
  Mage.Sets/src/mage/cards/o/OmenHawker.java
  Mage.Sets/src/mage/cards/p/PsychicPickpocket.java
  Mage.Sets/src/mage/cards/q/QuezaAugurOfAgonies.java
  Mage.Sets/src/mage/cards/r/RevelRuiner.java
  Mage.Sets/src/mage/cards/s/ShieldBroker.java
  Mage.Sets/src/mage/cards/s/SkyshipStalker.java
  Mage/src/main/java/mage/constants/SubType.java
Labels: cards, engine

#12450 Scryfall normal sized images download option
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSourceNormal.java
  Mage.Client/src/main/java/org/mage/plugins/card/images/DownloadPicturesService.java
Labels: client

#12478 Fix TargetsCountAdjuster to always add target even if the max is 0.
  Mage/src/main/java/mage/target/targetadjustment/TargetsCountAdjuster.java
Labels: engine

#12473 Draft matters cards - gamplay abilities only
  Mage.Sets/src/mage/cards/a/AgentOfAcquisitions.java
  Mage.Sets/src/mage/cards/a/ArchdemonOfPaliano.java
  Mage.Sets/src/mage/cards/c/CanalDredger.java
  Mage.Sets/src/mage/cards/c/CogworkLibrarian.java
  Mage.Sets/src/mage/cards/c/CogworkSpy.java
  Mage.Sets/src/mage/cards/d/DealBroker.java
  Mage.Sets/src/mage/cards/i/IllusionaryInformant.java
  Mage.Sets/src/mage/cards/l/LeovoldsOperative.java
  Mage.Sets/src/mage/cards/l/LoreSeeker.java
  Mage.Sets/src/mage/cards/w/WhispergearSneak.java
  Mage.Sets/src/mage/sets/Conspiracy.java
  Mage.Sets/src/mage/sets/ConspiracyTakeTheCrown.java
Labels: cards

#12479 Fix looking at Face-Down creatures, implement [MKM] Lumbering Laundry
  Mage.Common/src/main/java/mage/view/LookedAtView.java
  Mage.Sets/src/mage/cards/a/AvenSoulgazer.java
  Mage.Sets/src/mage/cards/k/KeeperOfTheLens.java
  Mage.Sets/src/mage/cards/l/LensOfClarity.java
  Mage.Sets/src/mage/cards/l/LumberingLaundry.java
  Mage.Sets/src/mage/cards/r/RevealingWind.java
  Mage.Sets/src/mage/cards/s/SmokeTeller.java
  Mage.Sets/src/mage/cards/s/SpyNetwork.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/LookAtOpponentFaceDownCreaturesAnyTimeEffect.java
Labels: cards, engine, client

#12485 Implement Freerunning mechanic (ready for review)
  Mage.Sets/src/mage/cards/a/AchillesDavenport.java
  Mage.Sets/src/mage/cards/c/ChainAssassination.java
  Mage.Sets/src/mage/cards/e/EagleVision.java
  Mage.Sets/src/mage/cards/r/RestartSequence.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/FreerunningTest.java
  Mage/src/main/java/mage/abilities/keyword/FreerunningAbility.java
  Utils/keywords.txt
Labels: cards, engine, tests, dev

#12498 Added more pre-built commander decks
  Mage.Client/release/sample-decks/Commander/Adventures in the Forgotten Realms (2021)/Aura of Courage (GUW).dck
  Mage.Client/release/sample-decks/Commander/Adventures in the Forgotten Realms (2021)/Draconic Rage (RG).dck
  Mage.Client/release/sample-decks/Commander/Adventures in the Forgotten Realms (2021)/Dungeons of Death (BUW).dck
  Mage.Client/release/sample-decks/Commander/Adventures in the Forgotten Realms (2021)/Planar Portal (BR).dck
  Mage.Client/release/sample-decks/Commander/Commander 2021/Lorehold Legacies (RW).dck
  Mage.Client/release/sample-decks/Commander/Commander 2021/Prismari Performance (UR).dck
  Mage.Client/release/sample-decks/Commander/Commander 2021/Quantum Quandrix (GU).dck
  Mage.Client/release/sample-decks/Commander/Commander 2021/Silverquill Statement (WB).dck
  Mage.Client/release/sample-decks/Commander/Commander 2021/Witherbloom Witchcraft (BG).dck
  Mage.Client/release/sample-decks/Commander/Innistrad: Crimson Vow Commander decks (2021)/Spirit Squadron (WU).dck
  Mage.Client/release/sample-decks/Commander/Innistrad: Crimson Vow Commander decks (2021)/Vampiric Bloodline (BR).dck
  Mage.Client/release/sample-decks/Commander/Innistrad: Midnight Hunt Commander decks (2021)/Coven Counters (GW).dck
  Mage.Client/release/sample-decks/Commander/Innistrad: Midnight Hunt Commander decks (2021)/Undead Unleashed (UB).dck
  Mage.Client/release/sample-decks/Commander/Kaldheim/Elven Empire (BG).dck
  Mage.Client/release/sample-decks/Commander/Kaldheim/Phantom Premonition (UW).dck
  Mage.Client/release/sample-decks/Commander/Kamigawa: Neon Dynasty Commander decks (2022)/Buckle Up (UW).dck
  Mage.Client/release/sample-decks/Commander/Kamigawa: Neon Dynasty Commander decks (2022)/Upgrades Unleashed (RG).dck
  Mage.Client/release/sample-decks/Commander/SECRET LAIR Heads I Win, Tails You Lose Commander Deck (2021)/Heads I Win, Tails You Lose (UR).dck
  Mage.Client/release/sample-decks/Commander/Streets of New Capenna Commander decks (2022)/Bedecked Brokers (WUG).dck
  Mage.Client/release/sample-decks/Commander/Streets of New Capenna Commander decks (2022)/Cabaretti Cacophony (RGW).dck
  Mage.Client/release/sample-decks/Commander/Streets of New Capenna Commander decks (2022)/Maestros Massacre (UBR).dck
  Mage.Client/release/sample-decks/Commander/Streets of New Capenna Commander decks (2022)/Obscura Operation (WUB).dck
Labels: client

#12496 Implement [ACR] Leonardo da Vinci
  Mage.Sets/src/mage/cards/l/LeonardoDaVinci.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12487 Implement [ACR] The Revelations of Ezio
  Mage.Sets/src/mage/cards/t/TheRevelationsOfEzio.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12490 Implement [ACR] Jackdaw
  Mage.Sets/src/mage/cards/j/Jackdaw.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12491 Implement [ACR] Rooftop Bypass
  Mage.Sets/src/mage/cards/r/RooftopBypass.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage/src/main/java/mage/filter/StaticFilters.java
Labels: cards, engine

#12507 Fix Maarika, Brutal Gladiator trigger to use LKI.
  Mage.Sets/src/mage/cards/b/BreatheYourLast.java
  Mage.Sets/src/mage/cards/k/KamizObscuraOculus.java
  Mage.Sets/src/mage/cards/m/MaarikaBrutalGladiator.java
  Mage.Sets/src/mage/cards/o/ObscuraConfluence.java
  Mage.Sets/src/mage/cards/r/RaffineSchemingSeer.java
  Mage.Sets/src/mage/cards/r/RakdosTheMuscle.java
  Mage.Sets/src/mage/cards/s/Sporogenesis.java
  Mage.Sets/src/mage/cards/t/TaboraxHopesDemise.java
  Mage.Sets/src/mage/cards/u/UglukOfTheWhiteHand.java
  Mage/src/main/java/mage/abilities/effects/common/DoUnlessTargetPlayerOrTargetsControllerPaysEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ExileAndGainLifeEqualPowerTargetEffect.java
Labels: cards, engine

#12501 [ACR] Implement Escape Detection
  Mage.Sets/src/mage/cards/e/EscapeDetection.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage/src/main/java/mage/abilities/keyword/FreerunningAbility.java
Labels: cards, engine

#12500 [MKM] Deadly Cover-Up, also genericize variants of ExileTargetAndSearchGraveyardHandLibraryEffect
  Mage.Sets/src/mage/cards/c/Counterbore.java
  Mage.Sets/src/mage/cards/c/CrumbleToDust.java
  Mage.Sets/src/mage/cards/d/DeadlyCoverUp.java
  Mage.Sets/src/mage/cards/e/Extirpate.java
  Mage.Sets/src/mage/cards/l/Lobotomy.java
  Mage.Sets/src/mage/cards/l/LostLegacy.java
  Mage.Sets/src/mage/cards/n/Necromentia.java
  Mage.Sets/src/mage/cards/s/ShimianSpecter.java
  Mage.Sets/src/mage/cards/s/SurgicalExtraction.java
  Mage.Sets/src/mage/cards/t/TestOfTalents.java
  Mage.Sets/src/mage/cards/t/TheEnd.java
  Mage.Sets/src/mage/cards/t/TheStoneBrain.java
  Mage.Sets/src/mage/cards/t/ThoughtHemorrhage.java
  Mage.Sets/src/mage/cards/u/UnmooredEgo.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/exile/SearchNameExileTests.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/exile/SurgicalExtractionTest.java
  Mage/src/main/java/mage/abilities/effects/common/CounterTargetAndSearchGraveyardHandLibraryEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ExileTargetAndSearchGraveyardHandLibraryEffect.java
  Mage/src/main/java/mage/abilities/effects/common/search/SearchTargetGraveyardHandLibraryForCardNameAndExileEffect.java
  Mage/src/main/java/mage/filter/predicate/mageobject/NamePredicate.java
Labels: cards, engine, tests

#12519 Fix Sorcerous Squall: wrong player chooses, is a "may" effect
  Mage.Sets/src/mage/cards/s/SorcerousSquall.java
Labels: cards

#12514 [ACR] Implement Excalibur, Sword of Eden
  Mage.Sets/src/mage/cards/e/ExcaliburSwordOfEden.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12509 [MKM] implement remaining 4 Cloak cards
  Mage.Sets/src/mage/cards/c/CoastalPiracy.java
  Mage.Sets/src/mage/cards/e/EtrataDeadlyFugitive.java
  Mage.Sets/src/mage/cards/e/ExposeTheCulprit.java
  Mage.Sets/src/mage/cards/f/FirkraagCunningInstigator.java
  Mage.Sets/src/mage/cards/h/HideInPlainSight.java
  Mage.Sets/src/mage/cards/k/KedissEmberclawFamiliar.java
  Mage.Sets/src/mage/cards/s/StrixhavenStadium.java
  Mage.Sets/src/mage/cards/t/TheRani.java
  Mage.Sets/src/mage/cards/v/VannifarEvolvedEnigma.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManor.java
  Mage/src/main/java/mage/abilities/common/DealsDamageToAPlayerAllTriggeredAbility.java
  Mage/src/main/java/mage/game/permanent/PermanentCard.java
Labels: cards, engine

#12336 Implement [M3C] Aurora Shifter
  Mage.Sets/src/mage/cards/a/AuroraShifter.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mh3/AuroraShifterTest.java
Labels: cards, tests

#12408 Implement [M3C] Bismuth Mindrender
  Mage.Sets/src/mage/cards/b/BismuthMindrender.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
Labels: cards

#12523 Improve/add tests, fix Tolarian Contempt
  Mage.Sets/src/mage/cards/t/TolarianContempt.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/exile/SearchNameExileTests.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mat/TolarianContemptTest.java
Labels: cards, tests

#12482 [PIP] and [WHO] card implementations
  Mage.Sets/src/mage/cards/a/ArmoryMice.java
  Mage.Sets/src/mage/cards/a/AshPartyCrasher.java
  Mage.Sets/src/mage/cards/b/BelligerentOfTheBall.java
  Mage.Sets/src/mage/cards/b/BespokeBattlegarb.java
  Mage.Sets/src/mage/cards/d/DiamondCity.java
  Mage.Sets/src/mage/cards/g/GallantPieWielder.java
  Mage.Sets/src/mage/cards/g/GoddricCloakedReveler.java
  Mage.Sets/src/mage/cards/g/GrandBallGuest.java
  Mage.Sets/src/mage/cards/l/LadyOfLaughter.java
  Mage.Sets/src/mage/cards/l/LastNightTogether.java
  Mage.Sets/src/mage/cards/m/MilitantAngel.java
  Mage.Sets/src/mage/cards/n/NanogeneConversion.java
  Mage.Sets/src/mage/cards/p/PestsOfHonor.java
  Mage.Sets/src/mage/cards/r/RagingBattleMouse.java
  Mage.Sets/src/mage/cards/r/ReturnThePast.java
  Mage.Sets/src/mage/cards/r/RoseCutthroatRaider.java
  Mage.Sets/src/mage/cards/t/TuinvaleGuide.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/CelebrationTest.java
  Mage/src/main/java/mage/abilities/condition/common/CelebrationCondition.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/AttackedThisTurnOpponentsCount.java
  Mage/src/main/java/mage/abilities/hint/ValueConditionHint.java
  Mage/src/main/java/mage/watchers/common/CelebrationWatcher.java
Labels: cards, engine, tests

#12497 Implement [ACR] Desmond Miles
  Mage.Sets/src/mage/cards/d/DesmondMiles.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/library/SurveilTest.java
Labels: cards, engine, tests
