Repository magefree/mage, pull requests merged in 2024-08, with the labels that each got.

#12608 [BLC] Implement Fortune Teller's Talent
  Mage.Sets/src/mage/cards/f/FortuneTellersTalent.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blc/FortuneTellersTalentTest.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/PlayFromTopOfLibraryEffect.java
Labels: cards, engine, tests

#12632 Minor fixes
  Mage.Sets/src/mage/cards/b/BewitchingLeechcraft.java
  Mage.Sets/src/mage/cards/n/NefariousImp.java
  Mage/src/main/java/mage/game/stack/Spell.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine

#12629 [BLB] Beza the Bounding Spring, Bandit's Talent, Persistent Marshstalker, fix some existing BLB cards
  Mage.Sets/src/mage/cards/b/BanditsTalent.java
  Mage.Sets/src/mage/cards/b/BezaTheBoundingSpring.java
  Mage.Sets/src/mage/cards/f/FeatherOfFlight.java
  Mage.Sets/src/mage/cards/h/HazardrootHerbalist.java
  Mage.Sets/src/mage/cards/h/HivespineWolverine.java
  Mage.Sets/src/mage/cards/l/LupinflowerVillage.java
  Mage.Sets/src/mage/cards/p/PatchworkBanner.java
  Mage.Sets/src/mage/cards/p/PersistentMarshstalker.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/abilities/effects/common/DrawCardSourceControllerEffect.java
Labels: cards, engine

#12622 [ACR] Arbaaz Mir, Palazzo Archers, Petty Larceny
  Mage.Sets/src/mage/cards/a/ArbaazMir.java
  Mage.Sets/src/mage/cards/c/CircleOfFlame.java
  Mage.Sets/src/mage/cards/p/PalazzoArchers.java
  Mage.Sets/src/mage/cards/p/PettyLarceny.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12645 [MKC] Implement Marvo, Deep Operative (plus refactor ClashEffect to allow for designated Clashes)
  Mage.Sets/src/mage/cards/m/MarvoDeepOperative.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
  Mage/src/main/java/mage/abilities/effects/common/ClashEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ClashTargetEffect.java
Labels: cards, engine

#12654 [BLC] Implement Rapid Augmenter
  Mage.Sets/src/mage/cards/r/RapidAugmenter.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blc/RapidAugmenterTest.java
Labels: cards, tests

#12643 [WHO] Implement Vrestin, Menoptra Leader
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage.Sets/src/mage/cards/v/VrestinMenoptraLeader.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/game/permanent/token/AlienInsectToken.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine, client

#12642 [CLU] Implement Apothecary White & Emissary Green
  Mage.Sets/src/mage/cards/a/ApothecaryWhite.java
  Mage.Sets/src/mage/cards/e/EmissaryGreen.java
  Mage.Sets/src/mage/sets/RavnicaClueEdition.java
Labels: cards

#12627 Added set Arena Tutorial Cards and 5 cards
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/GrabbagImageSource.java
  Mage.Client/src/main/java/org/mage/plugins/card/images/DownloadPicturesService.java
  Mage.Sets/src/mage/cards/b/BlindingRadiance.java
  Mage.Sets/src/mage/cards/g/GoblinBruiser.java
  Mage.Sets/src/mage/cards/o/OgrePainbringer.java
  Mage.Sets/src/mage/cards/t/TitanicPelagosaur.java
  Mage.Sets/src/mage/cards/t/TreetopRecluse.java
  Mage.Sets/src/mage/sets/ArenaNewPlayerExperienceExtras.java
  Mage.Sets/src/mage/sets/ArenaTutorialCards.java
Labels: cards, client

#12601 Implement Alania, Divergent Storm
  Mage.Sets/src/mage/cards/a/AlaniaDivergentStorm.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blb/AlaniaDivergentStormTest.java
Labels: cards, tests

#12605 Implement Splash Portal
  Mage.Sets/src/mage/cards/e/EssenceFlux.java
  Mage.Sets/src/mage/cards/s/SplashPortal.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blb/SplashPortalTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/soi/EssenceFluxTest.java
  Mage/src/main/java/mage/abilities/effects/common/ExileThenReturnTargetEffect.java
Labels: cards, engine, tests

#12617 [BLB] Implement Season of Gathering and Pawprints mechanic
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
  Mage.Sets/src/mage/cards/s/SeasonOfGathering.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/modal/PawPrintsTest.java
  Mage/src/main/java/mage/abilities/Mode.java
  Mage/src/main/java/mage/abilities/Modes.java
Labels: server, cards, engine, tests

#12664 Fix pawprints modes oracle text
  Mage/src/main/java/mage/abilities/Modes.java
Labels: engine

#12663 [BLB] Implement Valley Floodcaller
  Mage.Sets/src/mage/cards/v/ValleyFloodcaller.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12695 Fix Verdant Succession
  Mage.Sets/src/mage/cards/v/VerdantSuccession.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/ody/VerdantSuccessionTest.java
Labels: cards, tests

#12699 [BLC] Implement Ms. Bumbleflower
  Mage.Sets/src/mage/cards/m/MsBumbleflower.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
Labels: cards

#12651 [UNF] Implement Atomwheel Acrobats & Six-Sided Die
  Mage.Sets/src/mage/cards/a/AtomwheelAcrobats.java
  Mage.Sets/src/mage/cards/s/SixSidedDie.java
  Mage.Sets/src/mage/sets/Unfinity.java
  Mage/src/main/java/mage/constants/SubType.java
Labels: cards, engine

#12597 Unbound Flourishing's X doubling should be a triggered ability (and related refactors)
  Mage.Server.Plugins/Mage.Player.AI.MA/src/mage/player/ai/SimulatedPlayer2.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/ComputerPlayer.java
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
  Mage.Sets/src/mage/cards/a/AbolethSpawn.java
  Mage.Sets/src/mage/cards/a/AshnodTheUncaring.java
  Mage.Sets/src/mage/cards/b/BattlemagesBracers.java
  Mage.Sets/src/mage/cards/b/BreechesTheBlastmaker.java
  Mage.Sets/src/mage/cards/c/ChandrasRegulator.java
  Mage.Sets/src/mage/cards/d/DynaheirInvokerAdept.java
  Mage.Sets/src/mage/cards/e/ErthaJoFrontierMentor.java
  Mage.Sets/src/mage/cards/i/IllusionistsBracers.java
  Mage.Sets/src/mage/cards/k/KeralKeepDisciples.java
  Mage.Sets/src/mage/cards/k/KurkeshOnakkeAncient.java
  Mage.Sets/src/mage/cards/l/LeoriSparktouchedHunter.java
  Mage.Sets/src/mage/cards/l/LocusOfEnlightenment.java
  Mage.Sets/src/mage/cards/m/MagusLuceaKane.java
  Mage.Sets/src/mage/cards/m/MirrorShieldHoplite.java
  Mage.Sets/src/mage/cards/r/RingsOfBrighthearth.java
  Mage.Sets/src/mage/cards/r/RowansTalent.java
  Mage.Sets/src/mage/cards/u/UnboundFlourishing.java
  Mage.Sets/src/mage/cards/v/VerrakWarpedSengir.java
  Mage.Tests/src/test/java/org/mage/test/cards/continuous/UnboundFlourishingTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/abilities/common/ActivateAbilityTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/ActivatePlaneswalkerLoyaltyAbilityTriggeredAbility.java
  Mage/src/main/java/mage/abilities/costs/mana/ManaCostsImpl.java
  Mage/src/main/java/mage/abilities/effects/common/CopyStackObjectEffect.java
  Mage/src/main/java/mage/abilities/meta/OrTriggeredAbility.java
  Mage/src/main/java/mage/filter/predicate/other/AbilitySourceAttachedPredicate.java
  Mage/src/main/java/mage/filter/predicate/other/NotManaAbilityPredicate.java
  Mage/src/main/java/mage/game/command/emblems/RowanKenrithEmblem.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/game/stack/SpellStack.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/StubPlayer.java
Labels: server, cards, engine, tests

#12619 Create generic "Gains your choice of ability" effect, add [ACR] Assassin Initiate
  Mage.Sets/src/mage/cards/a/AetherChanneler.java
  Mage.Sets/src/mage/cards/a/AlchemistsGift.java
  Mage.Sets/src/mage/cards/a/ArgivianAvenger.java
  Mage.Sets/src/mage/cards/a/AssassinInitiate.java
  Mage.Sets/src/mage/cards/a/AtraxasSkitterfang.java
  Mage.Sets/src/mage/cards/b/BallroomBrawlers.java
  Mage.Sets/src/mage/cards/b/ButcherOfTheHorde.java
  Mage.Sets/src/mage/cards/e/EzrimAgencyChief.java
  Mage.Sets/src/mage/cards/g/GeyadroneDihada.java
  Mage.Sets/src/mage/cards/g/GideonBlackblade.java
  Mage.Sets/src/mage/cards/g/GolemArtisan.java
  Mage.Sets/src/mage/cards/j/JodahsAvenger.java
  Mage.Sets/src/mage/cards/l/LunarAvenger.java
  Mage.Sets/src/mage/cards/m/MakeshiftBattalion.java
  Mage.Sets/src/mage/cards/m/ManifoldMouse.java
  Mage.Sets/src/mage/cards/m/MultiformWonder.java
  Mage.Sets/src/mage/cards/o/OrcishMedicine.java
  Mage.Sets/src/mage/cards/r/RattlebackApothecary.java
  Mage.Sets/src/mage/cards/s/ShiftingCeratops.java
  Mage.Sets/src/mage/cards/s/SilverquillPledgemage.java
  Mage.Sets/src/mage/cards/s/SludgeMonster.java
  Mage.Sets/src/mage/cards/s/SteelSeraph.java
  Mage.Sets/src/mage/cards/u/UrzasAvenger.java
  Mage.Sets/src/mage/cards/v/VeteranWarleader.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/m21/AlchemistsGiftTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/snc/BallroomBrawlersTest.java
  Mage/src/main/java/mage/abilities/effects/common/GainsChoiceOfAbilitiesEffect.java
  Mage/src/main/java/mage/target/TargetImpl.java
Labels: cards, engine, tests

#12702 [BLC] Implement Tempt with Bunnies
  Mage.Sets/src/mage/cards/t/TemptWithBunnies.java
  Mage.Sets/src/mage/cards/t/TemptWithVengeance.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
Labels: cards

#12685 [BLB] Implement Season of Loss
  Mage.Sets/src/mage/cards/s/SeasonOfLoss.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blb/SeasonOfLossTest.java
Labels: cards, tests

#12705 Sergeant at Arms kicker fix
  Mage.Sets/src/mage/cards/s/SergeantAtArms.java
Labels: cards

#12692 Added YNEO (6 cards) and two cards from J21 alongside with few missing reprints
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/GathererSets.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
  Mage.Sets/src/mage/cards/b/BoseijuPathlighter.java
  Mage.Sets/src/mage/cards/d/DragonflyPilot.java
  Mage.Sets/src/mage/cards/e/ExperimentalPilot.java
  Mage.Sets/src/mage/cards/j/JukaiLiberator.java
  Mage.Sets/src/mage/cards/k/KamiOfBambooGroves.java
  Mage.Sets/src/mage/cards/k/KioraTheTidesFury.java
  Mage.Sets/src/mage/cards/s/SubversiveAcolyte.java
  Mage.Sets/src/mage/cards/s/SwarmSaboteur.java
  Mage.Sets/src/mage/sets/AlchemyKamigawa.java
  Mage.Sets/src/mage/sets/JumpstartHistoricHorizons.java
Labels: cards, client

#12667 refactor: simpler method for mana that lasts until end of turn
  Mage.Sets/src/mage/cards/b/BirgiGodOfStorytelling.java
  Mage.Sets/src/mage/cards/b/BrazenCollector.java
  Mage.Sets/src/mage/cards/d/DeadlyDancer.java
  Mage.Sets/src/mage/cards/s/SakuraTribeSpringcaller.java
  Mage.Sets/src/mage/cards/s/SavageVentmaw.java
  Mage.Sets/src/mage/cards/s/SuChiCaveGuard.java
  Mage/src/main/java/mage/abilities/effects/mana/UntilEndOfTurnManaEffect.java
Labels: cards, engine

#12700 Rework drawing cards, associated replacement effects, and removing cards from library; implement [WHO] River Song
  Mage.Server.Plugins/Mage.Player.AIMCTS/src/mage/player/ai/ComputerPlayerMCTS.java
  Mage.Server.Plugins/Mage.Player.AIMCTS/src/mage/player/ai/MCTSNode.java
  Mage.Sets/src/mage/cards/a/AlmsCollector.java
  Mage.Sets/src/mage/cards/b/BloodScrivener.java
  Mage.Sets/src/mage/cards/c/CellarDoor.java
  Mage.Sets/src/mage/cards/l/LidlessGaze.java
  Mage.Sets/src/mage/cards/r/RiverSong.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage.Tests/src/test/java/org/mage/test/cards/replacement/DrawEffectsTest.java
  Mage/src/main/java/mage/actions/MageDrawAction.java
  Mage/src/main/java/mage/actions/impl/MageAction.java
  Mage/src/main/java/mage/actions/score/ArtificialScoringSystem.java
  Mage/src/main/java/mage/actions/score/ScoringConstants.java
  Mage/src/main/java/mage/actions/score/ScoringSystem.java
  Mage/src/main/java/mage/game/Game.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/events/DrawCardEvent.java
  Mage/src/main/java/mage/game/events/DrawTwoOrMoreCardsEvent.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/players/Library.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: server, cards, engine, tests

#12098 [PIP] Implement Codsworth, Handy Helper, improved attachment to permanent logic
  Mage.Sets/src/mage/cards/c/CodsworthHandyHelper.java
  Mage.Sets/src/mage/cards/h/HalvarGodOfBattle.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage.Tests/src/test/java/org/mage/test/cards/rules/AttachmentTest.java
  Mage/src/main/java/mage/abilities/effects/ContinuousEffects.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Mage/src/main/java/mage/players/PlayerImpl.java
  Mage/src/main/java/mage/target/Target.java
  Mage/src/main/java/mage/target/TargetImpl.java
  Mage/src/main/java/mage/target/common/TargetTappedPermanentAsYouCast.java
Labels: cards, engine, tests

#12713 [BLB] Implement Valley Questcaller
  Mage.Sets/src/mage/cards/v/ValleyQuestcaller.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12719 [BLC] Implement Mr. Foxglove
  Mage.Sets/src/mage/cards/m/MrFoxglove.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
Labels: cards

#12727 fix River Song
  Mage.Sets/src/mage/cards/r/RiverSong.java
  Mage.Tests/src/test/java/org/mage/test/cards/replacement/DrawEffectsTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/game/events/DrawCardEvent.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#12722 [40K] Implement The Ruinous Powers and fix Fires of Mount Doom
  Mage.Sets/src/mage/cards/f/FiresOfMountDoom.java
  Mage.Sets/src/mage/cards/t/TheRuinousPowers.java
  Mage.Sets/src/mage/sets/Warhammer40000.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/ltr/FiresOfMountDoomTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/ltr/TheRuinousPowersTest.java
  Mage/src/main/java/mage/MageIdentifier.java
Labels: cards, engine, tests

#12712 [40K] Implement Seeker of Slaanesh, added new must attack option
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
  Mage.Sets/src/mage/cards/s/SeekerOfSlaanesh.java
  Mage.Sets/src/mage/sets/Warhammer40000.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/AttackAndBlockByAITest.java
Labels: server, cards, tests

#12729 refactor: remove unused custom event type code
  Mage/src/main/java/mage/ApprovingObject.java
  Mage/src/main/java/mage/game/events/GameEvent.java
Labels: engine

#12728 tests: fix some missing choices
  Mage.Tests/src/test/java/org/mage/test/AI/basic/ChooseTargetTest.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/CopyAITest.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/ExileTargetTest.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/TargetAmountAITest.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/TargetControllerChangeTest.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/TargetPriorityTest.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/TargetRequiredTest.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/TargetStackObjectByAITest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/activated/PutToGraveyardTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/activated/ReturnToHandTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/curses/CursesTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/enters/AugurOfBolasTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/enters/BronzehideLionTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/enters/GreenbeltRampagerTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/enters/MasterBiomancerTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/enters/ProteanHydraTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/enters/SkylineCascadeTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/enters/ValakutTheMoltenPinnacleTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/flicker/CloudshiftTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/AuraSwapTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/AwakenTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/BattleCryTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/BushidoTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/BuybackTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/CascadeTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ChampionTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ChangelingTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/CipherTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ConspireTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ConvokeTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/CrewTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/DelveTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/DiscardTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/DisturbTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ImproviseTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/KickerTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ReplicateTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/SquadTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/exile/SearchNameExileTests.java
  Mage.Tests/src/test/java/org/mage/test/cards/continuous/ConcurrentModificationExceptionTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/flipcoin/FlipCoinTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/replacement/SigardaHostOfHeronsTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blb/EarlyWinterTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/c20/EonFrolickerTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/c20/PakoArcaneRetrieverTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/exo/KeeperOfTheMindTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mh3/TheCreationOfAvacynTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/who/ThijarianWitnessTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/woe/AlelaCunningConquerorTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/EnterLeaveBattlefieldExileTargetTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/ZadaHedronGrinderTest.java
Labels: tests

#12732 [BLB] Implement Pawpatch Recruit
  Mage.Sets/src/mage/cards/p/PawpatchRecruit.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12704 Refactor CreateTokenEffect to allow multiple tokens at once.
  Mage.Sets/src/mage/cards/a/AKillerAmongUs.java
  Mage.Sets/src/mage/cards/b/BestialMenace.java
  Mage.Sets/src/mage/cards/d/DevouringSugarmaw.java
  Mage.Sets/src/mage/cards/f/FaeOffering.java
  Mage.Sets/src/mage/cards/f/FarmerCotton.java
  Mage.Sets/src/mage/cards/f/ForbiddenFriendship.java
  Mage.Sets/src/mage/cards/f/FrostFairLureFish.java
  Mage.Sets/src/mage/cards/l/LiberatedLivestock.java
  Mage.Sets/src/mage/cards/m/MadameVastra.java
  Mage.Sets/src/mage/cards/m/MascotExhibition.java
  Mage.Sets/src/mage/cards/p/PolukranosEngineOfRuin.java
  Mage.Sets/src/mage/cards/r/ReckonerBankbuster.java
  Mage.Sets/src/mage/cards/s/SomberwaldBeastmaster.java
  Mage.Sets/src/mage/cards/s/SongOfEarendil.java
  Mage.Sets/src/mage/cards/s/SpecimenCollector.java
  Mage.Sets/src/mage/cards/t/TheEleventhHour.java
  Mage.Sets/src/mage/cards/t/TriplicateTitan.java
  Mage.Sets/src/mage/cards/t/TrostanisSummoner.java
  Mage.Sets/src/mage/cards/v/Vault101BirthdayParty.java
  Mage.Sets/src/mage/cards/w/WurmcoilEngine.java
  Mage.Sets/src/mage/cards/w/WurmcoilLarva.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otj/KambalProfiteeringMayorTest.java
  Mage/src/main/java/mage/abilities/effects/common/CreateTokenEffect.java
  Mage/src/main/java/mage/game/events/CreateTokenEvent.java
  Mage/src/main/java/mage/game/permanent/token/Token.java
  Mage/src/main/java/mage/game/permanent/token/TokenImpl.java
Labels: cards, engine, tests

#12718 Implement [BLB] Rottenmouth Viper
  Mage.Sets/src/mage/cards/r/RottenmouthViper.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/counters/CounterType.java
Labels: cards, engine

#12733 New theme: Carbon Fiber
  Mage.Client/src/main/java/mage/client/game/PlayerPanelExt.java
  Mage.Client/src/main/java/mage/client/themes/ThemeType.java
  Mage.Client/src/main/java/mage/client/util/gui/GuiDisplayUtil.java
  Mage.Client/src/main/java/mage/client/util/stats/UpdateMemUsageTask.java
  Mage.Client/src/main/resources/background/carbon_fiber-theme/background.png
  Mage.Client/src/main/resources/background/carbon_fiber-theme/battle-background.png
  Mage.Client/src/main/resources/background/carbon_fiber-theme/login-background.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/cancel_skip.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/concede.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/skip_all.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/skip_stack.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/skip_to_end.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/skip_to_main.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/skip_to_previous_end.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/skip_turn.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/stop_watching.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/switch_hands.png
  Mage.Client/src/main/resources/buttons/carbon_fiber-theme/toggle_macro.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_cleanup.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_combat_attack.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_combat_block.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_combat_damage.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_combat_end.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_combat_start.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_draw.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_main1.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_main2.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_next_turn.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_untap.png
  Mage.Client/src/main/resources/phases/carbon_fiber-theme/phase_upkeep.png
  Mage.Client/src/main/resources/winloss/carbon_fiber-theme/game_lost.jpg
  Mage.Client/src/main/resources/winloss/carbon_fiber-theme/game_won.jpg
Labels: client

#12736 [BLC] Implement Bello, Bard of the Brambles
  Mage.Sets/src/mage/cards/b/BelloBardOfTheBrambles.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
Labels: cards

#12737 Fixed some text colors not using the theme color.
  Mage.Client/src/main/java/mage/client/draft/DraftPanel.java
  Mage.Client/src/main/java/mage/client/game/PlayerPanelExt.java
Labels: client

#12710 [LTC] Implement Courageous Resolve
  Mage.Sets/src/mage/cards/c/CourageousResolve.java
  Mage.Sets/src/mage/sets/TalesOfMiddleEarthCommander.java
Labels: cards, engine

#12739 update August 26th 2024 B&R cards
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/Legacy.java
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/Modern.java
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/Pioneer.java
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/Vintage.java
Labels: server

#12740 [BLB] Implement Helga, Skittish Seer
  Mage.Sets/src/mage/cards/h/HelgaSkittishSeer.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12758 [ACR] Implement Yggdrasil, Rebirth Engine
  Mage.Sets/src/mage/cards/y/YggdrasilRebirthEngine.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12769 Add tests for Camellia, refactor SacrificedPermanentBatchEvent.
  Mage.Tests/src/test/java/org/mage/test/cards/single/blb/CamelliaTheSeedmiserTest.java
  Mage/src/main/java/mage/game/GameState.java
  Mage/src/main/java/mage/game/events/SacrificedPermanentBatchEvent.java
  Mage/src/main/java/mage/game/events/SacrificedPermanentEvent.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
Labels: engine, tests
