Repository magefree/mage, pull requests merged in 2024-10, with the labels that each got.

#12956 [APC] Apocalypse - common collation
  Mage.Sets/src/mage/sets/Apocalypse.java
Labels: cards

#12890 [DSC] Implement Seance Board
  Mage.Sets/src/mage/cards/s/SeanceBoard.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

#12906 [BLB] Dragonhawk, Festival of Embers, Jackdaw Savior, Infamous Cruelclaw
  Mage.Sets/src/mage/cards/d/DragonhawkFatesTempest.java
  Mage.Sets/src/mage/cards/d/DryadMilitant.java
  Mage.Sets/src/mage/cards/f/FestivalOfEmbers.java
  Mage.Sets/src/mage/cards/f/ForbiddenCrypt.java
  Mage.Sets/src/mage/cards/g/GaeasWill.java
  Mage.Sets/src/mage/cards/j/JackdawSavior.java
  Mage.Sets/src/mage/cards/m/MagusOfTheWill.java
  Mage.Sets/src/mage/cards/n/Necrodominance.java
  Mage.Sets/src/mage/cards/r/RestInPeace.java
  Mage.Sets/src/mage/cards/t/TheInfamousCruelclaw.java
  Mage.Sets/src/mage/cards/y/YawgmothsAgenda.java
  Mage.Sets/src/mage/cards/y/YawgmothsWill.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blb/JackdawSaviorTest.java
  Mage/src/main/java/mage/abilities/common/DiesThisOrAnotherTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/ExileTopXMayPlayUntilEffect.java
  Mage/src/main/java/mage/abilities/effects/common/replacement/GraveyardFromAnywhereExileReplacementEffect.java
Labels: cards, engine, tests

#12991 implement [DSC] Redress Fate
  Mage.Sets/src/mage/cards/r/RedressFate.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

#12982 [MB2] Implement Stone Drake
  Mage.Sets/src/mage/cards/s/StoneDrake.java
  Mage.Sets/src/mage/sets/MysteryBooster2.java
Labels: cards

#12962 [INV] Invasion - common collation
  Mage.Sets/src/mage/sets/Invasion.java
Labels: cards

#12938 [MOM] March of the Machine - common collation
  Mage.Sets/src/mage/sets/MarchOfTheMachine.java
Labels: cards

#12994 Fix Marchesa, Resolute Monarch's upkeep trigger
  Mage.Sets/src/mage/cards/m/MarchesaResoluteMonarch.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mom/InvasionOfFioraTest.java
Labels: cards, tests

#13003 Add Irreverent Gremlin (DSK)
  Mage.Sets/src/mage/cards/i/IrreverentGremlin.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/TriggeredAbilityImpl.java
Labels: cards, engine

#13009 Fix HideawayPlayEffect to allow you to attempt to play everything
  Mage.Sets/src/mage/cards/a/ArcaneBombardment.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/HideawayTest.java
  Mage/src/main/java/mage/abilities/effects/common/HideawayPlayEffect.java
Labels: cards, engine, tests

#12842 Alternative solution to problem of unplayable cards from target adjustment
  Mage.Sets/src/mage/cards/b/BloodchiefsThirst.java
  Mage.Sets/src/mage/cards/e/ExpelTheUnworthy.java
  Mage.Sets/src/mage/cards/f/FightWithFire.java
  Mage.Sets/src/mage/cards/g/GaladrielsDismissal.java
  Mage.Sets/src/mage/cards/i/IntoTheFloodMaw.java
  Mage.Sets/src/mage/cards/l/LongRiversPull.java
  Mage.Sets/src/mage/cards/r/RushingRiver.java
  Mage.Sets/src/mage/cards/t/TearAsunder.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/GiftTest.java
  Mage/src/main/java/mage/target/targetadjustment/ConditionalTargetAdjuster.java
  Mage/src/main/java/mage/target/targetadjustment/TargetAdjuster.java
Labels: cards, engine, tests

#13023 [SLD] Implement Captain America, First Avenger
  Mage.Sets/src/mage/cards/c/CaptainAmericaFirstAvenger.java
  Mage.Sets/src/mage/sets/SecretLairDrop.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/abilities/costs/EarlyTargetCost.java
  Mage/src/main/java/mage/abilities/effects/common/DamageMultiEffect.java
Labels: cards, engine

#13017 [DMR] collation - correct Oldframe c/u 3:1 ratio
  Mage.Sets/src/mage/sets/DominariaRemastered.java
Labels: cards

#13019 implement [DA1] More of that Strange Oil
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
  Mage.Sets/src/mage/cards/m/MoreOfThatStrangeOil.java
  Mage.Sets/src/mage/sets/UnknownEvent.java
Labels: cards, client

#13032 refactor: PlayFromGraveyardControllerEffect
  Mage.Sets/src/mage/cards/a/AbandonedSarcophagus.java
  Mage.Sets/src/mage/cards/a/AncientGreenwarden.java
  Mage.Sets/src/mage/cards/c/ConduitOfWorlds.java
  Mage.Sets/src/mage/cards/c/CrucibleOfWorlds.java
  Mage.Sets/src/mage/cards/g/GaeasWill.java
  Mage.Sets/src/mage/cards/h/HaakonStromgaldScourge.java
  Mage.Sets/src/mage/cards/h/HazezonShaperOfSand.java
  Mage.Sets/src/mage/cards/l/LilianaUntouchedByDeath.java
  Mage.Sets/src/mage/cards/m/MagusOfTheWill.java
  Mage.Sets/src/mage/cards/p/PerennialBehemoth.java
  Mage.Sets/src/mage/cards/r/RamunapExcavator.java
  Mage.Sets/src/mage/cards/t/TitaniaNaturesForce.java
  Mage.Sets/src/mage/cards/y/YawgmothsAgenda.java
  Mage.Sets/src/mage/cards/y/YawgmothsWill.java
  Mage.Sets/src/mage/cards/z/ZaskSkitteringSwarmlord.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/abilities/effects/common/asthought/PlayFromNotOwnHandZoneAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ruleModifying/PlayFromGraveyardControllerEffect.java
  Mage/src/main/java/mage/game/command/emblems/WrennAndRealmbreakerEmblem.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#13034 refactors: common class for "return all xxx from your graveyard to the battlefield"
  Mage.Sets/src/mage/cards/a/AftermathAnalyst.java
  Mage.Sets/src/mage/cards/a/AngelOfGlorysRise.java
  Mage.Sets/src/mage/cards/a/ArchangelElspeth.java
  Mage.Sets/src/mage/cards/a/ArchangelsLight.java
  Mage.Sets/src/mage/cards/b/BrilliantRestoration.java
  Mage.Sets/src/mage/cards/c/CalixDestinysHand.java
  Mage.Sets/src/mage/cards/c/Campfire.java
  Mage.Sets/src/mage/cards/c/CreepingChill.java
  Mage.Sets/src/mage/cards/d/DemigodOfRevenge.java
  Mage.Sets/src/mage/cards/e/EnhancedSurveillance.java
  Mage.Sets/src/mage/cards/f/FeldonsCane.java
  Mage.Sets/src/mage/cards/g/GaeasBlessing.java
  Mage.Sets/src/mage/cards/k/KnightsCharge.java
  Mage.Sets/src/mage/cards/l/LilianaDeathWielder.java
  Mage.Sets/src/mage/cards/l/LumraBellowOfTheWoods.java
  Mage.Sets/src/mage/cards/n/Narcomoeba.java
  Mage.Sets/src/mage/cards/p/PrimevalsGloriousRebirth.java
  Mage.Sets/src/mage/cards/r/RedressFate.java
  Mage.Sets/src/mage/cards/r/Replenish.java
  Mage.Sets/src/mage/cards/r/ResurgentBelief.java
  Mage.Sets/src/mage/cards/r/ReturnOfTheNightstalkers.java
  Mage.Sets/src/mage/cards/s/SplendidReclamation.java
  Mage.Sets/src/mage/cards/t/TheMendingOfDominaria.java
  Mage.Sets/src/mage/cards/t/TitaniaGaeaIncarnate.java
  Mage.Sets/src/mage/cards/t/TriumphantReckoning.java
  Mage.Sets/src/mage/cards/w/WorldShaper.java
  Mage.Sets/src/mage/cards/z/ZombieApocalypse.java
  Mage/src/main/java/mage/abilities/common/PutIntoGraveFromLibrarySourceTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/DestroyAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ExileAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ReturnFromYourGraveyardToBattlefieldAllEffect.java
  Mage/src/main/java/mage/abilities/effects/common/ShuffleYourGraveyardIntoLibraryEffect.java
Labels: cards, engine

#13038 refactor: common logic for getting controller of target object
  Mage.Sets/src/mage/cards/a/AnOfferYouCantRefuse.java
  Mage.Sets/src/mage/cards/s/StrixSerenade.java
  Mage.Sets/src/mage/cards/s/SwanSong.java
  Mage/src/main/java/mage/abilities/effects/common/CreateTokenControllerTargetEffect.java
  Mage/src/main/java/mage/abilities/effects/common/DamageTargetControllerEffect.java
  Mage/src/main/java/mage/abilities/effects/common/DrawCardTargetControllerEffect.java
  Mage/src/main/java/mage/abilities/effects/common/GainLifeTargetControllerEffect.java
  Mage/src/main/java/mage/abilities/effects/common/LoseLifeTargetControllerEffect.java
  Mage/src/main/java/mage/abilities/effects/common/search/SearchLibraryPutInPlayTargetControllerEffect.java
  Mage/src/main/java/mage/target/targetpointer/TargetPointer.java
  Mage/src/main/java/mage/target/targetpointer/TargetPointerImpl.java
Labels: cards, engine

#13036 Fix auto-choose targets for activated abilities and spells
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
  Mage.Sets/src/mage/cards/a/ArmoryAutomaton.java
  Mage.Sets/src/mage/cards/b/BrilliantUltimatum.java
  Mage.Sets/src/mage/cards/c/CreditVoucher.java
  Mage.Sets/src/mage/cards/d/DoOrDie.java
  Mage.Sets/src/mage/cards/f/FightOrFlight.java
  Mage.Sets/src/mage/cards/g/GenesisHydra.java
  Mage.Sets/src/mage/cards/k/KnickknackOuphe.java
  Mage.Sets/src/mage/cards/l/LilianaOfTheVeil.java
  Mage.Sets/src/mage/cards/m/MercadianLift.java
  Mage.Sets/src/mage/cards/r/RepelIntruders.java
  Mage.Sets/src/mage/cards/r/ReversalOfFortune.java
  Mage.Sets/src/mage/cards/s/ScrollRack.java
  Mage.Sets/src/mage/cards/s/SpectersShriek.java
  Mage.Sets/src/mage/cards/s/StandOrFall.java
  Mage.Sets/src/mage/cards/t/TruthOrTale.java
  Mage.Sets/src/mage/cards/v/VendilionClique.java
  Mage.Sets/src/mage/cards/w/WhimsOfTheFates.java
  Mage/src/main/java/mage/target/TargetImpl.java
Labels: server, cards, engine

#13037 refactor: add new simpler technique for intervening if conditions
  Mage.Sets/src/mage/cards/a/AngelOfTheDireHour.java
  Mage.Sets/src/mage/cards/a/AnnieFlashTheVeteran.java
  Mage.Sets/src/mage/cards/a/ArguelsBloodFast.java
  Mage.Sets/src/mage/cards/b/BlinkmothUrn.java
  Mage.Sets/src/mage/cards/b/BubbleSnare.java
  Mage.Sets/src/mage/cards/d/DeadeyeTormentor.java
  Mage.Sets/src/mage/cards/d/DeepSeaKraken.java
  Mage.Sets/src/mage/cards/f/FelidarSovereign.java
  Mage.Sets/src/mage/cards/k/KamiOfTerribleSecrets.java
  Mage.Sets/src/mage/cards/m/MoldShambler.java
  Mage.Sets/src/mage/cards/n/NearDeathExperience.java
  Mage.Sets/src/mage/cards/p/PardicDragon.java
  Mage.Sets/src/mage/cards/s/SproutingGoblin.java
  Mage.Sets/src/mage/cards/t/TajuruParagon.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/xln/DeadeyeTormentorTest.java
  Mage/src/main/java/mage/abilities/TriggeredAbility.java
  Mage/src/main/java/mage/abilities/TriggeredAbilityImpl.java
  Mage/src/main/java/mage/abilities/condition/common/FatefulHourCondition.java
  Mage/src/main/java/mage/abilities/condition/common/SuspendedCondition.java
Labels: cards, engine, tests

#13044 refactor: clean up triggered abilities from graveyard
  Mage.Sets/src/mage/cards/a/AbandonedSarcophagus.java
  Mage.Sets/src/mage/cards/a/AkutaBornOfAsh.java
  Mage.Sets/src/mage/cards/a/ArahboRoarOfTheWorld.java
  Mage.Sets/src/mage/cards/a/ArdenAngel.java
  Mage.Sets/src/mage/cards/a/AuntiesSnitch.java
  Mage.Sets/src/mage/cards/b/BarbedWire.java
  Mage.Sets/src/mage/cards/b/BloodOperative.java
  Mage.Sets/src/mage/cards/b/BridgeFromBelow.java
  Mage.Sets/src/mage/cards/c/CoercivePortal.java
  Mage.Sets/src/mage/cards/c/CurseArtifact.java
  Mage.Sets/src/mage/cards/d/DeathOfAThousandStings.java
  Mage.Sets/src/mage/cards/e/Erosion.java
  Mage.Sets/src/mage/cards/e/ExileIntoDarkness.java
  Mage.Sets/src/mage/cards/f/Feedback.java
  Mage.Sets/src/mage/cards/g/Genesis.java
  Mage.Sets/src/mage/cards/g/GhastlyRemains.java
  Mage.Sets/src/mage/cards/g/Gigapede.java
  Mage.Sets/src/mage/cards/i/Ichorid.java
  Mage.Sets/src/mage/cards/i/InfestingRadroach.java
  Mage.Sets/src/mage/cards/l/LilianaUntouchedByDeath.java
  Mage.Sets/src/mage/cards/m/MasterOfDeath.java
  Mage.Sets/src/mage/cards/m/MossPitSkeleton.java
  Mage.Sets/src/mage/cards/m/Musician.java
  Mage.Sets/src/mage/cards/n/NetherSpirit.java
  Mage.Sets/src/mage/cards/p/Paroxysm.java
  Mage.Sets/src/mage/cards/p/PowerLeak.java
  Mage.Sets/src/mage/cards/p/PowerTaint.java
  Mage.Sets/src/mage/cards/p/Precognition.java
  Mage.Sets/src/mage/cards/p/PyreZombie.java
  Mage.Sets/src/mage/cards/p/PyrewildShaman.java
  Mage.Sets/src/mage/cards/r/RiftmarkedKnight.java
  Mage.Sets/src/mage/cards/s/SqueeGoblinNabob.java
  Mage.Sets/src/mage/cards/t/ThunderbladeCharge.java
  Mage.Sets/src/mage/cards/v/VeilingOddity.java
  Mage.Sets/src/mage/cards/v/VengefulPharaoh.java
  Mage.Sets/src/mage/cards/v/VesuvanDoppelganger.java
  Mage.Sets/src/mage/cards/w/WarpArtifact.java
  Mage.Sets/src/mage/cards/w/Withercrown.java
  Mage/src/main/java/mage/abilities/common/BeginningOfCombatTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BeginningOfDrawTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BeginningOfFirstMainTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BeginningOfPostCombatMainTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BeginningOfSecondMainTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BeginningOfUpkeepTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/SurveilTriggeredAbility.java
  Mage/src/main/java/mage/abilities/condition/common/SourceInGraveyardCondition.java
  Mage/src/main/java/mage/abilities/condition/common/SourceOnBattlefieldOrCommandZoneCondition.java
  Mage/src/main/java/mage/abilities/effects/common/counter/RemoveCounterSourceEffect.java
  Mage/src/main/java/mage/abilities/keyword/RepairAbility.java
Labels: cards, engine

#13049 [DSK] Implement Grab the Prize
  Mage.Sets/src/mage/cards/g/GrabThePrize.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards
