Repository magefree/mage, pull requests merged in 2024-09, with the labels that each got.

#12772 [BLB] Implement Mockingbird
  Mage.Sets/src/mage/cards/m/Mockingbird.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12755 refactor: rename "remixed" to "reshuffled"
  Mage.Client/src/main/java/mage/client/dialog/NewTournamentDialog.java
  Mage.Client/src/main/java/mage/client/dialog/RandomPacksSelectorDialog.java
  Mage.Common/src/main/java/mage/view/TournamentTypeView.java
  Mage.Server.Plugins/Mage.Tournament.BoosterDraft/src/mage/tournament/ReshuffledBoosterDraftEliminationTournament.java
  Mage.Server.Plugins/Mage.Tournament.BoosterDraft/src/mage/tournament/ReshuffledBoosterDraftEliminationTournamentType.java
  Mage.Server.Plugins/Mage.Tournament.BoosterDraft/src/mage/tournament/ReshuffledBoosterDraftSwissTournament.java
  Mage.Server.Plugins/Mage.Tournament.BoosterDraft/src/mage/tournament/ReshuffledBoosterDraftSwissTournamentType.java
  Mage.Server/config/config.xml
  Mage.Server/release/config/config.xml
  Mage.Server/src/main/java/mage/server/tournament/TournamentFactory.java
  Mage.Server/src/test/data/config_error.xml
  Mage.Tests/src/test/java/org/mage/test/sets/BoosterGenerationTest.java
  Mage/src/main/java/mage/game/draft/RemixedBoosterDraft.java
  Mage/src/main/java/mage/game/draft/ReshuffledBoosterDraft.java
  Mage/src/main/java/mage/game/draft/ReshuffledSet.java
  Mage/src/main/java/mage/game/tournament/LimitedOptions.java
  Mage/src/main/java/mage/game/tournament/TournamentType.java
Labels: server, engine, tests, client

#12773 [BLB] Implement Kastral, the Windcrested
  Mage.Sets/src/mage/cards/k/KastralTheWindcrested.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12776 [BLC] Implement Hazel of the Rootbloom
  Mage.Sets/src/mage/cards/h/HazelOfTheRootbloom.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
Labels: cards

#12426 Implement [M3C] Blaster Hulk/Create EnergySpentOrLostThisTurnCount and update Izzet Generatorium
  Mage.Sets/src/mage/cards/b/BlasterHulk.java
  Mage.Sets/src/mage/cards/i/IzzetGeneratorium.java
  Mage.Sets/src/mage/sets/ModernHorizons3Commander.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/EnergySpentOrLostThisTurnCount.java
  Mage/src/main/java/mage/watchers/common/EnergySpentOrLostWatcher.java
Labels: cards, engine

#12779 [BLC] Implement The Odd Acorn Gang
  Mage.Sets/src/mage/cards/t/TheOddAcornGang.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
Labels: cards

#12781 [MKC] Implement Panoptic Projektor
  Mage.Sets/src/mage/cards/p/PanopticProjektor.java
  Mage.Sets/src/mage/sets/MurdersAtKarlovManorCommander.java
Labels: cards

#12763 [BLC] Implement Arthur, Marigold Knight
  Mage.Sets/src/mage/cards/a/ArthurMarigoldKnight.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
Labels: cards

#12796 [BLC] Implement Gourmand's Talent
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage.Sets/src/mage/cards/g/GourmandsTalent.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
  Mage/src/main/java/mage/game/permanent/token/RaccoonToken.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine, client

#12797 [BLC] Implement Osteomancer Adept
  Mage.Sets/src/mage/cards/o/OsteomancerAdept.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/MageIdentifier.java
Labels: cards, engine

#12798 [ACR] Implement Mjölnir, Storm Hammer
  Mage.Sets/src/mage/cards/m/MjolnirStormHammer.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12794 [ACR] Implement Caduceus, staff of hermes
  Mage.Sets/src/mage/cards/c/CaduceusStaffOfHermes.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12807 [BLB] Implement Starfall Invocation.
  Mage.Sets/src/mage/cards/s/StarfallInvocation.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12792 Refactored Phyrexian Negator
  Mage.Sets/src/mage/cards/p/PhyrexianNegator.java
Labels: cards

#12510 [ACR] Implement The Capitoline Triad
  Mage.Sets/src/mage/cards/t/TheCapitolineTriad.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/ManaValueInGraveyard.java
  Mage/src/main/java/mage/game/command/emblems/TheCapitolineTriadEmblem.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine

#12825 Reworked GUI to support non-blocking UI and background download
  Mage.Client/src/main/java/mage/client/MageFrame.java
  Mage.Client/src/main/java/mage/client/deck/generator/DeckGeneratorDialog.java
  Mage.Client/src/main/java/mage/client/deckeditor/CardSelector.java
  Mage.Client/src/main/java/mage/client/deckeditor/DeckEditorPanel.java
  Mage.Client/src/main/java/mage/client/deckeditor/DeckExportClipboardDialog.java
  Mage.Client/src/main/java/mage/client/deckeditor/DeckImportClipboardDialog.java
  Mage.Client/src/main/java/mage/client/dialog/AboutDialog.java
  Mage.Client/src/main/java/mage/client/dialog/AddLandDialog.java
  Mage.Client/src/main/java/mage/client/dialog/ConnectDialog.java
  Mage.Client/src/main/java/mage/client/dialog/DownloadImagesDialog.java
  Mage.Client/src/main/java/mage/client/dialog/ErrorDialog.java
  Mage.Client/src/main/java/mage/client/dialog/FeedbackDialog.java
  Mage.Client/src/main/java/mage/client/dialog/GameEndDialog.java
  Mage.Client/src/main/java/mage/client/dialog/JoinTableDialog.java
  Mage.Client/src/main/java/mage/client/dialog/MageDialog.java
  Mage.Client/src/main/java/mage/client/dialog/NewTableDialog.java
  Mage.Client/src/main/java/mage/client/dialog/NewTournamentDialog.java
  Mage.Client/src/main/java/mage/client/dialog/PickCheckBoxDialog.java
  Mage.Client/src/main/java/mage/client/dialog/PickChoiceDialog.java
  Mage.Client/src/main/java/mage/client/dialog/PickMultiNumberDialog.java
  Mage.Client/src/main/java/mage/client/dialog/PickNumberDialog.java
  Mage.Client/src/main/java/mage/client/dialog/PickPileDialog.java
  Mage.Client/src/main/java/mage/client/dialog/RegisterUserDialog.java
  Mage.Client/src/main/java/mage/client/dialog/ResetPasswordDialog.java
  Mage.Client/src/main/java/mage/client/dialog/ShowCardsDialog.java
  Mage.Client/src/main/java/mage/client/dialog/TableWaitingDialog.java
  Mage.Client/src/main/java/mage/client/dialog/TestCardRenderDialog.java
  Mage.Client/src/main/java/mage/client/dialog/TestModalDialog.java
  Mage.Client/src/main/java/mage/client/dialog/TestModalSampleDialog.java
  Mage.Client/src/main/java/mage/client/dialog/UserRequestDialog.java
  Mage.Client/src/main/java/mage/client/dialog/WhatsNewDialog.java
  Mage.Client/src/main/java/mage/client/game/GamePanel.java
  Mage.Client/src/main/java/mage/client/table/TablesPanel.java
  Mage.Client/src/main/java/mage/client/util/gui/FastSearchUtil.java
  Mage.Client/src/main/java/mage/client/util/gui/GuiDisplayUtil.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/DownloadServiceInfo.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/CopyPasteImageSourceDialog.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSource.java
  Mage.Client/src/main/java/org/mage/plugins/card/images/DownloadPicturesService.java
  Mage.Common/src/main/java/mage/view/UserRequestMessage.java
Labels: client

#12832 [CLB] Implement Tlincalli Hunter
  Mage.Sets/src/mage/cards/t/TlincalliHunter.java
  Mage.Sets/src/mage/sets/CommanderLegendsBattleForBaldursGate.java
Labels: cards

#12808 fix "any number of targets with total value X or less"
  Mage.Sets/src/mage/cards/a/AncientBrassDragon.java
  Mage.Sets/src/mage/cards/a/AoTheDawnSky.java
  Mage.Sets/src/mage/cards/c/CallOfTheDeathDweller.java
  Mage.Sets/src/mage/cards/k/KairiTheSwirlingSky.java
  Mage.Sets/src/mage/cards/l/LivelyDirge.java
  Mage.Sets/src/mage/cards/m/MarchFromTheTomb.java
  Mage.Sets/src/mage/cards/m/MoorlandRescuer.java
  Mage.Sets/src/mage/cards/n/NethroiApexOfDeath.java
  Mage.Sets/src/mage/cards/o/OrcusPrinceOfUndeath.java
  Mage.Sets/src/mage/cards/p/PairODiceLost.java
  Mage.Sets/src/mage/cards/p/PatchUp.java
  Mage.Sets/src/mage/cards/p/ProteanHulk.java
  Mage.Sets/src/mage/cards/r/RampagingYaoGuai.java
  Mage.Sets/src/mage/cards/t/Technomancer.java
  Mage.Sets/src/mage/cards/t/TheWarInHeaven.java
  Mage.Sets/src/mage/cards/t/TocasiaDigSiteMentor.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: cards, engine

#12838 UnderTheSkin implemented
  Mage.Sets/src/mage/cards/u/UnderTheSkin.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

#12862 [ACR] Implement Adrestia.
  Mage.Sets/src/mage/cards/a/Adrestia.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12865 Implement Impending mechanic
  Mage.Sets/src/mage/cards/o/OverlordOfTheBalemurk.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheBoilerbilges.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheFloodpits.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheHauntwoods.java
  Mage.Sets/src/mage/cards/o/OverlordOfTheMistmoors.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ImpendingTest.java
  Mage/src/main/java/mage/abilities/costs/AlternativeSourceCostsImpl.java
  Mage/src/main/java/mage/abilities/keyword/ImpendingAbility.java
Labels: cards, engine, tests

#12836 Fix Party Thrasher play from exile effect
  Mage.Sets/src/mage/cards/p/PartyThrasher.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mh3/PartyThrasherTest.java
Labels: cards, tests

#12869 [ACR] Implement Staff of Eden, Vault's Key
  Mage.Sets/src/mage/cards/s/StaffOfEdenVaultsKey.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#12756 [UNF] Implement Strength-Testing Hammer, fix Six-Sided Die
  Mage.Sets/src/mage/cards/s/SixSidedDie.java
  Mage.Sets/src/mage/cards/s/StrengthTestingHammer.java
  Mage.Sets/src/mage/sets/Unfinity.java
Labels: cards

#12835 [MB2] Implement Wowzer, the Aspirational
  Mage.Sets/src/mage/cards/w/WowzerTheAspirational.java
  Mage.Sets/src/mage/sets/MysteryBooster2.java
Labels: cards

#12871 Update painlands to use better mana abilities
  Mage.Sets/src/mage/cards/a/AdarkarWastes.java
  Mage.Sets/src/mage/cards/b/BattlefieldForge.java
  Mage.Sets/src/mage/cards/b/Brushland.java
  Mage.Sets/src/mage/cards/c/CavesOfKoilos.java
  Mage.Sets/src/mage/cards/k/KarplusanForest.java
  Mage.Sets/src/mage/cards/l/LlanowarWastes.java
  Mage.Sets/src/mage/cards/s/ShivanReef.java
  Mage.Sets/src/mage/cards/s/SulfurousSprings.java
  Mage.Sets/src/mage/cards/u/UndergroundRiver.java
  Mage.Sets/src/mage/cards/y/YavimayaCoast.java
Labels: cards

#12793 Added two new cards to [YMID]
  Mage.Sets/src/mage/cards/f/ForsakenCrossroads.java
  Mage.Sets/src/mage/cards/h/HollowhengeWrangler.java
  Mage.Sets/src/mage/sets/AlchemyInnistrad.java
  Mage.Sets/src/mage/sets/MysteryBooster2.java
  Mage/src/main/java/mage/abilities/common/ActivateIfConditionActivatedAbility.java
Labels: cards, engine

#12886 [WHO] Implement Nardole, Resourceful Cyborg
  Mage.Sets/src/mage/cards/n/NardoleResourcefulCyborg.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#12809 Fix SacrificeTargetCost and SacrificeAllCost activator checks
  Mage.Sets/src/mage/cards/t/TergridGodOfFright.java
  Mage.Tests/src/test/java/org/mage/test/cards/cost/sacrifice/SacrificeTargetCostTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/khm/TergridsLanternTest.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeAllCost.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeTargetCost.java
Labels: cards, engine, tests

#12893 [TMP] Implement Phyrexian Splicer (part of #5379)
  Mage.Sets/src/mage/cards/a/AkromaAngelOfWrath.java
  Mage.Sets/src/mage/cards/p/PhyrexianSplicer.java
  Mage.Sets/src/mage/sets/Tempest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tmp/PhyrexianSplicerTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
Labels: cards, tests

#12896 If Emerge reduces mana cost to zero, pass noMana flag to allow spell to be cast with empty manaCostsToPay.
  Mage/src/main/java/mage/abilities/keyword/EmergeAbility.java
Labels: engine

#12920 Fix for https://github.com/magefree/mage/issues/12873
  Mage.Client/src/main/java/mage/client/cards/CardsList.java
  Mage.Client/src/main/java/mage/client/cards/DragCardGrid.java
  Mage.Client/src/main/java/mage/client/deckeditor/CardSelector.java
  Mage.Client/src/main/java/mage/client/themes/ThemeType.java
Labels: client

#12891 [WOC] Implement Tegwyll's Scouring
  Mage.Sets/src/mage/cards/t/TegwyllsScouring.java
  Mage.Sets/src/mage/sets/WildsOfEldraineCommander.java
  Mage/src/main/java/mage/abilities/common/PayMoreToCastAsThoughtItHadFlashAbility.java
Labels: cards, engine

#12940 [DSC] Implement The Lord of Pain.
  Mage.Sets/src/mage/cards/t/TheLordOfPain.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
  Mage/src/main/java/mage/abilities/common/SpellCastAllTriggeredAbility.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: cards, engine

#12942 [DSK] Implement Niko, Light of Hope
  Mage.Sets/src/mage/cards/n/NikoLightOfHope.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/effects/ContinuousEffect.java
  Mage/src/main/java/mage/abilities/effects/ContinuousEffectImpl.java
  Mage/src/main/java/mage/abilities/effects/ContinuousEffectsList.java
  Mage/src/main/java/mage/constants/Duration.java
Labels: cards, engine

#12948 ban Tamiyo as commander
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/DuelCommander.java
Labels: server
