Repository magefree/mage, pull requests merged in 2024-07, with the labels that each got.

#12550 Improved target adjusters
  Mage.Sets/src/mage/cards/b/BlatantThievery.java
  Mage.Sets/src/mage/cards/b/BronzebeakForagers.java
  Mage.Sets/src/mage/cards/d/DecoyGambit.java
  Mage.Sets/src/mage/cards/d/DesecrateReality.java
  Mage.Sets/src/mage/cards/d/DiluvianPrimordial.java
  Mage.Sets/src/mage/cards/d/DismantlingWave.java
  Mage.Sets/src/mage/cards/e/ElminstersSimulacrum.java
  Mage.Sets/src/mage/cards/e/EnigmaThief.java
  Mage.Sets/src/mage/cards/g/GraspOfFate.java
  Mage.Sets/src/mage/cards/h/HammersOfMoradin.java
  Mage.Sets/src/mage/cards/h/HideousTaskmaster.java
  Mage.Sets/src/mage/cards/i/InTheDarknessBindThem.java
  Mage.Sets/src/mage/cards/j/JuvenileMistDragon.java
  Mage.Sets/src/mage/cards/l/LuminatePrimordial.java
  Mage.Sets/src/mage/cards/m/MassMutiny.java
  Mage.Sets/src/mage/cards/m/MoltenPrimordial.java
  Mage.Sets/src/mage/cards/o/OpenSeason.java
  Mage.Sets/src/mage/cards/s/SepulchralPrimordial.java
  Mage.Sets/src/mage/cards/s/SontaranGeneral.java
  Mage.Sets/src/mage/cards/s/SylvanPrimordial.java
  Mage.Sets/src/mage/cards/t/TashaTheWitchQueen.java
  Mage.Sets/src/mage/cards/t/TemptedByTheOriq.java
  Mage.Sets/src/mage/cards/t/TheBalrogOfMoria.java
  Mage.Sets/src/mage/cards/t/TheHorusHeresy.java
  Mage.Sets/src/mage/cards/t/TheTrueScriptures.java
  Mage.Sets/src/mage/cards/t/TimeReaper.java
  Mage.Sets/src/mage/cards/t/TolarianContempt.java
  Mage.Sets/src/mage/cards/v/VronosMaskedInquisitor.java
  Mage.Sets/src/mage/cards/w/WelcomeTo.java
  Mage.Sets/src/mage/cards/w/WindgracesJudgment.java
  Mage/src/main/java/mage/target/targetadjustment/DamagedPlayerControlsTargetAdjuster.java
  Mage/src/main/java/mage/target/targetadjustment/ForEachOpponentTargetsAdjuster.java
Labels: cards, engine

#12565 [PIP] Implement Desdemona, Freedom's Edge
  Mage.Sets/src/mage/cards/d/DesdemonaFreedomsEdge.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12564 [WHO] Implement Confession Dial
  Mage.Sets/src/mage/cards/c/ConfessionDial.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#12560 [PIP] Implement Vault 87: Forced Evolution
  Mage.Sets/src/mage/cards/v/Vault87ForcedEvolution.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12562 [PIP] Implement Idolized
  Mage.Sets/src/mage/cards/i/Idolized.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#12569 [BLB] Implement forage mechanic
  Mage.Sets/src/mage/cards/c/CorpseberryCultivator.java
  Mage.Sets/src/mage/cards/t/ThornvaultForager.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/abilities/common/ForageTriggeredAbility.java
  Mage/src/main/java/mage/abilities/costs/common/ForageCost.java
  Mage/src/main/java/mage/game/events/GameEvent.java
Labels: cards, engine

#12572 Implement offspring mechanic
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/OffspringTest.java
  Mage/src/main/java/mage/abilities/keyword/OffspringAbility.java
Labels: cards, engine, tests

#12583 Fix effects where the source's controller sacrifices it
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/EvokeTest.java
  Mage/src/main/java/mage/abilities/common/SacrificeIfCastAtInstantTimeTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/SacrificeSourceEffect.java
  Mage/src/main/java/mage/abilities/keyword/EvokeAbility.java
Labels: engine, tests

#12586 [BLC] Implement Flubs, the Fool
  Mage.Sets/src/mage/cards/f/FlubsTheFool.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
Labels: cards

#12578 Implement "Promise a gift" mechanic
  Mage.Sets/src/mage/cards/d/DawnsTruce.java
  Mage.Sets/src/mage/cards/i/IntoTheFloodMaw.java
  Mage.Sets/src/mage/cards/k/Kitnap.java
  Mage.Sets/src/mage/cards/l/LongRiversPull.java
  Mage.Sets/src/mage/cards/n/NocturnalHunger.java
  Mage.Sets/src/mage/cards/p/PeerlessRecycling.java
  Mage.Sets/src/mage/cards/s/StarforgedSword.java
  Mage.Sets/src/mage/cards/v/ValleyRally.java
  Mage.Sets/src/mage/cards/w/WearDown.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/GiftTest.java
  Mage/src/main/java/mage/abilities/condition/common/GiftWasPromisedCondition.java
  Mage/src/main/java/mage/abilities/keyword/GiftAbility.java
  Mage/src/main/java/mage/constants/GiftType.java
  Mage/src/main/java/mage/util/CardUtil.java
  Utils/keywords.txt
Labels: cards, engine, tests, dev

#12553 Remove KickerAbility.getSpellKickedCount
  Mage.Sets/src/mage/cards/b/BloodstoneGoblin.java
  Mage.Sets/src/mage/cards/h/HallarTheFirefletcher.java
  Mage.Sets/src/mage/cards/r/RumblingAftershocks.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/KickerTest.java
  Mage/src/main/java/mage/abilities/condition/common/KickedCondition.java
  Mage/src/main/java/mage/abilities/condition/common/KickedCostCondition.java
  Mage/src/main/java/mage/abilities/keyword/KickerAbility.java
  Mage/src/main/java/mage/cards/CardImpl.java
  Mage/src/main/java/mage/filter/predicate/mageobject/KickedSpellPredicate.java
  Mage/src/main/java/mage/game/Game.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: cards, engine, tests

#12585 Conditional target adjuster
  Mage.Sets/src/mage/cards/b/BloodBeckoning.java
  Mage.Sets/src/mage/cards/b/BloodchiefsThirst.java
  Mage.Sets/src/mage/cards/b/BraveTheWilds.java
  Mage.Sets/src/mage/cards/d/DwarvenLandslide.java
  Mage.Sets/src/mage/cards/e/ExpelTheUnworthy.java
  Mage.Sets/src/mage/cards/f/FallingTimber.java
  Mage.Sets/src/mage/cards/f/FightWithFire.java
  Mage.Sets/src/mage/cards/g/GaladrielsDismissal.java
  Mage.Sets/src/mage/cards/g/GoblinBarrage.java
  Mage.Sets/src/mage/cards/i/IntoTheFloodMaw.java
  Mage.Sets/src/mage/cards/j/Jilt.java
  Mage.Sets/src/mage/cards/l/LongRiversPull.java
  Mage.Sets/src/mage/cards/m/MagmaBurst.java
  Mage.Sets/src/mage/cards/o/OrimsThunder.java
  Mage.Sets/src/mage/cards/p/PeerlessRecycling.java
  Mage.Sets/src/mage/cards/p/PollenRemedy.java
  Mage.Sets/src/mage/cards/p/Probe.java
  Mage.Sets/src/mage/cards/r/RushingRiver.java
  Mage.Sets/src/mage/cards/s/SigilOfSleep.java
  Mage.Sets/src/mage/cards/t/TearAsunder.java
  Mage.Sets/src/mage/cards/u/UnstableFooting.java
  Mage.Sets/src/mage/cards/u/UrborgRepossession.java
  Mage.Sets/src/mage/cards/v/ValleyRally.java
  Mage.Sets/src/mage/cards/w/WasteManagement.java
  Mage.Sets/src/mage/cards/w/WearDown.java
  Mage/src/main/java/mage/target/targetadjustment/ConditionalTargetAdjuster.java
Labels: cards, engine

#12589 [BLB] Implement Fecund Greenshell; text improvements in similar cards
  Mage.Sets/src/mage/cards/f/FecundGreenshell.java
  Mage.Sets/src/mage/cards/f/FrostAugur.java
  Mage.Sets/src/mage/cards/p/Parcelbeast.java
  Mage.Sets/src/mage/cards/r/RisenReef.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12593 [ACR] Implement 4x Equipment-related cards
  Mage.Sets/src/mage/cards/a/AssassinGauntlet.java
  Mage.Sets/src/mage/cards/b/BattlefieldImprovisation.java
  Mage.Sets/src/mage/cards/b/BlurOfBlades.java
  Mage.Sets/src/mage/cards/c/Cryoclasm.java
  Mage.Sets/src/mage/cards/d/Detonate.java
  Mage.Sets/src/mage/cards/d/DistractTheGuards.java
  Mage.Sets/src/mage/cards/f/FodderLaunch.java
  Mage.Sets/src/mage/cards/g/GrotagSiegeRunner.java
  Mage.Sets/src/mage/cards/h/HemlockVial.java
  Mage.Sets/src/mage/cards/m/MeltTerrain.java
  Mage.Sets/src/mage/cards/m/MisthiossFury.java
  Mage.Sets/src/mage/cards/p/PeakEruption.java
  Mage.Sets/src/mage/cards/p/PhantomBlade.java
  Mage.Sets/src/mage/cards/p/PoisonTheWell.java
  Mage.Sets/src/mage/cards/r/RavenClanWarAxe.java
  Mage.Sets/src/mage/cards/s/ShaoJun.java
  Mage.Sets/src/mage/cards/s/SigurdJarlOfRavensthorpe.java
  Mage.Sets/src/mage/cards/s/StructuralDistortion.java
  Mage.Sets/src/mage/cards/u/UnlicensedDisintegration.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage/src/main/java/mage/abilities/effects/common/DamageTargetControllerEffect.java
  Mage/src/main/java/mage/game/permanent/token/AssassinMenaceToken.java
Labels: cards, engine

#12600 [BLB] Consumed by Greed, Thought Shucker, Mabel's Mettle, Heaped Harvest
  Mage.Sets/src/mage/cards/c/ConsumedByGreed.java
  Mage.Sets/src/mage/cards/h/HeapedHarvest.java
  Mage.Sets/src/mage/cards/m/MabelsMettle.java
  Mage.Sets/src/mage/cards/t/ThoughtShucker.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/abilities/condition/common/GiftWasPromisedCondition.java
  Mage/src/main/java/mage/abilities/keyword/GiftAbility.java
Labels: cards, engine

#12611 DC ban round 07/2024
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/DuelCommander.java
Labels: server

#12615 [BLB] Implement Vren, the Relentless
  Mage.Sets/src/mage/cards/v/VrenTheRelentless.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/game/permanent/token/VrenRatToken.java
Labels: cards, engine

#12607 [BLB] Implement Eluge the shoreless sea and expand SpellsCostReductionControllerEffect functionality
  Mage.Sets/src/mage/cards/a/AcolyteOfBahamut.java
  Mage.Sets/src/mage/cards/a/ArtificerClass.java
  Mage.Sets/src/mage/cards/b/BalladOfTheBlackFlag.java
  Mage.Sets/src/mage/cards/c/ConduitOfRuin.java
  Mage.Sets/src/mage/cards/c/CunningNightbonder.java
  Mage.Sets/src/mage/cards/e/ElugeTheShorelessSea.java
  Mage.Sets/src/mage/cards/g/GoblinAnarchomancer.java
  Mage.Sets/src/mage/cards/g/GoreclawTerrorOfQalSisma.java
  Mage.Sets/src/mage/cards/k/KrosanDrover.java
  Mage.Sets/src/mage/cards/m/MelekReforgedResearcher.java
  Mage.Sets/src/mage/cards/m/MistformWarchief.java
  Mage.Sets/src/mage/cards/s/SageOfTheBeyond.java
  Mage.Sets/src/mage/cards/s/SavvyTrader.java
  Mage.Sets/src/mage/cards/s/ShadowInTheWarp.java
  Mage.Sets/src/mage/cards/s/SpectacleMage.java
  Mage.Sets/src/mage/cards/s/SpellbindingSoprano.java
  Mage.Sets/src/mage/cards/t/ThryxTheSuddenStorm.java
  Mage.Sets/src/mage/cards/u/UginTheIneffable.java
  Mage.Sets/src/mage/cards/u/UrzaPlaneswalker.java
  Mage.Sets/src/mage/cards/v/VineGecko.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage/src/main/java/mage/abilities/effects/common/cost/SpellsCostReductionControllerEffect.java
Labels: cards, engine

#12592 Fix EntersBattlefieldOneOrMoreTriggeredAbility for ZONE_CHANGE_GROUP events making tokens controlled by different players
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/EntersBattlefieldOneOrMoreTriggerTest.java
  Mage/src/main/java/mage/abilities/common/EntersBattlefieldOneOrMoreTriggeredAbility.java
Labels: engine, tests

#12609 Rework Extort
  Mage/src/main/java/mage/abilities/keyword/ExtortAbility.java
Labels: engine

#12610 [BLB] Daring Waverider, Hoarder's Overflow, Driftgloom Coyote, Lilysplash Mentor
  Mage.Sets/src/mage/cards/d/DaringWaverider.java
  Mage.Sets/src/mage/cards/d/DriftgloomCoyote.java
  Mage.Sets/src/mage/cards/h/HoardersOverflow.java
  Mage.Sets/src/mage/cards/l/LilysplashMentor.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
Labels: cards

#12612 Update Rage Extractor's Phyrexian mana symbol letter code
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/GathererSymbols.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallSymbolsSource.java
  Mage.Sets/src/mage/cards/r/RageExtractor.java
Labels: cards, client

#12613 [PIP] Rampaging Yao Guai, Wild Wasteland, Synth Infiltrator, Paladin Elizabeth Taggerdy
  Mage.Sets/src/mage/cards/p/PaladinElizabethTaggerdy.java
  Mage.Sets/src/mage/cards/r/RampagingYaoGuai.java
  Mage.Sets/src/mage/cards/s/SynthInfiltrator.java
  Mage.Sets/src/mage/cards/w/WildWasteland.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage/src/main/java/mage/target/TargetImpl.java
Labels: cards, engine

#12624 Reworking standard legality
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/Standard.java
  Mage.Sets/src/mage/sets/BattleForZendikar.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Sets/src/mage/sets/ChampionsOfKamigawa.java
  Mage.Sets/src/mage/sets/Coldsnap.java
  Mage.Sets/src/mage/sets/DominariaUnited.java
  Mage.Sets/src/mage/sets/DragonsOfTarkir.java
  Mage.Sets/src/mage/sets/GuildsOfRavnica.java
  Mage.Sets/src/mage/sets/Innistrad.java
  Mage.Sets/src/mage/sets/InnistradMidnightHunt.java
  Mage.Sets/src/mage/sets/Invasion.java
  Mage.Sets/src/mage/sets/Ixalan.java
  Mage.Sets/src/mage/sets/Kaladesh.java
  Mage.Sets/src/mage/sets/KhansOfTarkir.java
  Mage.Sets/src/mage/sets/Lorwyn.java
  Mage.Sets/src/mage/sets/MercadianMasques.java
  Mage.Sets/src/mage/sets/Mirrodin.java
  Mage.Sets/src/mage/sets/Odyssey.java
  Mage.Sets/src/mage/sets/Onslaught.java
  Mage.Sets/src/mage/sets/RavnicaCityOfGuilds.java
  Mage.Sets/src/mage/sets/ReturnToRavnica.java
  Mage.Sets/src/mage/sets/ScarsOfMirrodin.java
  Mage.Sets/src/mage/sets/ShardsOfAlara.java
  Mage.Sets/src/mage/sets/Theros.java
  Mage.Sets/src/mage/sets/ThroneOfEldraine.java
  Mage.Sets/src/mage/sets/WildsOfEldraine.java
  Mage.Sets/src/mage/sets/Zendikar.java
  Mage.Sets/src/mage/sets/ZendikarRising.java
  Mage/src/main/java/mage/cards/ExpansionSet.java
Labels: server, cards, engine
