Repository magefree/mage, pull requests merged in 2025-09, with the labels that each got.

#13955 [SPM] implement The Death of Gwen Stacy and update ExileGraveyardTargetPlayerEffect
  Mage.Sets/src/mage/cards/c/CallousBloodmage.java
  Mage.Sets/src/mage/cards/d/DiscipleOfPerdition.java
  Mage.Sets/src/mage/cards/e/ElspethsNightmare.java
  Mage.Sets/src/mage/cards/s/StonespeakerCrystal.java
  Mage.Sets/src/mage/cards/t/TheDeathOfGwenStacy.java
  Mage.Sets/src/mage/cards/t/ThrabenCharm.java
  Mage.Sets/src/mage/sets/MarvelsSpiderMan.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/spm/TheDeathOfGwenStacyTest.java
  Mage/src/main/java/mage/abilities/effects/common/ExileGraveyardAllTargetPlayerEffect.java
Labels: cards, engine, tests

#13954 [SPM] implement Terrific Team-Up and create a shared effect
  Mage.Sets/src/mage/cards/b/BandTogether.java
  Mage.Sets/src/mage/cards/c/ComboAttack.java
  Mage.Sets/src/mage/cards/c/CoordinatedClobbering.java
  Mage.Sets/src/mage/cards/f/FriendlyRivalry.java
  Mage.Sets/src/mage/cards/g/GracefulTakedown.java
  Mage.Sets/src/mage/cards/t/TandemTakedown.java
  Mage.Sets/src/mage/cards/t/TerrificTeamUp.java
  Mage.Sets/src/mage/sets/MarvelsSpiderMan.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/spm/TerrificTeamUpTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/woe/GracefulTakedownTest.java
  Mage/src/main/java/mage/abilities/effects/common/TargetsDamageTargetsEffect.java
Labels: cards, engine, tests

#13941 update RemoveCountersSourceCost, Gwen Stacy, and Price of Betrayal
  Mage.Sets/src/mage/cards/g/GlissaSunslayer.java
  Mage.Sets/src/mage/cards/g/GwenStacy.java
  Mage.Sets/src/mage/cards/h/HeartlessAct.java
  Mage.Sets/src/mage/cards/p/PriceOfBetrayal.java
  Mage.Sets/src/mage/cards/r/RenderInert.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/spm/GwenStacyTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/war/PriceOfBetrayalTest.java
  Mage/src/main/java/mage/abilities/costs/common/RemoveCountersSourceCost.java
  Mage/src/main/java/mage/abilities/effects/common/RemoveUpToAmountCountersEffect.java
  Mage/src/main/java/mage/constants/MultiAmountType.java
Labels: cards, engine, tests

#13958 Add tokens from TSPM
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage/src/main/java/mage/cards/repository/TokenRepository.java
  Mage/src/main/resources/tokens-database.txt
Labels: engine, client

#13973 Bestow fixes
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/BestowTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/PrototypeTest.java
  Mage.Tests/src/test/java/org/mage/test/serverside/base/impl/CardTestPlayerAPIImpl.java
  Mage/src/main/java/mage/abilities/keyword/BestowAbility.java
  Mage/src/main/java/mage/abilities/keyword/ReconfigureAbility.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/permanent/PermanentImpl.java
  Mage/src/main/java/mage/game/stack/Spell.java
Labels: engine, tests
