Repository magefree/mage, pull requests merged in 2025-03, with the labels that each got.

#13406 [DFT] Implement Simple Cards
  Mage.Sets/src/mage/cards/e/ExplosiveGetaway.java
  Mage.Sets/src/mage/cards/f/FangDruidSummoner.java
  Mage.Sets/src/mage/cards/m/MarchOfTheWorldOoze.java
  Mage.Sets/src/mage/cards/r/RiptideGearhulk.java
  Mage.Sets/src/mage/cards/s/SpectacularPileup.java
  Mage.Sets/src/mage/cards/s/SpireMechcycle.java
  Mage.Sets/src/mage/cards/t/ThunderousVelocipede.java
  Mage.Sets/src/mage/cards/w/WinterCursedRider.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13412 [DFT] Add Mendicant Core, Guidelight
  Mage.Sets/src/mage/cards/m/MendicantCoreGuidelight.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13404 [DFT] Implement Wickerfolk Indomitable
  Mage.Sets/src/mage/cards/w/WickerfolkIndomitable.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage/src/main/java/mage/MageIdentifier.java
Labels: cards, engine

#13405 [DFT] Implement Riverchurn Monument
  Mage.Sets/src/mage/cards/r/RiverchurnMonument.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage/src/main/java/mage/abilities/effects/common/MillCardsTargetEffect.java
Labels: cards, engine

#13373 [DFT] Implement Ketramose, the New Dawn
  Mage.Sets/src/mage/cards/k/KetramoseTheNewDawn.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage/src/main/java/mage/abilities/condition/common/CardsInExileCondition.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/CardsInExileCount.java
Labels: cards, engine

#13394 [DRC] Implement Priest of the Crossing
  Mage.Sets/src/mage/cards/b/BodyCount.java
  Mage.Sets/src/mage/cards/c/CallousSellSword.java
  Mage.Sets/src/mage/cards/p/PriestOfTheCrossing.java
  Mage.Sets/src/mage/cards/s/SeasonOfLoss.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/CreaturesYouControlDiedCount.java
Labels: cards, engine

#13398 [ACR] Implement Overpowering Attack
  Mage.Sets/src/mage/cards/f/FuryOfTheHorde.java
  Mage.Sets/src/mage/cards/o/OverpoweringAttack.java
  Mage.Sets/src/mage/cards/r/RelentlessAssault.java
  Mage.Sets/src/mage/cards/w/WavesOfAggression.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage/src/main/java/mage/abilities/effects/common/UntapAllThatAttackedEffect.java
  Mage/src/main/java/mage/filter/predicate/permanent/AttackedThisTurnPredicate.java
Labels: cards, engine

#13392 [DFT] Implement Elvish Refueler
  Mage.Sets/src/mage/cards/e/ElvishRefueler.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dft/ElvishRefuelerTest.java
  Mage/src/main/java/mage/abilities/keyword/ExhaustAbility.java
  Mage/src/main/java/mage/constants/AsThoughEffectType.java
Labels: cards, engine, tests

#13372 [WHO] Implement The Sound Of Drums
  Mage.Sets/src/mage/cards/t/TheSoundOfDrums.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#13396 Fix missing ProcessAction between the last mana being paid and the spell being cast.
  Mage.Tests/src/test/java/org/mage/test/cards/single/ncc/RainOfRichesTest.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: engine, tests

#13416 [WHO] Implement The Night Of The Doctor
  Mage.Sets/src/mage/cards/t/TheNightOfTheDoctor.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#13418 [WHO] Implement Ensnared By The Mara
  Mage.Sets/src/mage/cards/e/EnsnaredByTheMara.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#13381 [FIC] Implement Y'shtola, Night's Blessed
  Mage.Sets/src/mage/cards/y/YshtolaNightsBlessed.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
Labels: cards

#13388 [DSC] Implement Ursine Monstrosity
  Mage.Sets/src/mage/cards/u/UrsineMonstrosity.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

#13434 [DSC] Implement Suspended Sentence
  Mage.Sets/src/mage/cards/s/SuspendedSentence.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
Labels: cards

#13371 Fix Terra, Herald of Hope combat trigger
  Mage.Sets/src/mage/cards/t/TerraHeraldOfHope.java
Labels: cards

#13410 [DRC] Implement Stridehangar Automaton
  Mage.Sets/src/mage/cards/s/StridehangarAutomaton.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13441 [FIC] Implement Cloud, Ex-SOLDIER
  Mage.Sets/src/mage/cards/c/CloudExSOLDIER.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
Labels: cards

#13408 [DFT] Implement Push the Limit
  Mage.Sets/src/mage/cards/a/ArmedAndArmored.java
  Mage.Sets/src/mage/cards/p/PushTheLimit.java
  Mage.Sets/src/mage/cards/s/StartYourEngines.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/VehiclesBecomeArtifactCreatureEffect.java
Labels: cards, engine

#13407 [DFT] Implement Custom Effect Cards
  Mage.Sets/src/mage/cards/g/GuidelightOptimizer.java
  Mage.Sets/src/mage/cards/l/LootThePathfinder.java
  Mage.Sets/src/mage/cards/m/MomentumBreaker.java
  Mage.Sets/src/mage/cards/o/OildeepGearhulk.java
  Mage.Sets/src/mage/cards/r/RadiantLotus.java
  Mage.Sets/src/mage/cards/s/SitaVarmaMaskedRacer.java
  Mage.Sets/src/mage/cards/s/SkyseersChariot.java
  Mage.Sets/src/mage/cards/s/SkyserpentSeeker.java
  Mage.Sets/src/mage/cards/t/TuneUp.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage/src/main/java/mage/abilities/keyword/ExhaustAbility.java
Labels: cards, engine

#13460 [TDM] Implement Roiling Dragonstorm
  Mage.Sets/src/mage/cards/r/RoilingDragonstorm.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards, dev

#13436 [FIN] Implement Sephiroth, Planet's Heir
  Mage.Sets/src/mage/cards/s/SephirothPlanetsHeir.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
Labels: cards

#13438 [FIN] Implement Sin, Spira's Punishment
  Mage.Sets/src/mage/cards/s/SinSpirasPunishment.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
Labels: cards

#13459 [TDM] Implement Dracogenesis
  Mage.Sets/src/mage/cards/d/Dracogenesis.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards, dev

#13461 [TDM] Implement Mobilize keyword ability and Dragonback Lancer and Voice of Victory
  Mage.Sets/src/mage/cards/d/DragonbackLancer.java
  Mage.Sets/src/mage/cards/v/VoiceOfVictory.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
  Mage/src/main/java/mage/abilities/effects/common/CreateTokenEffect.java
  Mage/src/main/java/mage/abilities/keyword/MobilizeAbility.java
  Mage/src/main/java/mage/game/permanent/token/RedWarriorToken.java
  Utils/keywords.txt
Labels: cards, engine, dev

#13448 [TDM] Implement Stormplain Detainment
  Mage.Sets/src/mage/cards/s/StormplainDetainment.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards, dev

#13411 [DFT] Guidelight Matrix and Kolodin, Triumph Caster
  Mage.Sets/src/mage/cards/a/AlacrianArmory.java
  Mage.Sets/src/mage/cards/g/GuidelightMatrix.java
  Mage.Sets/src/mage/cards/k/KolodinTriumphCaster.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage/src/main/java/mage/abilities/effects/common/SaddleTargetMountEffect.java
  Mage/src/main/java/mage/abilities/keyword/SaddleAbility.java
Labels: cards, engine

#13409 [DFT] Implement Full Throttle
  Mage.Sets/src/mage/cards/f/FullThrottle.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage/src/main/java/mage/abilities/effects/common/AdditionalCombatPhaseEffect.java
Labels: cards, engine

#13413 [DFT] Add Mimeoplasm, Revered One
  Mage.Sets/src/mage/cards/m/MimeoplasmReveredOne.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13347 [DRC] implement Lost Monarch of Ifnir
  Mage.Sets/src/mage/cards/l/LostMonarchOfIfnir.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13329 [DRC] implement Hashaton, Scarab's Fist
  Mage.Sets/src/mage/cards/h/HashatonScarabsFist.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13464 [TDM] Implement Abzan Devotee
  Mage.Sets/src/mage/cards/a/AbzanDevotee.java
  Mage.Sets/src/mage/cards/m/ManaforgeCinder.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
  Mage/src/main/java/mage/abilities/effects/mana/AddManaFromColorChoicesEffect.java
  Mage/src/main/java/mage/abilities/mana/LimitedTimesPerTurnActivatedManaAbility.java
  Mage/src/main/java/mage/constants/ManaType.java
Labels: cards, engine

#13478 Fix Angelic Aberration
  Mage.Sets/src/mage/cards/a/AngelicAberration.java
Labels: cards

#13470 Remove gold from ObjectColor
  Mage.Sets/src/mage/cards/c/CallToArms.java
  Mage.Sets/src/mage/cards/s/SwordOfDungeonsAndDragons.java
  Mage/src/main/java/mage/ObjectColor.java
  Mage/src/main/java/mage/abilities/condition/common/MostCommonColorCondition.java
  Mage/src/main/java/mage/game/permanent/token/DragonTokenGold.java
Labels: cards, engine

#13279 FDN New Combat Rules
  Mage.Common/src/main/java/mage/view/CombatGroupView.java
  Mage.Server.Plugins/Mage.Player.AI.MA/src/mage/player/ai/ComputerPlayerControllableProxy.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/ComputerPlayer.java
  Mage.Server.Plugins/Mage.Player.AIMCTS/src/mage/player/ai/SimulatedPlayerMCTS.java
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
  Mage.Sets/src/mage/cards/b/BalduvianWarlord.java
  Mage.Sets/src/mage/cards/b/BrimazKingOfOreskos.java
  Mage.Sets/src/mage/cards/f/FalseOrders.java
  Mage.Sets/src/mage/cards/f/FlashFoliage.java
  Mage.Sets/src/mage/cards/g/GeneralJarkeld.java
  Mage.Sets/src/mage/cards/m/MirrorMatch.java
  Mage.Sets/src/mage/cards/s/SorrowsPath.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/AfflictTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/BandingTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/BushidoTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/damage/ExcessDamageTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/emblems/TheRingEmblemTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/prevention/PreventDamageRemoveCountersTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/fdn/RiteOfPassageTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mir/BindingAgonyTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/pip/BloatflySwarmTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/sth/WallOfEssenceTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tsp/PhantomWurmTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/targets/TargetMultiAmountTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/damage/DonnaNobleTests.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/delayed/DamagedBatchTests.java
  Mage.Tests/src/test/java/org/mage/test/combat/AttackBlockRestrictionsTest.java
  Mage.Tests/src/test/java/org/mage/test/combat/DamageDistributionTest.java
  Mage.Tests/src/test/java/org/mage/test/combat/LifelinkInCombatTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/constants/MultiAmountType.java
  Mage/src/main/java/mage/game/combat/Combat.java
  Mage/src/main/java/mage/game/combat/CombatGroup.java
  Mage/src/main/java/mage/game/turn/DeclareBlockersStep.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/StubPlayer.java
Labels: server, cards, engine, tests, client

#13468 [WHO] Implement This is How it Ends
  Mage.Sets/src/mage/cards/t/ThisIsHowItEnds.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards
