Repository magefree/mage, pull requests merged in 2025-06, with the labels that each got.

#13707 Rework affinity implementation
  Mage.Sets/src/mage/cards/a/AngelicObserver.java
  Mage.Sets/src/mage/cards/a/ArchwayAngel.java
  Mage.Sets/src/mage/cards/a/ArgivianPhalanx.java
  Mage.Sets/src/mage/cards/b/BanishToAnotherUniverse.java
  Mage.Sets/src/mage/cards/b/BanquetGuests.java
  Mage.Sets/src/mage/cards/b/BartzAndBoko.java
  Mage.Sets/src/mage/cards/b/BrineGiant.java
  Mage.Sets/src/mage/cards/d/DrossGolem.java
  Mage.Sets/src/mage/cards/g/GateColossus.java
  Mage.Sets/src/mage/cards/g/GatebreakerRam.java
  Mage.Sets/src/mage/cards/g/GatekeeperGargoyle.java
  Mage.Sets/src/mage/cards/g/GlaiveOfTheGuildpact.java
  Mage.Sets/src/mage/cards/g/GoldwardensGambit.java
  Mage.Sets/src/mage/cards/h/HellspurBrute.java
  Mage.Sets/src/mage/cards/h/HoldTheGates.java
  Mage.Sets/src/mage/cards/i/IcebreakerKraken.java
  Mage.Sets/src/mage/cards/j/JunkWinder.java
  Mage.Sets/src/mage/cards/m/MillicentRestlessRevenant.java
  Mage.Sets/src/mage/cards/n/NahiriForgedInFury.java
  Mage.Sets/src/mage/cards/o/OxiddaFinisher.java
  Mage.Sets/src/mage/cards/o/OxiddaGolem.java
  Mage.Sets/src/mage/cards/p/PearlEarImperialAdvisor.java
  Mage.Sets/src/mage/cards/p/Polliwallop.java
  Mage.Sets/src/mage/cards/r/RazorGolem.java
  Mage.Sets/src/mage/cards/r/RebelSalvo.java
  Mage.Sets/src/mage/cards/r/RidersOfTheMark.java
  Mage.Sets/src/mage/cards/s/ScalesOfShale.java
  Mage.Sets/src/mage/cards/s/SkyBlessedSamurai.java
  Mage.Sets/src/mage/cards/s/SpireGolem.java
  Mage.Sets/src/mage/cards/t/TangleGolem.java
  Mage.Sets/src/mage/cards/t/TheCircleOfLoyalty.java
  Mage.Sets/src/mage/cards/t/TheDalekEmperor.java
  Mage.Sets/src/mage/cards/t/TomikWielderOfLaw.java
  Mage.Sets/src/mage/cards/t/TravelTheOverworld.java
  Mage.Sets/src/mage/cards/u/UrzaChiefArtificer.java
  Mage/src/main/java/mage/abilities/hint/common/GatesYouControlHint.java
  Mage/src/main/java/mage/abilities/keyword/AffinityAbility.java
  Mage/src/main/java/mage/abilities/keyword/AffinityForArtifactsAbility.java
  Mage/src/main/java/mage/abilities/keyword/AffinityForLandTypeAbility.java
  Mage/src/main/java/mage/constants/AffinityType.java
  Mage/src/main/java/mage/filter/StaticFilters.java
Labels: cards, engine

#13651 refactor: remove notTarget targets from abilities
  Mage.Sets/src/mage/cards/a/AmyPond.java
  Mage.Sets/src/mage/cards/b/BarrowinOfClanUndurr.java
  Mage.Sets/src/mage/cards/b/Boltbender.java
  Mage.Sets/src/mage/cards/b/BurningSands.java
  Mage.Sets/src/mage/cards/c/Cytoshape.java
  Mage.Sets/src/mage/cards/e/Earthlink.java
  Mage.Sets/src/mage/cards/h/HatchetBully.java
  Mage.Sets/src/mage/cards/k/KithkinArmor.java
  Mage.Sets/src/mage/cards/m/MagneticMine.java
  Mage.Sets/src/mage/cards/s/SOLDIERMilitaryProgram.java
  Mage.Sets/src/mage/cards/s/ShiningShoal.java
  Mage.Sets/src/mage/cards/s/SpectralSearchlight.java
  Mage.Sets/src/mage/cards/t/TemporalFirestorm.java
  Mage.Sets/src/mage/cards/v/Valleymaker.java
  Mage.Sets/src/mage/cards/v/VictoryChimes.java
  Mage.Sets/src/mage/cards/w/WanderingMage.java
  Mage.Sets/src/mage/cards/w/WormfangNewt.java
  Mage.Sets/src/mage/cards/w/WormfangTurtle.java
  Mage.Sets/src/mage/cards/y/YaroksWavecrasher.java
  Mage.Sets/src/mage/cards/y/YorionSkyNomad.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/OneShotNonTargetTest.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/abilities/common/DiesCreatureTriggeredAbility.java
  Mage/src/main/java/mage/abilities/costs/common/PutCountersTargetCost.java
  Mage/src/main/java/mage/abilities/effects/OneShotNonTargetEffect.java
  Mage/src/main/java/mage/target/targetadjustment/ConditionalTargetAdjuster.java
  Mage/src/main/java/mage/target/targetadjustment/GenericTargetAdjuster.java
  Mage/src/main/java/mage/target/targetadjustment/TargetAdjuster.java
Labels: cards, engine, tests

#13703 refactor: add FilterSource to match TargetSource
  Mage.Sets/src/mage/cards/a/AjanisAid.java
  Mage.Sets/src/mage/cards/b/BoneMask.java
  Mage.Sets/src/mage/cards/b/BurrentonForgeTender.java
  Mage.Sets/src/mage/cards/c/CircleOfProtectionArtifacts.java
  Mage.Sets/src/mage/cards/c/CircleOfProtectionBlack.java
  Mage.Sets/src/mage/cards/c/CircleOfProtectionBlue.java
  Mage.Sets/src/mage/cards/c/CircleOfProtectionGreen.java
  Mage.Sets/src/mage/cards/c/CircleOfProtectionRed.java
  Mage.Sets/src/mage/cards/c/CircleOfProtectionShadow.java
  Mage.Sets/src/mage/cards/c/CircleOfProtectionWhite.java
  Mage.Sets/src/mage/cards/c/ConsulateSurveillance.java
  Mage.Sets/src/mage/cards/d/DarkSphere.java
  Mage.Sets/src/mage/cards/d/DeflectingPalm.java
  Mage.Sets/src/mage/cards/d/DesperateGambit.java
  Mage.Sets/src/mage/cards/g/GreaterRealmOfPreservation.java
  Mage.Sets/src/mage/cards/j/JadeMonolith.java
  Mage.Sets/src/mage/cards/m/MournersShield.java
  Mage.Sets/src/mage/cards/n/NewWayForward.java
  Mage.Sets/src/mage/cards/p/Penance.java
  Mage.Sets/src/mage/cards/p/PilgrimOfJustice.java
  Mage.Sets/src/mage/cards/p/PilgrimOfVirtue.java
  Mage.Sets/src/mage/cards/p/PrismaticCircle.java
  Mage.Sets/src/mage/cards/r/RuneOfProtectionArtifacts.java
  Mage.Sets/src/mage/cards/r/RuneOfProtectionBlack.java
  Mage.Sets/src/mage/cards/r/RuneOfProtectionBlue.java
  Mage.Sets/src/mage/cards/r/RuneOfProtectionGreen.java
  Mage.Sets/src/mage/cards/r/RuneOfProtectionLands.java
  Mage.Sets/src/mage/cards/r/RuneOfProtectionRed.java
  Mage.Sets/src/mage/cards/r/RuneOfProtectionWhite.java
  Mage.Sets/src/mage/cards/s/Shadowbane.java
  Mage.Sets/src/mage/cards/s/StoryCircle.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/drk/DarkSphereTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/lea/CircleOfProtectionTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mmq/StoryCircleTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tmp/CircleOfProtectionShadowTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tmp/InvulnerabilityTest.java
  Mage/src/main/java/mage/abilities/effects/common/PreventAllDamageFromChosenSourceToYouEffect.java
  Mage/src/main/java/mage/abilities/effects/common/PreventDamageByChosenSourceEffect.java
  Mage/src/main/java/mage/abilities/effects/common/PreventNextDamageFromChosenSourceEffect.java
  Mage/src/main/java/mage/abilities/effects/common/PreventNextDamageFromChosenSourceToTargetEffect.java
  Mage/src/main/java/mage/filter/FilterSource.java
  Mage/src/main/java/mage/target/TargetSource.java
Labels: cards, engine, tests

#13728 Update rules for Sagas
  Mage.Tests/src/test/java/org/mage/test/cards/enchantments/SagaTest.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/turn/PreCombatMainStep.java
Labels: cards, engine, tests, client

#13369 [WHO] Implement Everybody Lives!
  Mage.Sets/src/mage/cards/c/CourageousResolve.java
  Mage.Sets/src/mage/cards/e/EverybodyLives.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards, engine

#13718 [WHO] Implement The Curse of Fenric
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage.Sets/src/mage/cards/t/TheCurseOfFenric.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/game/permanent/token/Mutant33DeathtouchToken.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine, client

#13735 Fix Zenos yae Galvus and Shinryu, Transcendent Rival triggers.
  Mage.Sets/src/mage/cards/s/ShinryuTranscendentRival.java
  Mage.Sets/src/mage/cards/z/ZenosYaeGalvus.java
Labels: cards

#13740 Move findTargetingStackObject to GameImpl, so saved temp data can be cleared
  Mage.Sets/src/mage/cards/a/AgrusKosEternalSoldier.java
  Mage.Sets/src/mage/cards/p/PawpatchRecruit.java
  Mage.Sets/src/mage/cards/s/SurrakElusiveHunter.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/WardTest.java
  Mage/src/main/java/mage/abilities/common/BecomesTargetAnyTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BecomesTargetAttachedTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BecomesTargetControllerTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BecomesTargetSourceTriggeredAbility.java
  Mage/src/main/java/mage/abilities/keyword/WardAbility.java
  Mage/src/main/java/mage/game/Game.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/util/CardUtil.java
  Mage/src/main/java/mage/watchers/common/NumberOfTimesPermanentTargetedATurnWatcher.java
Labels: cards, engine, tests

#13680 Adding targets (Part 1/3)
  Mage.Sets/src/mage/cards/a/AgadeemOccultist.java
  Mage.Sets/src/mage/cards/a/AvalancheTusker.java
  Mage.Sets/src/mage/cards/b/BladegriffPrototype.java
  Mage.Sets/src/mage/cards/c/ChandrasIncinerator.java
  Mage.Sets/src/mage/cards/c/ChandrasPyreling.java
  Mage.Sets/src/mage/cards/c/ColfenorTheLastYew.java
  Mage.Sets/src/mage/cards/d/DeathsPresence.java
  Mage.Sets/src/mage/cards/d/DeusOfCalamity.java
  Mage.Sets/src/mage/cards/d/DiseasedVermin.java
  Mage.Sets/src/mage/cards/f/FearOfBurningAlive.java
  Mage.Sets/src/mage/cards/f/FelineSovereign.java
  Mage.Sets/src/mage/cards/f/FirkraagCunningInstigator.java
  Mage.Sets/src/mage/cards/f/Froghemoth.java
  Mage.Sets/src/mage/cards/g/GaleWaterdeepProdigy.java
  Mage.Sets/src/mage/cards/g/GoblinVandal.java
  Mage.Sets/src/mage/cards/g/GornogTheRedReaper.java
  Mage.Sets/src/mage/cards/g/GrenzoHavocRaiser.java
  Mage.Sets/src/mage/cards/g/GuardiansOfKoilos.java
  Mage.Sets/src/mage/cards/n/NivMizzetVisionary.java
  Mage.Sets/src/mage/cards/v/VirtueOfCourage.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/otc/BladegriffPrototypeTest.java
  Mage.Verify/src/test/java/mage/verify/VerifyCardDataTest.java
  Mage/src/main/java/mage/abilities/common/SourceDealsNoncombatDamageToOpponentTriggeredAbility.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/SavedDamageValue.java
  Mage/src/main/java/mage/target/targetadjustment/DefineByTriggerTargetAdjuster.java
Labels: cards, engine, tests

#13764 Attacks player with creatures triggered ability, Implement [BLC] Echoing Assault
  Mage.Sets/src/mage/cards/d/DemonicCovenant.java
  Mage.Sets/src/mage/cards/e/EchoingAssault.java
  Mage.Sets/src/mage/cards/f/FirkraagCunningInstigator.java
  Mage.Sets/src/mage/cards/g/GornogTheRedReaper.java
  Mage.Sets/src/mage/cards/h/HornOfTheMark.java
  Mage.Sets/src/mage/cards/k/KarazikarTheEyeTyrant.java
  Mage.Sets/src/mage/cards/l/LandrovalHorizonWitness.java
  Mage.Sets/src/mage/cards/m/MeriadocBrandybuck.java
  Mage.Sets/src/mage/cards/n/NeyaliSunsVanguard.java
  Mage.Sets/src/mage/cards/o/OrdruunMentor.java
  Mage.Sets/src/mage/cards/s/SoaringLightbringer.java
  Mage.Sets/src/mage/sets/BloomburrowCommander.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dsc/SoaringLightbringerTest.java
  Mage/src/main/java/mage/abilities/common/AttacksPlayerWithCreaturesTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/combat/GoadTargetEffect.java
Labels: refactoring, cards, engine, tests

#13766 AI: purged whole targeting code and replaced with simple and shared logic (part of #13638)
  Mage.Common/src/main/java/mage/utils/testers/ChooseTargetTestableDialog.java
  Mage.Server.Plugins/Mage.Player.AI.MA/src/mage/player/ai/ComputerPlayer6.java
  Mage.Server.Plugins/Mage.Player.AI.MA/src/mage/player/ai/ComputerPlayer7.java
  Mage.Server.Plugins/Mage.Player.AI.MA/src/mage/player/ai/util/CombatUtil.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/ComputerPlayer.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/PossibleTargetsComparator.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/PossibleTargetsSelector.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/score/ArtificialScoringSystem.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/score/GameStateEvaluator2.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/score/MagicAbility.java
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/simulators/ActionSimulator.java
  Mage.Sets/src/mage/cards/d/DeadWeight.java
  Mage.Sets/src/mage/cards/s/SepulchralPrimordial.java
  Mage.Tests/src/test/java/org/mage/test/AI/basic/PossibleTargetsSelectorAITest.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/exile/SearchNameExileTests.java
  Mage.Tests/src/test/java/org/mage/test/cards/copy/CopyPermanentSpellTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/planeswalker/JaceTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/grn/BeamsplitterMageTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/znr/YasharnImplacableEarthTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/triggers/EnterLeaveBattlefieldExileTargetTest.java
  Mage.Tests/src/test/java/org/mage/test/dialogs/TestableDialogsTest.java
  Mage/src/main/java/mage/constants/Outcome.java
  Mage/src/main/java/mage/filter/common/FilterAnyTarget.java
  Mage/src/main/java/mage/target/Target.java
  Mage/src/main/java/mage/target/TargetImpl.java
  Mage/src/main/java/mage/target/common/TargetAnyTarget.java
  Mage/src/main/java/mage/target/common/TargetCardInGraveyardBattlefieldOrStack.java
Labels: server, cards, engine, tests, client

#13765 Adding targets (Part 2/3)
  Mage.Sets/src/mage/cards/g/GaleWaterdeepProdigy.java
  Mage.Sets/src/mage/cards/h/HarnessTheStorm.java
  Mage.Sets/src/mage/cards/i/ImpetuousDevils.java
  Mage.Sets/src/mage/cards/k/KarmicJustice.java
  Mage.Sets/src/mage/cards/m/MageRingResponder.java
  Mage.Sets/src/mage/cards/m/MagusOfTheAbyss.java
  Mage.Sets/src/mage/cards/m/ManaSkimmer.java
  Mage.Sets/src/mage/cards/m/MausoleumTurnkey.java
  Mage.Sets/src/mage/cards/n/Necrite.java
  Mage.Sets/src/mage/cards/n/NestOfScarabs.java
  Mage.Sets/src/mage/cards/o/OKagachiVengefulKami.java
  Mage.Sets/src/mage/cards/o/OrahSkyclaveHierophant.java
  Mage.Sets/src/mage/cards/o/OrcishSettlers.java
  Mage.Sets/src/mage/cards/p/PawpatchRecruit.java
  Mage.Sets/src/mage/cards/r/RampagingRaptor.java
  Mage.Sets/src/mage/cards/r/RampagingWarMammoth.java
  Mage.Sets/src/mage/cards/r/RavenousGigantotherium.java
  Mage.Sets/src/mage/cards/r/RelentlessDead.java
  Mage.Sets/src/mage/cards/s/SharkTyphoon.java
  Mage.Sets/src/mage/cards/v/ValorsFlagship.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/CyclingTest.java
  Mage/src/main/java/mage/abilities/common/CycleTriggeredAbility.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/EffectKeyValue.java
  Mage/src/main/java/mage/target/TargetImpl.java
Labels: refactoring, cards, engine, tests

#13769 Adding targets (Part 3/3)
  Mage.Sets/src/mage/cards/s/ScalelordReckoner.java
  Mage.Sets/src/mage/cards/s/SkymarkRoc.java
  Mage.Sets/src/mage/cards/s/SoltariVisionary.java
  Mage.Sets/src/mage/cards/t/TheAbyss.java
  Mage.Sets/src/mage/cards/t/TheLordOfPain.java
  Mage.Sets/src/mage/cards/t/TheMyriadPools.java
  Mage.Sets/src/mage/cards/t/ThranTome.java
  Mage.Sets/src/mage/cards/t/ToralfGodOfFury.java
  Mage.Sets/src/mage/cards/v/VenerableWarsinger.java
  Mage.Sets/src/mage/cards/w/WebstrikeElite.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/lci/BarracksOfTheThousandTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/lci/TheMyriadPoolsTest.java
  Mage/src/main/java/mage/abilities/common/CastSpellPaidBySourceTriggeredAbility.java
Labels: cards, engine, tests

#13760 Adding Token Info for FIC/FIN Tokens
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage/src/main/java/mage/cards/repository/TokenRepository.java
  Mage/src/main/resources/tokens-database.txt
Labels: engine, client

#13775 Add missing tokens for UNF, TDC & DSK
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage/src/main/resources/tokens-database.txt
Labels: engine, client

#13783 Add missing token for Research // Development
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage/src/main/resources/tokens-database.txt
Labels: engine, client

#13793 Correcting two token names from earlier commits.
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage/src/main/resources/tokens-database.txt
Labels: engine, client

#13792 update dependency: slf4j-reload4j version 2.0.17
  pom.xml
Labels: dev

#13794 fix: filter exiled cards before free cast
  Mage.Sets/src/mage/cards/c/CollectedConjuring.java
  Mage.Sets/src/mage/cards/d/DanceWithCalamity.java
  Mage.Sets/src/mage/cards/e/EmergentUltimatum.java
  Mage.Sets/src/mage/cards/e/EpicExperiment.java
  Mage.Sets/src/mage/cards/e/EtaliPrimalConqueror.java
  Mage.Sets/src/mage/cards/e/EtaliPrimalStorm.java
  Mage.Sets/src/mage/cards/f/FeveredSuspicion.java
  Mage.Sets/src/mage/cards/g/GixYawgmothPraetor.java
  Mage.Sets/src/mage/cards/h/HazoretsUndyingFury.java
  Mage.Sets/src/mage/cards/j/JaceArchitectOfThought.java
  Mage.Sets/src/mage/cards/k/KefkaDancingMad.java
  Mage.Sets/src/mage/cards/k/KotisTheFangkeeper.java
  Mage.Sets/src/mage/cards/k/KyloxVisionaryInventor.java
  Mage.Sets/src/mage/cards/p/PrimevalSpawn.java
  Mage.Sets/src/mage/cards/v/VillainousWealth.java
Labels: cards

#13795 Added Sonic SLD tokens and some older missing SLD tokens
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage/src/main/resources/tokens-database.txt
Labels: engine, client

#13801 Update Gatherer Set Downloads
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/GathererSets.java
Labels: client

#13804 Conformer Shuriken - switch target and this power on comparition
  Mage.Sets/src/mage/cards/c/ConformerShuriken.java
Labels: cards
