Repository magefree/mage, pull requests merged in 2025-05, with the labels that each got.

#13593 Implement [DSK] Valgavoth, Terror Eater
  Mage.Sets/src/mage/cards/v/ValgavothTerrorEater.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dsk/ValgavothTerrorEaterTest.java
  Mage/src/main/java/mage/MageIdentifier.java
  Mage/src/main/java/mage/abilities/effects/common/replacement/GraveyardFromAnywhereExileReplacementEffect.java
Labels: cards, engine, tests

#13600 Rework cards which exile cards and add suspend to them (Ready for review)
  Mage.Sets/src/mage/cards/d/Delay.java
  Mage.Sets/src/mage/cards/g/GandalfOfTheSecretFire.java
  Mage.Sets/src/mage/cards/j/JhoiraOfTheGhitu.java
  Mage.Sets/src/mage/cards/s/SibyllineSoothsayer.java
  Mage.Sets/src/mage/cards/s/SinisterConcierge.java
  Mage.Sets/src/mage/cards/s/Suspend.java
  Mage.Sets/src/mage/cards/t/TaigamMasterOpportunist.java
  Mage.Sets/src/mage/cards/t/TheEleventhDoctor.java
  Mage.Sets/src/mage/cards/t/ThePartingOfTheWays.java
  Mage.Sets/src/mage/cards/t/TheTenthDoctor.java
  Mage.Sets/src/mage/cards/t/TheWeddingOfRiverSong.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/ncc/SinisterConciergeTest.java
  Mage/src/main/java/mage/abilities/costs/common/ExileSourceWithTimeCountersCost.java
  Mage/src/main/java/mage/abilities/effects/common/ExileSpellWithTimeCountersEffect.java
  Mage/src/main/java/mage/abilities/keyword/SuspendAbility.java
Labels: cards, engine, tests

#13439 [FIN] Implement Emet-Selch, Unsundered / Hades, Sorcerer of Eld
  Mage.Sets/src/mage/cards/e/EmetSelchUnsundered.java
  Mage.Sets/src/mage/cards/h/HadesSorcererOfEld.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
  Mage/src/main/java/mage/abilities/effects/common/ruleModifying/PlayFromGraveyardControllerEffect.java
Labels: cards, engine

#13614 Fix Overwhelming Surge filter
  Mage/src/main/java/mage/filter/StaticFilters.java
Labels: engine

#13445 [FIN] Implement Cecil, Dark Knight / Cecil, Redeemed Paladin
  Mage.Sets/src/mage/cards/c/CecilDarkKnight.java
  Mage.Sets/src/mage/cards/c/CecilRedeemedPaladin.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
  Mage/src/main/java/mage/abilities/effects/common/TransformSourceEffect.java
Labels: cards, engine

#13623 [FIN] Implement Kuja, Genome Sorcerer / Trance Kuja, Fate Defied and Y'shtola Rhul
  Mage.Sets/src/mage/cards/b/BlackMagesRod.java
  Mage.Sets/src/mage/cards/k/KujaGenomeSorcerer.java
  Mage.Sets/src/mage/cards/t/TranceKujaFateDefied.java
  Mage.Sets/src/mage/cards/u/UltimeciaOmnipotent.java
  Mage.Sets/src/mage/cards/u/UltimeciaTimeSorceress.java
  Mage.Sets/src/mage/cards/y/YshtolaRhul.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
Labels: cards, engine

#13629 [FIC] Implement Blue Mage's Cane
  Mage.Sets/src/mage/cards/b/BlueMagesCane.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
Labels: cards

#13639 implement [FIN] Vivi Ornitier
  Mage.Sets/src/mage/cards/v/ViviOrnitier.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
  Mage.Tests/src/test/java/org/mage/test/cards/mana/LimitPerTurnTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/fin/ViviOrnitierTest.java
  Mage/src/main/java/mage/abilities/ActivatedAbility.java
  Mage/src/main/java/mage/abilities/ActivatedAbilityImpl.java
  Mage/src/main/java/mage/abilities/mana/ManaAbility.java
  Mage/src/main/java/mage/abilities/mana/ManaOptions.java
  Mage/src/main/java/mage/abilities/mana/TriggeredManaAbility.java
Labels: cards, engine, tests

#13645 Fix Pit of Offerings targeting
  Mage.Sets/src/mage/cards/p/PitOfOfferings.java
Labels: cards

#13656 Remove ConditionalTriggeredAbility and add trigger condition into triggered abilities
  Mage.Sets/src/mage/cards/a/Aggression.java
  Mage.Sets/src/mage/cards/b/BrazenBlademaster.java
  Mage.Sets/src/mage/cards/b/BreathOfTheSleepless.java
  Mage.Sets/src/mage/cards/b/BrinebornCutthroat.java
  Mage.Sets/src/mage/cards/b/BurningSunCavalry.java
  Mage.Sets/src/mage/cards/c/CaseOfTheCrimsonPulse.java
  Mage.Sets/src/mage/cards/c/CaseOfTheRansackedLab.java
  Mage.Sets/src/mage/cards/c/CaseOfTheShatteredPact.java
  Mage.Sets/src/mage/cards/c/CaseOfTheShiftingVisage.java
  Mage.Sets/src/mage/cards/c/CaseOfTheTrampledGarden.java
  Mage.Sets/src/mage/cards/c/ChakramRetriever.java
  Mage.Sets/src/mage/cards/c/ChampionsOfMinasTirith.java
  Mage.Sets/src/mage/cards/c/CourageousGoblin.java
  Mage.Sets/src/mage/cards/d/DovinsAcuity.java
  Mage.Sets/src/mage/cards/d/DreamSpoilers.java
  Mage.Sets/src/mage/cards/d/DreamspoilerWitches.java
  Mage.Sets/src/mage/cards/e/EnergyVortex.java
  Mage.Sets/src/mage/cards/e/EyesOfTheWisent.java
  Mage.Sets/src/mage/cards/f/FaerieTauntings.java
  Mage.Sets/src/mage/cards/g/GlenElendraPranksters.java
  Mage.Sets/src/mage/cards/h/HandThatFeeds.java
  Mage.Sets/src/mage/cards/h/HermitOfTheNatterknolls.java
  Mage.Sets/src/mage/cards/i/Insubordination.java
  Mage.Sets/src/mage/cards/i/IronApprentice.java
  Mage.Sets/src/mage/cards/j/JenovaAncientCalamity.java
  Mage.Sets/src/mage/cards/k/KefkaRulerOfRuin.java
  Mage.Sets/src/mage/cards/l/LoneWolfOfTheNatterknolls.java
  Mage.Sets/src/mage/cards/m/MisleadingSignpost.java
  Mage.Sets/src/mage/cards/n/NowIKnowMyABCs.java
  Mage.Sets/src/mage/cards/p/PicnicRuiner.java
  Mage.Sets/src/mage/cards/p/PortalMage.java
  Mage.Sets/src/mage/cards/p/PugnaciousHammerskull.java
  Mage.Sets/src/mage/cards/q/QuilledGreatwurm.java
  Mage.Sets/src/mage/cards/r/RubyDaringTracker.java
  Mage.Sets/src/mage/cards/s/SeasonedWarrenguard.java
  Mage.Sets/src/mage/cards/t/TheAetherspark.java
  Mage.Sets/src/mage/cards/t/TheNinthDoctor.java
  Mage.Sets/src/mage/cards/t/TheWatcherInTheWater.java
  Mage.Sets/src/mage/cards/v/VampireScrivener.java
  Mage.Sets/src/mage/cards/v/VogarNecropolisTyrant.java
  Mage.Sets/src/mage/cards/v/VoiceOfResurgence.java
  Mage/src/main/java/mage/abilities/TriggeredAbility.java
  Mage/src/main/java/mage/abilities/TriggeredAbilityImpl.java
  Mage/src/main/java/mage/abilities/common/CaseAbility.java
  Mage/src/main/java/mage/abilities/condition/common/OpponentsTurnCondition.java
  Mage/src/main/java/mage/abilities/decorator/ConditionalTriggeredAbility.java
  Mage/src/main/java/mage/abilities/meta/OrTriggeredAbility.java
Labels: cards, engine

#13555 [FIC] Implement Tidus, Yuna's Guardian
  Mage.Sets/src/mage/cards/c/CombineGuildmage.java
  Mage.Sets/src/mage/cards/d/DaghatarTheAdamant.java
  Mage.Sets/src/mage/cards/l/LeechBonder.java
  Mage.Sets/src/mage/cards/n/NestingGrounds.java
  Mage.Sets/src/mage/cards/r/RumorMonger.java
  Mage.Sets/src/mage/cards/s/SimicGuildmage.java
  Mage.Sets/src/mage/cards/t/TidusYunasGuardian.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
  Mage/src/main/java/mage/abilities/common/OneOrMoreCombatDamagePlayerTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/counter/MoveCounterTargetsEffect.java
  Mage/src/main/java/mage/abilities/effects/common/counter/MoveCountersTargetsEffect.java
Labels: cards, engine

#13672 [FIN] Implement Edgar, King of Figaro, rework coin flips
  Mage.Sets/src/mage/cards/e/EdgarKingOfFigaro.java
  Mage.Sets/src/mage/cards/g/GoblinTraprunner.java
  Mage.Sets/src/mage/cards/r/RalZarek.java
  Mage.Sets/src/mage/cards/t/TwoHeadedGiant.java
  Mage.Sets/src/mage/cards/y/YusriFortunesFlame.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/fin/EdgarKingOfFigaroTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/game/events/FlipCoinEvent.java
  Mage/src/main/java/mage/game/events/FlipCoinsEvent.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#13686 [FIN] Implement Gogo, Master of Mimicry
  Mage.Sets/src/mage/cards/g/GogoMasterOfMimicry.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
  Mage.Tests/src/test/java/org/mage/test/cards/copy/CopySpellTest.java
  Mage/src/main/java/mage/abilities/Ability.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/game/stack/Spell.java
  Mage/src/main/java/mage/game/stack/StackAbility.java
  Mage/src/main/java/mage/game/stack/StackObject.java
  Mage/src/main/java/mage/game/stack/StackObjectImpl.java
Labels: cards, engine, tests

#13473 [WHO] Implement Danny Pink
  Mage.Sets/src/mage/cards/d/DannyPink.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/watchers/common/CountersAddedFirstTimeWatcher.java
Labels: cards, engine

#13659 [WHO] Implement Ashad, the Lone Cyberman
  Mage.Sets/src/mage/cards/a/AshadTheLoneCyberman.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#13624 [FIC] Implement Coin of Fate
  Mage.Sets/src/mage/cards/c/CoinOfFate.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
Labels: cards

#13676 implement [FIC] Edgar, Master Machinist
  Mage.Sets/src/mage/cards/a/ArcadeGannon.java
  Mage.Sets/src/mage/cards/b/BanonTheReturnersLeader.java
  Mage.Sets/src/mage/cards/c/CommunalBrewing.java
  Mage.Sets/src/mage/cards/d/DanithaNewBenaliasLight.java
  Mage.Sets/src/mage/cards/e/EdgarMasterMachinist.java
  Mage.Sets/src/mage/cards/g/GisaAndGeralf.java
  Mage.Sets/src/mage/cards/h/HazoretsMonument.java
  Mage.Sets/src/mage/cards/k/KaradorGhostChieftain.java
  Mage.Sets/src/mage/cards/k/KefnetsMonument.java
  Mage.Sets/src/mage/cards/k/KotisSibsigChampion.java
  Mage.Sets/src/mage/cards/l/LurrusOfTheDreamDen.java
  Mage.Sets/src/mage/cards/m/MendicantCoreGuidelight.java
  Mage.Sets/src/mage/cards/o/OketrasMonument.java
  Mage.Sets/src/mage/cards/r/RaulTroubleShooter.java
  Mage.Sets/src/mage/cards/r/RhonassMonument.java
  Mage.Sets/src/mage/cards/r/RivazOfTheClaw.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/fic/EdgarMasterMachinistTest.java
  Mage/src/main/java/mage/MageIdentifier.java
  Mage/src/main/java/mage/abilities/common/CastFromGraveyardOnceDuringEachOfYourTurnAbility.java
  Mage/src/main/java/mage/abilities/common/CastFromGraveyardOnceEachTurnAbility.java
  Mage/src/main/java/mage/abilities/effects/common/replacement/MorEnteringTappedEffect.java
  Mage/src/main/java/mage/filter/StaticFilters.java
Labels: cards, engine, tests

#13660 [FIC] Implement G'raha Tia, Scion Reborn, rework DoIfCostPaid and "do only once" effects
  Mage.Sets/src/mage/cards/e/EmetSelchOfTheThirdSeat.java
  Mage.Sets/src/mage/cards/g/GrahaTiaScionReborn.java
  Mage.Sets/src/mage/cards/i/IrreverentGremlin.java
  Mage.Sets/src/mage/cards/s/ShaunFatherOfSynths.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
  Mage.Tests/src/test/java/org/mage/test/cards/rules/DoThisOnlyOnceEachTurnTest.java
  Mage/src/main/java/mage/abilities/TriggeredAbility.java
  Mage/src/main/java/mage/abilities/TriggeredAbilityImpl.java
  Mage/src/main/java/mage/abilities/common/AttacksWithCreaturesTriggeredAbility.java
  Mage/src/main/java/mage/abilities/effects/common/DoIfCostPaid.java
  Mage/src/main/java/mage/util/CardUtil.java
Labels: cards, engine, tests

#13701 GUI, table: added drafts with single multiplayer and multiple 1vs1 games support
  Mage.Client/src/main/java/mage/client/dialog/NewTableDialog.java
  Mage.Client/src/main/java/mage/client/dialog/NewTournamentDialog.form
  Mage.Client/src/main/java/mage/client/dialog/NewTournamentDialog.java
  Mage.Client/src/main/java/mage/client/dialog/PreferencesDialog.java
  Mage.Client/src/main/java/mage/client/table/TablesPanel.java
  Mage.Client/src/main/java/mage/client/tournament/TournamentPanel.java
  Mage.Common/src/main/java/mage/view/MatchView.java
  Mage.Common/src/main/java/mage/view/TableView.java
  Mage.Common/src/main/java/mage/view/TournamentView.java
  Mage.Server/src/main/java/mage/server/tournament/TournamentController.java
  Mage.Tests/src/frozen/org/mage/test/clientside/base/MageBase.java
  Mage.Tests/src/test/java/org/mage/test/game/FreeformUnlimitedCommander/FreeformUnlimitedCommanderMatchTest.java
  Mage.Tests/src/test/java/org/mage/test/load/LoadTest.java
  Mage.Tests/src/test/java/org/mage/test/serverside/base/impl/CardTestPlayerAPIImpl.java
  Mage/src/main/java/mage/game/FakeMatch.java
  Mage/src/main/java/mage/game/match/MatchOptions.java
  Mage/src/main/java/mage/game/tournament/MultiplayerRound.java
  Mage/src/main/java/mage/game/tournament/TournamentImpl.java
  Mage/src/main/java/mage/game/tournament/TournamentOptions.java
  Mage/src/main/java/mage/game/tournament/TournamentSealedOptions.java
  Mage/src/main/java/mage/game/tournament/TournamentSingleElimination.java
  Mage/src/main/java/mage/game/tournament/TournamentSwiss.java
Labels: server, engine, tests, client

#13695 [FIC] Implement Locke, Treasure Hunter
  Mage.Sets/src/mage/cards/l/LockeTreasureHunter.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/fic/LockeTreasureHunterTest.java
  Mage/src/main/java/mage/MageIdentifier.java
Labels: cards, engine, tests

#13626 [FIC] Implement Blitzball Stadium
  Mage.Sets/src/mage/cards/b/BlitzballStadium.java
  Mage.Sets/src/mage/sets/FinalFantasyCommander.java
Labels: cards
