Repository magefree/mage, pull requests merged in 2025-08, with the labels that each got.

#13893 Fix Nahiri, Forged in Fury trigger
  Mage.Sets/src/mage/cards/n/NahiriForgedInFury.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mat/NahiriForgedInFuryTest.java
Labels: cards, tests

#13753 fix Yasharn, Implacable Earth and Angel of Jubilation
  Mage.Sets/src/mage/cards/a/AngelOfJubilation.java
  Mage.Sets/src/mage/cards/b/BiteDownOnCrime.java
  Mage.Sets/src/mage/cards/h/HamletGlutton.java
  Mage.Sets/src/mage/cards/i/IceOut.java
  Mage.Sets/src/mage/cards/j/JohannsStopgap.java
  Mage.Sets/src/mage/cards/k/KarnsSylex.java
  Mage.Sets/src/mage/cards/t/ThranPortal.java
  Mage.Sets/src/mage/cards/y/YasharnImplacableEarth.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/BargainTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/continuous/AngelOfJubilationTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dmu/KarnsSylexTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dmu/ThranPortalTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/znr/YasharnImplacableEarthTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/abilities/common/CantPayLifeOrSacrificeAbility.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#13908 Retro frames for REN and RIN
  Mage.Sets/src/mage/sets/Renaissance.java
  Mage.Sets/src/mage/sets/Rinascimento.java
Labels: cards

#13910 [TLA] Implement Razor Rings, rework excess damage
  Mage.Sets/src/mage/cards/b/BottleCapBlast.java
  Mage.Sets/src/mage/cards/c/ContestOfClaws.java
  Mage.Sets/src/mage/cards/g/GoblinNegotiation.java
  Mage.Sets/src/mage/cards/h/HellToPay.java
  Mage.Sets/src/mage/cards/l/LacerateFlesh.java
  Mage.Sets/src/mage/cards/m/MegatronDestructiveForce.java
  Mage.Sets/src/mage/cards/n/NahirisWarcrafting.java
  Mage.Sets/src/mage/cards/o/OrbitalPlunge.java
  Mage.Sets/src/mage/cards/r/RamThrough.java
  Mage.Sets/src/mage/cards/r/RazorRings.java
  Mage.Sets/src/mage/cards/t/TorchTheWitness.java
  Mage.Sets/src/mage/cards/u/UnleashTheInferno.java
  Mage.Sets/src/mage/cards/v/VikyaScorchingStalwart.java
  Mage.Sets/src/mage/cards/w/WindswiftSlice.java
  Mage.Sets/src/mage/sets/AvatarTheLastAirbender.java
  Mage/src/main/java/mage/abilities/effects/common/DamageWithExcessEffect.java
  Mage/src/main/java/mage/game/permanent/Permanent.java
Labels: cards, engine

#13927 Refactor: Actually use DependencyType.BecomeNonbasicLand where it's needed.
  Mage.Sets/src/mage/cards/a/AmbushCommander.java
  Mage.Sets/src/mage/cards/a/AshayaSoulOfTheWild.java
  Mage.Sets/src/mage/cards/c/CelestialDawn.java
  Mage.Sets/src/mage/cards/c/ChromaticLantern.java
  Mage.Sets/src/mage/cards/c/Conversion.java
  Mage.Sets/src/mage/cards/d/DuneChanter.java
  Mage.Sets/src/mage/cards/e/EncroachingMycosynth.java
  Mage.Sets/src/mage/cards/g/Glaciers.java
  Mage.Sets/src/mage/cards/h/HarbingerOfTheSeas.java
  Mage.Sets/src/mage/cards/k/KormusBell.java
  Mage.Sets/src/mage/cards/l/LeylineOfSingularity.java
  Mage.Sets/src/mage/cards/l/LeylineOfTheGuildpact.java
  Mage.Sets/src/mage/cards/l/LifeAndLimb.java
  Mage.Sets/src/mage/cards/l/LivingLands.java
  Mage.Sets/src/mage/cards/l/LivingPlane.java
  Mage.Sets/src/mage/cards/m/MagusOfTheMoon.java
  Mage.Sets/src/mage/cards/m/Melting.java
  Mage.Sets/src/mage/cards/n/NaturalEmergence.java
  Mage.Sets/src/mage/cards/n/NaturesRevolt.java
  Mage.Sets/src/mage/cards/r/Realmwright.java
  Mage.Sets/src/mage/cards/r/RootpathPurifier.java
  Mage.Sets/src/mage/cards/s/SongOfTheDryads.java
  Mage.Sets/src/mage/cards/t/TophTheFirstMetalbender.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/AddBasicLandTypeAllLandsEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/BecomesAllBasicsControlledEffect.java
Labels: cards, engine

#13756 Fix Dragon's Fire targeting issue / refactor
  Mage.Sets/src/mage/cards/d/DragonsFire.java
Labels: cards

#13916 update cards and effects that missed canPaySacrificeCost
  Mage.Sets/src/mage/cards/n/NahirisSacrifice.java
  Mage.Sets/src/mage/cards/p/PhyrexianDreadnought.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/one/NahirisSacrificeTest.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeAttachmentCost.java
  Mage/src/main/java/mage/abilities/costs/common/SacrificeXTargetCost.java
Labels: cards, engine, tests

#13903 Additional Promo Sets and Cards
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage.Sets/src/mage/sets/LoveYourLGS2020.java
  Mage.Sets/src/mage/sets/LoveYourLGS2022.java
  Mage.Sets/src/mage/sets/LoveYourLGS2024.java
  Mage.Sets/src/mage/sets/MKMStandardShowdown.java
  Mage.Sets/src/mage/sets/MagicFest2023.java
  Mage.Sets/src/mage/sets/MagicFest2024.java
  Mage.Sets/src/mage/sets/MagicFest2025.java
  Mage.Sets/src/mage/sets/RegionalChampionshipQualifiers2022.java
  Mage.Sets/src/mage/sets/SecretLairDrop.java
  Mage.Sets/src/mage/sets/StoreChampionships.java
  Mage.Sets/src/mage/sets/The30thAnniversaryHistoryPromos.java
  Mage.Sets/src/mage/sets/URLConventionPromos.java
  Mage.Sets/src/mage/sets/WizardsPlayNetwork2025.java
  Mage.Sets/src/mage/sets/YearOfTheDragon2024.java
  Mage.Sets/src/mage/sets/YearOfTheSnake2025.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine, client

#13935 Frame fixes
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage.Sets/src/mage/sets/AmonkhetRemastered.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
  Mage.Sets/src/mage/sets/MTGArenaPromos.java
  Mage.Sets/src/mage/sets/MagicFest2019.java
  Mage.Sets/src/mage/sets/MagicFest2020.java
  Mage.Sets/src/mage/sets/MagicOnlinePromos.java
  Mage.Sets/src/mage/sets/MagicPlayerRewards2008.java
  Mage.Sets/src/mage/sets/MarvelsSpiderMan.java
  Mage.Sets/src/mage/sets/UrzasSaga.java
  Mage.Sets/src/mage/sets/YearOfTheTiger2022.java
  Mage/src/main/java/mage/cards/ExpansionSet.java
Labels: cards, engine

#13912 FullArt and Retro Frame Test
  Mage.Verify/src/main/java/mage/verify/mtgjson/MtgJsonCard.java
  Mage.Verify/src/test/java/mage/verify/VerifyCardDataTest.java
Labels: tests
