Repository magefree/mage, pull requests merged in 2025-01, with the labels that each got.

#13175 [PIP] Add Curie, Emergent Intelligence
  Mage.Sets/src/mage/cards/c/CurieEmergentIntelligence.java
  Mage.Sets/src/mage/sets/Fallout.java
Labels: cards

#13196 Fixed interaction between Bello and Ashaya
  Mage.Sets/src/mage/cards/b/BelloBardOfTheBrambles.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/blb/BelloBardOfTheBramblesTest.java
Labels: cards, tests

#13183 Fix name [DA1] More of That Strange Oil...
  Mage.Sets/src/mage/sets/UnknownEvent.java
Labels: cards

#13184 [DSC] Implement Phenomenon Investigators
  Mage.Sets/src/mage/cards/p/PhenomenonInvestigators.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorrorCommander.java
  Mage/src/main/java/mage/game/permanent/token/HorrorEnchantmentCreatureToken.java
Labels: cards, engine

#13187 [DSK] Implement Kaito, Bane of Nightmares
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage.Sets/src/mage/cards/k/KaitoBaneOfNightmares.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/game/command/emblems/KaitoBaneOfNightmaresEmblem.java
  Mage/src/main/java/mage/watchers/common/PlayerLostLifeWatcher.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine, client

#13189 [DSK] Implement Cryptid Inspector
  Mage.Sets/src/mage/cards/c/CryptidInspector.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
Labels: cards

#13199 refactor: TargetCreatureOrPlayer inheritance
  Mage.Server.Plugins/Mage.Player.AI/src/main/java/mage/player/ai/ComputerPlayer.java
  Mage.Sets/src/mage/cards/s/StarDestroyer.java
  Mage.Sets/src/mage/cards/t/ThermalDetonator.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/filter/common/FilterCreatureOrPlayer.java
  Mage/src/main/java/mage/target/common/TargetCreatureOrPlayer.java
Labels: server, cards, engine, tests

#13208 [DSK] Implement Nowhere to Run
  Mage.Sets/src/mage/cards/n/NowhereToRun.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage.Tests/src/test/java/org/mage/test/cards/enchantments/NowhereToRunTest.java
Labels: cards, tests

#13223 Fix Leyline of Resonance triggering when targeting opponents' creatures
  Mage.Sets/src/mage/cards/l/LeylineOfResonance.java
Labels: cards

#13232 [DSK] Implement Acrobatic Cheerleader
  Mage.Sets/src/mage/cards/a/AcrobaticCheerleader.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage.Tests/src/test/java/org/mage/test/cards/rules/TriggerAbilityOnlyLimitedTimesTest.java
  Mage/src/main/java/mage/abilities/TriggeredAbilities.java
  Mage/src/main/java/mage/abilities/TriggeredAbility.java
  Mage/src/main/java/mage/abilities/TriggeredAbilityImpl.java
Labels: cards, engine, tests

#13229 Fix Awakened Skyclave & Grond, The Gatebreaker
  Mage.Sets/src/mage/cards/a/AwakenedSkyclave.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/AddCardTypeSourceEffect.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/AddCardTypeTargetEffect.java
Labels: cards, engine

#13237 [LCI] - remove non-full art basics from collation
  Mage.Sets/src/mage/sets/TheLostCavernsOfIxalan.java
Labels: cards

#13228 [LEG] Firestorm Phoenix - cn 147 not 145
  Mage.Sets/src/mage/sets/Legends.java
Labels: cards

#13230 [MB2] changed collector numbers on scryfall
  Mage.Sets/src/mage/sets/MysteryBooster2.java
Labels: cards

#13231 Fix fake back face download fails
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
Labels: client

#13234 [DSK] Implement Unable to Scream
  Mage.Sets/src/mage/cards/u/UnableToScream.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dsk/UnableToScreamTest.java
  Mage/src/main/java/mage/abilities/effects/common/continuous/LoseAllAbilitiesAttachedEffect.java
Labels: cards, engine, tests

#13254 [DFT] Implement Aatchik, Emerald Radian
  Mage.Sets/src/mage/cards/a/AatchikEmeraldRadian.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13249 Fixed faulty implementation of mirko obsessive theorist
  Mage.Sets/src/mage/cards/m/MirkoObsessiveTheorist.java
Labels: cards

#13265 [LTC] Implement Gandalf of the Secret Fire
  Mage.Sets/src/mage/cards/g/GandalfOfTheSecretFire.java
  Mage.Sets/src/mage/sets/TalesOfMiddleEarthCommander.java
Labels: cards

#13276 Delete empty tooltips
  Mage.Client/src/main/java/mage/client/dialog/AddLandDialog.form
  Mage.Client/src/main/java/mage/client/dialog/AddLandDialog.java
  Mage.Client/src/main/java/mage/client/dialog/NewTableDialog.form
  Mage.Client/src/main/java/mage/client/dialog/NewTableDialog.java
  Mage.Client/src/main/java/mage/client/dialog/NewTournamentDialog.form
  Mage.Client/src/main/java/mage/client/dialog/NewTournamentDialog.java
  Mage.Client/src/main/java/mage/client/dialog/PreferencesDialog.form
  Mage.Client/src/main/java/mage/client/dialog/PreferencesDialog.java
  Mage.Client/src/main/java/mage/client/dialog/RegisterUserDialog.form
  Mage.Client/src/main/java/mage/client/dialog/RegisterUserDialog.java
  Mage.Client/src/main/java/mage/client/dialog/TableWaitingDialog.form
  Mage.Client/src/main/java/mage/client/dialog/TableWaitingDialog.java
  Mage.Client/src/main/java/mage/client/dialog/TestCardRenderDialog.form
  Mage.Client/src/main/java/mage/client/dialog/TestCardRenderDialog.java
  Mage.Client/src/main/java/mage/client/draft/DraftPanel.form
  Mage.Client/src/main/java/mage/client/draft/DraftPanel.java
  Mage.Client/src/main/java/mage/client/tournament/TournamentPanel.form
  Mage.Client/src/main/java/mage/client/tournament/TournamentPanel.java
Labels: client

#13226 Fix Feather, the Redeemed
  Mage.Sets/src/mage/cards/f/FeatherTheRedeemed.java
Labels: cards
