Repository magefree/mage, pull requests merged in 2025-02, with the labels that each got.

#13259 Implementing "Start your engines!" mechanic
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage.Tests/src/test/java/org/mage/test/cards/designations/StartYourEnginesTest.java
  Mage.Tests/src/test/java/org/mage/test/player/TestPlayer.java
  Mage/src/main/java/mage/abilities/common/MaxSpeedAbility.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/ControllerSpeedCount.java
  Mage/src/main/java/mage/abilities/keyword/StartYourEnginesAbility.java
  Mage/src/main/java/mage/designations/DesignationType.java
  Mage/src/main/java/mage/designations/Speed.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, tests

#13283 CryptOfAgadeem: Add hint about number of cards
  Mage.Sets/src/mage/cards/c/CryptOfAgadeem.java
Labels: cards

#13286 Choose card name - added support to choose names from adventure spells (example: Anointed Peacekeeper)
  Mage/src/main/java/mage/cards/repository/CardRepository.java
Labels: engine

#13275 [DFT] Implement Autarch Mammoth
  Mage.Sets/src/mage/cards/a/AutarchMammoth.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13287 [DFT] Implement Boommobile
  Mage.Sets/src/mage/cards/b/Boommobile.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13306 Fixup Makefile for better convenience
  Makefile
Labels: dev

#13308 Fix #13021: Allow Shifting Woodland to become a copy of a MDFC Permanent in the Graveyard
  Mage.Sets/src/mage/cards/s/ShiftingWoodland.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/mh3/ShiftingWoodlandTest.java
Labels: cards, tests

#13309 Fix Heaped Harvest searching only when it enters the battlefield
  Mage.Sets/src/mage/cards/h/HeapedHarvest.java
Labels: cards

#13277 [DSK] Implement Hauntwoods Shrieker and reveal face down rework
  Mage.Common/src/main/java/mage/view/RevealedView.java
  Mage.Sets/src/mage/cards/h/HauntwoodsShrieker.java
  Mage.Sets/src/mage/sets/DuskmournHouseOfHorror.java
  Mage/src/main/java/mage/abilities/effects/keyword/ManifestEffect.java
  Mage/src/main/java/mage/game/permanent/PermanentCard.java
  Mage/src/main/java/mage/players/Player.java
  Mage/src/main/java/mage/players/PlayerImpl.java
Labels: cards, engine, client

#13294 [DFT] Implement Lifecraft Engine
  Mage.Sets/src/mage/cards/l/LifecraftEngine.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13300 Fix Ballad of the Black Flag text
  Mage.Sets/src/mage/cards/b/BalladOfTheBlackFlag.java
Labels: cards

#13302 [DRC] Implement Peema Trailblazer
  Mage.Sets/src/mage/cards/p/PeemaTrailblazer.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13304 [DRC] Implement Rhet-Tomb Mystic
  Mage.Sets/src/mage/cards/r/RhetTombMystic.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13310 [DRC] implement Adaptive Omnitool
  Mage.Sets/src/mage/cards/a/AdaptiveOmnitool.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13296 Improve rules text for Decayed
  Mage/src/main/java/mage/abilities/keyword/DecayedAbility.java
Labels: engine

#13303 [DRC] Implement Accursed Duneyard
  Mage.Sets/src/mage/cards/a/AccursedDuneyard.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13311 [DRC] implement Aetherflux Conduit
  Mage.Sets/src/mage/cards/a/AetherfluxConduit.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13316 [DRC] implement Aetheric Amplifier
  Mage.Sets/src/mage/cards/a/AethericAmplifier.java
  Mage.Sets/src/mage/sets/AetherdriftCommander.java
Labels: cards

#13312 Fix and improve Sinister Concierge
  Mage.Sets/src/mage/cards/s/SinisterConcierge.java
  Mage/src/main/java/mage/abilities/costs/common/ExileSourceWithTimeCountersCost.java
Labels: cards, engine

#13330 [WHO] Implement The First Doctor
  Mage.Sets/src/mage/cards/t/TheFirstDoctor.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#13320 [WHO] Implement Wilfred Mott
  Mage.Sets/src/mage/cards/w/WilfredMott.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#13285 Implement [ICE],[ME2] Goblin Ski Patrol
  Mage.Sets/src/mage/cards/g/GoblinSkiPatrol.java
  Mage.Sets/src/mage/sets/IceAge.java
  Mage.Sets/src/mage/sets/MastersEditionII.java
  Mage/src/main/java/mage/abilities/common/ActivateOncePerGameActivatedAbility.java
Labels: cards, engine

#13349 [GRN] Unmoored Ego Make graveyards optional for exiling cards
  Mage.Sets/src/mage/cards/u/UnmooredEgo.java
Labels: cards

#13351 [CLU] Implement Suppressor Skyguard
  Mage.Sets/src/mage/cards/s/SuppressorSkyguard.java
  Mage.Sets/src/mage/sets/RavnicaClueEdition.java
Labels: cards

#13346 [ACR] Implement Alexios, Deimos of Kosmos
  Mage.Sets/src/mage/cards/a/AlexiosDeimosOfKosmos.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#13354 GristTheHungerTide + SongsOfTheDamned + SeasonOfLoss add Graveyard Hints
  Mage.Sets/src/mage/cards/g/GristTheHungerTide.java
  Mage.Sets/src/mage/cards/s/SeasonOfLoss.java
  Mage.Sets/src/mage/cards/s/SongsOfTheDamned.java
Labels: cards

#13186 AbilityPicker Empty Selection Error
  Mage.Client/src/main/java/mage/client/components/ability/AbilityPicker.java
Labels: client

#13344 [DFT] implement Ancient Vendetta
  Mage.Sets/src/mage/cards/a/AncientVendetta.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13356 [WHO] Implement The Girl in the Fireplace
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage.Sets/src/mage/cards/t/TheGirlInTheFireplace.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/game/permanent/token/TheGirlInTheFireplaceHorseToken.java
  Mage/src/main/java/mage/game/permanent/token/TheGirlInTheFireplaceHumanNobleToken.java
Labels: cards, engine, client

#13358 [ACR] Implement Viewpoint Synchronization
  Mage.Sets/src/mage/cards/c/Cultivate.java
  Mage.Sets/src/mage/cards/f/FlareOfCultivation.java
  Mage.Sets/src/mage/cards/f/FlourishingBloomKin.java
  Mage.Sets/src/mage/cards/k/KodamasReach.java
  Mage.Sets/src/mage/cards/n/NavigationOrb.java
  Mage.Sets/src/mage/cards/n/NissasPilgrimage.java
  Mage.Sets/src/mage/cards/p/Peregrination.java
  Mage.Sets/src/mage/cards/v/ViewpointSynchronization.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
  Mage/src/main/java/mage/abilities/effects/common/search/SearchLibraryPutOntoBattlefieldTappedRestInHandEffect.java
Labels: cards, engine

#13359 [PIP] Implement Strong, the Brutish Thespian
  Mage.Sets/src/mage/cards/s/StrongTheBrutishThespian.java
  Mage.Sets/src/mage/sets/Fallout.java
  Mage/src/main/java/mage/game/command/emblems/RadiationEmblem.java
  Mage/src/main/java/mage/game/events/GameEvent.java
Labels: cards, engine

#13338 [WHO] Implement Bill Potts
  Mage.Sets/src/mage/cards/b/BillPotts.java
  Mage.Sets/src/mage/sets/DoctorWho.java
Labels: cards

#13360 [ACR] Implement Brotherhood Headquarters
  Mage.Sets/src/mage/cards/b/BrotherhoodHeadquarters.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#13361 Fix second ability of Mu Yanling, Wind Rider
  Mage.Sets/src/mage/cards/m/MuYanlingWindRider.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dft/MuYanlingWindRiderTest.java
Labels: cards, tests

#13374 refactor: Create common DynamicValue for instant and sorcery spells cast in a turn.
  Mage.Sets/src/mage/cards/d/Demilich.java
  Mage.Sets/src/mage/cards/l/LockAndLoad.java
  Mage.Sets/src/mage/cards/r/RalLeylineProdigy.java
  Mage.Sets/src/mage/cards/r/RalMonsoonMage.java
  Mage.Sets/src/mage/cards/r/RionyaFireDancer.java
  Mage.Sets/src/mage/cards/s/ShowOfConfidence.java
  Mage.Sets/src/mage/cards/s/SorcererClass.java
  Mage/src/main/java/mage/abilities/dynamicvalue/common/InstantAndSorceryCastThisTurn.java
Labels: cards, engine

#13377 [WHO] Implement What Must Be Done (+ bugfix Profound Journey)
  Mage.Sets/src/mage/cards/p/ProfoundJourney.java
  Mage.Sets/src/mage/cards/w/WhatMustBeDone.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#13385 [DFT] Implement Coalstoke Gearhulk
  Mage.Sets/src/mage/cards/c/CoalstokeGearhulk.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13383 [DFT] Implement Alacrian Armory
  Mage.Sets/src/mage/cards/a/AlacrianArmory.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13386 [DFT] Implement Cursecloth Wrappings
  Mage.Sets/src/mage/cards/c/CurseclothWrappings.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards

#13391 Fix typo in lost mana message
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
Labels: server

#13382 [DFT] Canyon Vaulter, Cloudspire Skycycle, Dune Drifter
  Mage.Sets/src/mage/cards/c/CanyonVaulter.java
  Mage.Sets/src/mage/cards/c/CloudspireSkycycle.java
  Mage.Sets/src/mage/cards/d/DuneDrifter.java
  Mage.Sets/src/mage/cards/r/RecklessVelocitaur.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Mage/src/main/java/mage/abilities/effects/common/CrewsVehicleSourceTriggeredAbility.java
Labels: cards, engine

#13387 [DFT] Implement Demonic Junker
  Mage.Sets/src/mage/cards/d/DemonicJunker.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
  Utils/keywords.txt
Labels: cards, dev

#13384 [DFT] Implement Captain Howler, Sea Scourge
  Mage.Sets/src/mage/cards/c/CaptainHowlerSeaScourge.java
  Mage.Sets/src/mage/sets/Aetherdrift.java
Labels: cards
