Repository magefree/mage, pull requests merged in 2025-04, with the labels that each got.

#13487 Update tokens
  Mage.Sets/src/mage/cards/c/CrushOfTentacles.java
  Mage.Sets/src/mage/cards/d/DanceOfTheTumbleweeds.java
  Mage.Sets/src/mage/cards/e/EyesOfTheWisent.java
  Mage.Sets/src/mage/cards/f/FleshCarver.java
  Mage.Sets/src/mage/cards/g/GrismoldTheDreadsower.java
  Mage.Sets/src/mage/cards/g/GrovetenderDruids.java
  Mage.Sets/src/mage/cards/i/InfernalGenesis.java
  Mage.Sets/src/mage/cards/m/MarathWillOfTheWild.java
  Mage.Sets/src/mage/cards/p/PhyrexianProcessor.java
  Mage.Sets/src/mage/cards/r/RallyTheHorde.java
  Mage.Sets/src/mage/cards/s/SeedGuardian.java
  Mage.Sets/src/mage/cards/s/SorinSolemnVisitor.java
  Mage.Sets/src/mage/cards/s/SpoilsOfBlood.java
  Mage.Sets/src/mage/cards/t/TumbleweedRising.java
  Mage.Sets/src/mage/cards/w/WalkerOfTheGrove.java
  Mage/src/main/java/mage/game/permanent/token/CrushOfTentaclesToken.java
  Mage/src/main/java/mage/game/permanent/token/DinDragonToken.java
  Mage/src/main/java/mage/game/permanent/token/Elemental44GreenToken.java
  Mage/src/main/java/mage/game/permanent/token/ElementalXXGreenToken.java
  Mage/src/main/java/mage/game/permanent/token/GrovetenderDruidsPlantToken.java
  Mage/src/main/java/mage/game/permanent/token/HorrorXXBlackToken.java
  Mage/src/main/java/mage/game/permanent/token/HumanRogueToken.java
  Mage/src/main/java/mage/game/permanent/token/MarathWillOfTheWildElementalToken.java
  Mage/src/main/java/mage/game/permanent/token/MinionToken.java
  Mage/src/main/java/mage/game/permanent/token/MinionToken2.java
  Mage/src/main/java/mage/game/permanent/token/NighteyesTheDesecratorToken.java
  Mage/src/main/java/mage/game/permanent/token/PhyrexianMinionToken.java
  Mage/src/main/java/mage/game/permanent/token/Plant11Token.java
  Mage/src/main/java/mage/game/permanent/token/RallyTheHordeWarriorToken.java
  Mage/src/main/java/mage/game/permanent/token/SorinSolemnVisitorVampireToken.java
  Mage/src/main/java/mage/game/permanent/token/SpoilsOfBloodHorrorToken.java
  Mage/src/main/java/mage/game/permanent/token/WalkerOfTheGroveToken.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine

#13493 [TDM] Implement Lotuslight Dancers
  Mage.Sets/src/mage/cards/l/LotuslightDancers.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards

#13496 Skip prompting player with no blockers to select blockers
  Mage.Client/src/main/java/mage/client/dialog/PreferencesDialog.form
  Mage.Client/src/main/java/mage/client/dialog/PreferencesDialog.java
  Mage.Server.Plugins/Mage.Player.Human/src/mage/player/human/HumanPlayer.java
Labels: server, client

#13497 [TDC] Implement Ureni of the Unwritten
  Mage.Sets/src/mage/cards/u/UreniOfTheUnwritten.java
  Mage.Sets/src/mage/sets/TarkirDragonstormCommander.java
Labels: cards

#13495 [TDM] Implement Highspire Bell-Ringer
  Mage.Sets/src/mage/cards/h/HighspireBellRinger.java
  Mage.Sets/src/mage/cards/r/RagingBattleMouse.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
  Mage/src/main/java/mage/abilities/condition/common/YouCastExactOneSpellThisTurnCondition.java
Labels: cards, engine

#13499 [TDM] Implement Glacierwood Siege
  Mage.Sets/src/mage/cards/g/GlacierwoodSiege.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards

#13500 [TDM] Implement Frostcliff Siege
  Mage.Sets/src/mage/cards/f/FrostcliffSiege.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards

#13467 [WHO] Implement Fugitive of the Judoon
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage.Sets/src/mage/cards/f/FugitiveOfTheJudoon.java
  Mage.Sets/src/mage/sets/DoctorWho.java
  Mage/src/main/java/mage/game/permanent/token/AlienRhinoToken.java
  Mage/src/main/java/mage/game/permanent/token/Human11WithWard2Token.java
  Mage/src/main/resources/tokens-database.txt
Labels: cards, engine, client

#13471 [ACR] Implement Layla Hassan
  Mage.Sets/src/mage/cards/l/LaylaHassan.java
  Mage.Sets/src/mage/sets/AssassinsCreed.java
Labels: cards

#13390 Fix for disconnect causing instant loss
  Mage.Server/src/main/java/mage/server/Main.java
Labels: server

#13443 [FIN] Implement Stiltzkin, Moogle Merchant
  Mage.Sets/src/mage/cards/s/StiltzkinMoogleMerchant.java
  Mage.Sets/src/mage/sets/FinalFantasy.java
  Mage/src/main/java/mage/constants/SubType.java
Labels: cards, engine

#13504 [TDM] Implement Wail of War
  Mage.Sets/src/mage/cards/w/WailOfWar.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards

#13513 [TDM] Death Begets Life
  Mage.Sets/src/mage/cards/d/DeathBegetsLife.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards

#13508 [TDM] Implement Betor, Kin to All
  Mage.Sets/src/mage/cards/b/BetorKinToAll.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards

#13522 [TDM] Implement Dragonfire Blade
  Mage.Sets/src/mage/cards/d/DragonfireBlade.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tdm/DragonfireBladeTest.java
Labels: cards, tests

#13524 [TDM] Focus the Mind and Sage of the Skies
  Mage.Sets/src/mage/cards/f/FocusTheMind.java
  Mage.Sets/src/mage/cards/r/RallyTheMonastery.java
  Mage.Sets/src/mage/cards/s/SageOfTheSkies.java
  Mage.Sets/src/mage/cards/s/SlickSequence.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
  Mage/src/main/java/mage/abilities/condition/common/CastAnotherSpellThisTurnCondition.java
Labels: cards, engine

#13475 [TDM] Implement harmonize mechanic
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/HarmonizeTest.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
  Mage/src/main/java/mage/abilities/keyword/CastFromGraveyardAbility.java
  Mage/src/main/java/mage/abilities/keyword/FlashbackAbility.java
  Mage/src/main/java/mage/abilities/keyword/HarmonizeAbility.java
  Mage/src/main/java/mage/constants/SpellAbilityCastMode.java
Labels: cards, engine, tests

#13519 [TDM] Hollowmurk Siege
  Mage.Sets/src/mage/cards/h/HollowmurkSiege.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
Labels: cards

#13527 Update Suspend for mdfc, adventure, omen
  Mage.Sets/src/mage/cards/d/Delay.java
  Mage.Sets/src/mage/cards/g/GandalfOfTheSecretFire.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/SuspendTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/tdm/TaigamMasterOpportunistTest.java
  Mage/src/main/java/mage/abilities/keyword/SuspendAbility.java
Labels: cards, engine, tests

#13512 [TDM] All-Out Assault
  Mage.Sets/src/mage/cards/a/AggravatedAssault.java
  Mage.Sets/src/mage/cards/a/AllOutAssault.java
  Mage.Sets/src/mage/cards/d/DovinsAcuity.java
  Mage.Sets/src/mage/cards/f/FullThrottle.java
  Mage.Sets/src/mage/cards/f/FuryOfTheHorde.java
  Mage.Sets/src/mage/cards/g/GrimReapersSprint.java
  Mage.Sets/src/mage/cards/j/JayaFieryNegotiator.java
  Mage.Sets/src/mage/cards/l/LastNightTogether.java
  Mage.Sets/src/mage/cards/m/MoraugFuryOfAkoum.java
  Mage.Sets/src/mage/cards/o/OverpoweringAttack.java
  Mage.Sets/src/mage/cards/r/RelentlessAssault.java
  Mage.Sets/src/mage/cards/r/ResponseResurgence.java
  Mage.Sets/src/mage/cards/s/SeizeTheDay.java
  Mage.Sets/src/mage/cards/w/WavesOfAggression.java
  Mage.Sets/src/mage/sets/TarkirDragonstorm.java
  Mage/src/main/java/mage/abilities/common/delayed/WhenYouAttackDelayedTriggeredAbility.java
  Mage/src/main/java/mage/abilities/condition/common/IsMainPhaseCondition.java
  Mage/src/main/java/mage/abilities/effects/common/AddCombatAndMainPhaseEffect.java
Labels: cards, engine

#13444 [BLB] Implement Clement, the Worrywort
  Mage.Sets/src/mage/cards/c/ClementTheWorrywort.java
  Mage.Sets/src/mage/sets/Bloomburrow.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/enters/ClementTheWorrywortTest.java
Labels: cards, tests

#13534 refactor: find targeting stack object
  Mage.Sets/src/mage/cards/a/AgrusKosEternalSoldier.java
  Mage.Sets/src/mage/cards/p/PawpatchRecruit.java
  Mage.Sets/src/mage/cards/s/SurrakElusiveHunter.java
  Mage/src/main/java/mage/abilities/common/BecomesTargetAnyTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BecomesTargetAttachedTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BecomesTargetControllerTriggeredAbility.java
  Mage/src/main/java/mage/abilities/common/BecomesTargetSourceTriggeredAbility.java
  Mage/src/main/java/mage/abilities/keyword/WardAbility.java
  Mage/src/main/java/mage/util/CardUtil.java
  Mage/src/main/java/mage/watchers/common/NumberOfTimesPermanentTargetedATurnWatcher.java
Labels: cards, engine

#13553 Improved server's reconnection and drafts stability
  Mage.Client/src/main/java/mage/client/draft/DraftPanel.java
  Mage.Client/src/main/java/mage/client/remote/CallbackClientImpl.java
  Mage.Common/src/main/java/mage/interfaces/callback/ClientCallback.java
  Mage.Common/src/main/java/mage/remote/SessionImpl.java
  Mage.Server/src/main/java/mage/server/Session.java
  Mage.Server/src/main/java/mage/server/User.java
  Mage.Server/src/main/java/mage/server/draft/DraftSession.java
  Mage.Server/src/main/java/mage/server/util/ThreadExecutorImpl.java
  Mage/src/main/java/mage/game/draft/BoosterDraft.java
  Mage/src/main/java/mage/game/draft/Draft.java
  Mage/src/main/java/mage/game/draft/DraftImpl.java
  Mage/src/main/java/mage/game/draft/DraftPlayer.java
  Mage/src/main/java/mage/game/draft/RandomBoosterDraft.java
  Mage/src/main/java/mage/game/draft/ReshuffledBoosterDraft.java
  Mage/src/main/java/mage/game/draft/RichManBoosterDraft.java
  Mage/src/main/java/mage/game/draft/RichManCubeBoosterDraft.java
  Mage/src/main/java/mage/game/match/MatchImpl.java
Labels: server, engine, client

#13552 Remove another card restriction for phyrexian dreadnought
  Mage.Sets/src/mage/cards/p/PhyrexianDreadnought.java
Labels: cards
