Repository magefree/mage, pull requests merged in 2025-07, with the labels that each got.

#13815 Add Freeform Unlimited deck type
  Mage.Client/src/main/java/mage/client/table/TablesPanel.java
  Mage.Server.Plugins/Mage.Deck.Constructed/src/mage/deck/FreeformUnlimited.java
  Mage.Server/config/config.xml
  Mage.Server/release/config/config.xml
Labels: server, client

#13813 exclude targeted permanent from damage
  Mage.Sets/src/mage/cards/n/NibelheimAflame.java
Labels: cards

#13807 More target adding, reattach improves
  Mage.Sets/src/mage/cards/c/CurseOfInertia.java
  Mage.Sets/src/mage/cards/d/DreamEater.java
  Mage.Sets/src/mage/cards/f/FarrelsMantle.java
  Mage.Sets/src/mage/cards/i/Incendiary.java
  Mage.Sets/src/mage/cards/j/JubilantMascot.java
  Mage.Sets/src/mage/cards/m/MantleOfTheAncients.java
  Mage.Sets/src/mage/cards/m/MuseVessel.java
  Mage.Sets/src/mage/cards/s/SoulSeizer.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/oneshot/OneShotNonTargetTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/afc/MantleOfTheAncientsTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/dka/SoulSeizerTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/woc/UnfinishedBusinessTest.java
  Mage/src/main/java/mage/abilities/common/AttachableToRestrictedAbility.java
  Mage/src/main/java/mage/abilities/keyword/ProvokeAbility.java
  Mage/src/main/java/mage/abilities/keyword/SoulshiftAbility.java
  Mage/src/main/java/mage/cards/CardImpl.java
  Mage/src/main/java/mage/game/GameImpl.java
Labels: cards, engine, tests

#13832 Added data collectors API, AI and testing tools improves
  .gitignore
  .travis.yml
  Mage.Client/src/main/java/mage/client/draft/DraftPickLogger.java
  Mage.Common/pom.xml
  Mage.Common/src/main/java/mage/view/ChatMessage.java
  Mage.Server/pom.xml
  Mage.Server/src/main/java/mage/server/ChatManagerImpl.java
  Mage.Server/src/main/java/mage/server/ChatSession.java
  Mage.Server/src/main/java/mage/server/MageServerImpl.java
  Mage.Server/src/main/java/mage/server/RoomImpl.java
  Mage.Server/src/main/java/mage/server/TableController.java
  Mage.Server/src/main/java/mage/server/game/GameController.java
  Mage.Server/src/main/java/mage/server/managers/ChatManager.java
  Mage.Server/src/main/java/mage/server/tournament/TournamentController.java
  Mage.Tests/src/test/java/org/mage/test/load/LoadTest.java
  Mage.Tests/src/test/java/org/mage/test/serverside/base/impl/CardTestPlayerAPIImpl.java
  Mage/pom.xml
  Mage/src/main/java/mage/collectors/DataCollector.java
  Mage/src/main/java/mage/collectors/DataCollectorServices.java
  Mage/src/main/java/mage/collectors/services/EmptyDataCollector.java
  Mage/src/main/java/mage/collectors/services/PrintGameLogsDataCollector.java
  Mage/src/main/java/mage/collectors/services/SaveGameHistoryDataCollector.java
  Mage/src/main/java/mage/game/Game.java
  Mage/src/main/java/mage/game/GameImpl.java
  Mage/src/main/java/mage/game/Table.java
  Mage/src/main/java/mage/game/match/Match.java
  Mage/src/main/java/mage/game/match/MatchImpl.java
  Mage/src/main/java/mage/game/tournament/MultiplayerRound.java
  Mage/src/main/java/mage/game/tournament/TournamentPairing.java
  Mage/src/main/java/mage/util/DebugUtil.java
Labels: AI, server, engine, tests, client, dev

#13710 Fix saga first chapter zcc
  Mage.Sets/src/mage/cards/g/GenesisOfTheDaleks.java
  Mage.Sets/src/mage/cards/l/LongListOfTheEnts.java
  Mage.Sets/src/mage/cards/s/SummonEsperValigarmanda.java
  Mage.Sets/src/mage/cards/t/TheAesirEscapeValhalla.java
  Mage.Sets/src/mage/cards/t/TheCreationOfAvacyn.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/cmm/BattleAtTheHelvaultTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/fic/SummonIxionTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/pip/Vault13DwellersJourneyTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/who/DayOfTheMoonTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/who/TheWarGamesTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/who/TrialOfATimeLordTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/woe/ThePrincessTakesFlightTest.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
Labels: cards, engine, tests

#13835 Revert "Fix saga first chapter zcc"
  Mage.Sets/src/mage/cards/g/GenesisOfTheDaleks.java
  Mage.Sets/src/mage/cards/l/LongListOfTheEnts.java
  Mage.Sets/src/mage/cards/s/SummonEsperValigarmanda.java
  Mage.Sets/src/mage/cards/t/TheAesirEscapeValhalla.java
  Mage.Sets/src/mage/cards/t/TheCreationOfAvacyn.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/cmm/BattleAtTheHelvaultTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/fic/SummonIxionTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/pip/Vault13DwellersJourneyTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/who/DayOfTheMoonTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/who/TheWarGamesTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/who/TrialOfATimeLordTest.java
  Mage.Tests/src/test/java/org/mage/test/cards/single/woe/ThePrincessTakesFlightTest.java
  Mage/src/main/java/mage/abilities/AbilityImpl.java
Labels: cards, engine, tests

#13848 update commons-compress dependency version to 1.27.1
  Mage.Server/pom.xml
Labels: server

#13854 Fix Station wrongly showing as activatable
  Mage/src/main/java/mage/abilities/keyword/StationAbility.java
Labels: engine

#13843 EOE/EOC Tokens
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage/src/main/java/mage/cards/repository/TokenRepository.java
  Mage/src/main/resources/tokens-database.txt
Labels: engine, client

#13851 Add Cards to Special Guests (SPG)
  Mage.Sets/src/mage/sets/SpecialGuests.java
Labels: cards

#13852 Add EOS Set
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/GathererSets.java
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportCards.java
  Mage.Sets/src/mage/sets/EdgeOfEternitiesStellarSights.java
Labels: cards, client

#13866 EOE and EOC Tokens
  Mage.Client/src/main/java/org/mage/plugins/card/dl/sources/ScryfallImageSupportTokens.java
  Mage/src/main/resources/tokens-database.txt
Labels: engine, client

#13867 Effect withTargetDescription, other fixes for discrepencies with "target" text with reference
  Mage.Sets/src/mage/cards/c/CircleOfFlame.java
  Mage.Sets/src/mage/cards/d/DrownInFilth.java
  Mage.Sets/src/mage/cards/e/EchoStorm.java
  Mage.Sets/src/mage/cards/e/EmpyrialStorm.java
  Mage.Sets/src/mage/cards/f/FuryStorm.java
  Mage.Sets/src/mage/cards/g/GenesisStorm.java
  Mage.Sets/src/mage/cards/h/HeliodsEmissary.java
  Mage.Sets/src/mage/cards/k/KothOfTheHammer.java
  Mage.Sets/src/mage/cards/l/LeapOfFaith.java
  Mage.Sets/src/mage/cards/m/MirrodinBesieged.java
  Mage.Sets/src/mage/cards/p/PalazzoArchers.java
  Mage.Sets/src/mage/cards/p/PippinsBravery.java
  Mage.Sets/src/mage/cards/p/PowerOfPersuasion.java
  Mage.Sets/src/mage/cards/r/RevengeOfTheHunted.java
  Mage.Sets/src/mage/cards/s/ScionOfStygia.java
  Mage.Sets/src/mage/cards/s/SkullStorm.java
  Mage.Sets/src/mage/cards/t/TurnAgainst.java
  Mage/src/main/java/mage/abilities/decorator/ConditionalOneShotEffect.java
  Mage/src/main/java/mage/abilities/effects/ContinuousEffectImpl.java
  Mage/src/main/java/mage/abilities/effects/Effect.java
  Mage/src/main/java/mage/abilities/effects/EffectImpl.java
  Mage/src/main/java/mage/abilities/effects/OneShotEffect.java
  Mage/src/main/java/mage/abilities/effects/OneShotNonTargetEffect.java
  Mage/src/main/java/mage/abilities/effects/common/CreateDelayedTriggeredAbilityEffect.java
  Mage/src/main/java/mage/abilities/effects/common/RollDieWithResultTableEffect.java
  Mage/src/main/java/mage/abilities/keyword/CommanderStormAbility.java
  Mage/src/main/java/mage/constants/ModeChoice.java
  Mage/src/main/java/mage/target/targetpointer/EachTargetPointer.java
  Mage/src/main/java/mage/target/targetpointer/NthTargetPointer.java
  Mage/src/main/java/mage/target/targetpointer/TargetPointer.java
  Mage/src/main/java/mage/target/targetpointer/TargetPointerImpl.java
Labels: cards, engine

#13874 Rework warp implementation
  Mage.Sets/src/mage/cards/f/FullBore.java
  Mage/src/main/java/mage/abilities/keyword/WarpAbility.java
  Mage/src/main/java/mage/game/stack/Spell.java
Labels: cards, engine

#13647 improve and enable checkMissTargeted verify test
  Mage.Sets/src/mage/cards/a/ArtifactWard.java
  Mage.Sets/src/mage/cards/b/Blink.java
  Mage.Verify/src/test/java/mage/verify/VerifyCardDataTest.java
Labels: cards, engine, tests

#13879 Fix bugs associated with Foretell ability
  Mage.Sets/src/mage/cards/b/BohnBeguilingBalladeer.java
  Mage.Sets/src/mage/cards/d/DreamDevourer.java
  Mage.Sets/src/mage/cards/e/EtherealValkyrie.java
  Mage.Sets/src/mage/cards/r/RanarTheEverWatchful.java
  Mage.Tests/src/test/java/org/mage/test/cards/abilities/keywords/ForetellTest.java
  Mage/src/main/java/mage/abilities/common/ForetellSourceControllerTriggeredAbility.java
  Mage/src/main/java/mage/abilities/condition/common/ForetoldCondition.java
  Mage/src/main/java/mage/abilities/keyword/ForetellAbility.java
  Mage/src/main/java/mage/game/events/GameEvent.java
  Mage/src/main/java/mage/watchers/common/ForetoldWatcher.java
Labels: cards, engine, tests
